@import "../mixins/variables";
@import "../mixins/media";
@import "../mixins/btn";

/*
その他のボタン

通常のボタンや、アイコンボタン以外のボタンを定義します。

sg-wrapper:
<div class="ec-role">
  <sg-wrapper-content/>
</div>

Styleguide 2.3
*/


/*
ページトップボタン

ページトップボタンを表示します

ex [商品詳細ページ　カートボタン部分](http://demo3.ec-cube.net/products/detail/30)

Markup:
.ec-blockTopBtn

Styleguide 2.3.1
*/
.ec-blockTopBtn{
  display: none;
  position: fixed;
  width:120px;
  height: 40px;
  right: 0;
  bottom: 10px;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  line-height: 40px;
  opacity: 0.8;
  background-color: #9da3a9;
  @include media_desktop {
    right:30px;
    bottom: 30px;
  }
}

/*
SNSボタン

全ページで使用される、SNS共有ボタンのコンポーネントです。

ex [トップページ　フッター](http://demo3.ec-cube.net/)

Markup:
.ec-socialButtons

Styleguide 2.3.2
*/
.ec-socialButtons {
  display: flex;
  justify-content: flex-end;
  line-height: 1;
  width: 100%;
  max-width: 1150px;
  margin: 16px auto 0;
  padding-right: 20px;
  padding-left: 20px;

  .ec-socialButtons__btn:not(:last-of-type) {
    margin-right: 16px;
  }
}

.front_page .ec-socialButtons {
  margin-top: 60px;
}
