@charset "utf-8";


/* 検索結果
----------------------------------------------- */
p.conditionarea {
    clear: both;
    width: 566px;
    margin: 0 auto;
    padding: 5px;
    border: solid 1px #333;
}


/* ページ送り
----------------------------------------------- */
.pagenumberarea {
    clear: both;
    width: 560px;
    margin: 20px 0;
    padding: 10px;
    background-color: #f3f3f3;
}

ul.pagenumberarea {
    border: 1px solid #CCCCCC;
}

p.pagenumberarea .pagenumber{
    color: #ff0000;
    font-weight: bold;
}

p.pagenumberarea .number{
    font-weight: bold;
}


/* 商品一覧 */

/* タイトル
----------------------------------------------- */
div#listtitle {
    width: 580px;
    margin: 0 0 10px 0;
    border-top: 2px solid #ff0000;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 2px solid #999;
    background: url("../img/products/title_icon.gif") no-repeat left center;
    background-color: #ffebca;
}

div#listtitle h2 {
    padding: 10px 0 10px 30px;
    font-size: 140%;
}


/* 商品
----------------------------------------------- */
div.listarea {
    clear: both;
    width: 580px;
    padding: 20px 0 30px 0;
    overflow: auto;
    background: url("../img/common/line_580.gif") no-repeat bottom;
}

div.listphoto {
    float: left;
    width: 130px;
}

div.listrightblock {
    float: right;
    width: 440px;
}

div.listrightblock li {
    display: inline;
    padding: 0 0 10px 0;
}

div.listrightblock h3 {
    width: 420px;
    margin: 5px 0;
    padding: 5px 10px;
    border-bottom: 2px solid #ebebd6;
    background-color: #f9f9ec;
    font-size: 120%;
}

div.listrightblock h3 a {
    font-size: 100%;
    font-weight: bold;
}

div.listrightblock .listcomment {
    margin: 0 0 10px 0;
}

div.listrightblock .pricebox {
    float: left;
}

div.listrightblock .btnbox {
    float: right;
}


/* 商品詳細 */

/* タイトル
----------------------------------------------- */
div#detailtitle {
    width: 580px;
    margin: 0 0 10px 0;
    border-top: 2px solid #ff0000;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 2px solid #999;
    background: url("../img/products/title_icon.gif") no-repeat left center;
    background-color: #ffebca;
}

div#detailtitle h2 {
    padding: 10px 0 10px 30px;
    font-size: 140%;
}


/* 商品
----------------------------------------------- */
div#detailarea {
    width: 580px;
    margin: 15px 0 0 0;
}

div#detailphotoblock {
    float: left;
    width: 292px;
}

div#detailphotoblock p {
    margin: 5px 0 0 0;
}

div#detailrightblock {
    float: right;
    width: 280px;
}

div#detailrightblock li {
    display: inline;
}

div#detailrightblock h2 {
    margin: 5px 0;
    padding: 0;
    color: #ff6600;
    font-size: 140%;
    font-weight: bold;
}

div#detailrightblock dl {
    padding: 15px 0 0 0;
}

div#detailrightblock dt {
    font-weight: bold;
    padding: 0 0 0 15px;
    background: url("../img/common/arrow_gray.gif") no-repeat left center;
}

div#detailrightblock dd{
    margin: 0 15px 0 0;
}

div#detailrightblock select {
    border: solid 1px #ccc;
}

div#detailrightblock .box54 {
    width: 54px;
    border: solid 1px #ccc;
}

div#detailrightblock .btn {
    clear: both;
    margin: 15px 0 0 0;
    padding: 15px 0 0 0;
    text-align: center;
    background: url("../img/common/line_280.gif") no-repeat;

}


/* サブタイトル
----------------------------------------------- */
div.subarea {
    clear: both;
    width: 580px;
    padding: 30px 0 0 0;
}

div.subarea h3 {
    width: 560px;
    font-size: 120%;
    margin: 0 0 10px 0;
    padding: 5px 10px;
    background-color: #e4e4e4;
}

div.subtext {
    float: left;
    width: 365px;
}

div.subphotoimg {
    float: right;
    width: 202px;
}

div.subphotoimg p {
    margin: 5px 0 0 0;
    text-align:right;
}


/* お客様の声
----------------------------------------------- */
div#customervoicearea {
    clear: both;
    width: 580px;
    padding: 35px 0 0 0;
}

div#customervoicearea h2 {
    padding: 0 0 10px 0;
}

div#customervoicearea .voicedate{
    font-weight: bold;
    margin: 10px 0 0 0;
}

div#customervoicearea .voicetitle{
    padding: 5px 0;
    font-size: 120%;
    font-weight: bold;
}

div#customervoicearea li {
    padding: 0 0 10px 0;
    background: url("../img/common/line_580.gif") no-repeat bottom;
}


/* この商品を買った人はこんな商品も買っています
----------------------------------------------- */
div#whoboughtarea {
    clear: both;
    width: 580px;
    padding: 35px 0 0 0;
}

div.whoboughtblock {
    clear: both;
    width: 580px;
    padding: 10px 0;
    overflow: auto;
    background: url("../img/common/line_578.gif") no-repeat bottom;
}

div.whoboughtleft {
    float: left;
    width: 280px;
    position: relative;
}

div.whoboughtleft img {
    display: block;
    float: left;
    margin: 0 5px 0 0;
}

div.whoboughtleft p {
    margin: 0 0 5px 0;
}

div.whoboughtright {
    float: right;
    width: 280px;
    position: relative;
}

div.whoboughtright img {
    display: block;
    float: left;
    margin: 0 5px 0 0;
}

div.whoboughtright p {
    margin: 0 0 5px 0;
}

div.whoboughtleft h3 {
    font-size: 100%;
}

div.whoboughtright h3 {
    font-size: 100%;
}
