//メディアクエリ

@mixin media_mainNav(){
  @media only screen and (max-width: 1280px) {
    @content;
  }
}

@mixin media_middle(){
  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}

@mixin media_small(){
  @media only screen and (max-width: 767px) {
    @content;
  }
}
