BODY {
	BACKGROUND: url(../images/background.gif) #fff repeat-x; MARGIN: 0px 0px 70px; FONT: 11px Lucida Grande, Verdana, Arial, Helvetica, sans serif
}
A {
	COLOR: #e8a400
}
A:hover {
	COLOR: #e8a400
}
A:visited {
	COLOR: #e8a400
}
A:active {
	COLOR: #e8a400
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#header {
	BACKGROUND: url(../images/header.gif) #7e9e50; MARGIN-BOTTOM: 25px; COLOR: #333; HEIGHT: 110px; TEXT-ALIGN: right
}
#header P {
	PADDING-RIGHT: 10px; DISPLAY: block; MARGIN: 0px; TEXT-TRANSFORM: lowercase; PADDING-TOP: 10px
}
#tagline {
	BORDER-RIGHT: #e8a400 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #e8a400 1px solid; PADDING-LEFT: 10px; MARGIN-BOTTOM: 25px; PADDING-BOTTOM: 10px; FONT: 12px/18px Verdana, sans-serif; MARGIN-LEFT: 60px; BORDER-LEFT: #e8a400 1px solid; COLOR: #e8a400; MARGIN-RIGHT: 60px; PADDING-TOP: 10px; BORDER-BOTTOM: #e8a400 1px solid; BACKGROUND-COLOR: #fff4d8; TEXT-ALIGN: center
}
#sidebar-container {
	FLOAT: right; MARGIN-BOTTOM: 35px; MARGIN-LEFT: 35px; WIDTH: 234px; MARGIN-RIGHT: 60px
}
#sidebar-container DIV.links {
	MARGIN-TOP: 20px
}
#sidebar-container DIV.links IMG {
	FLOAT: left; MARGIN-BOTTOM: 5px; MARGIN-RIGHT: 15px
}
#sidebar {
	BORDER-RIGHT: #c5dea1 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #c5dea1 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #c5dea1 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #c5dea1 1px solid; BACKGROUND-COLOR: #ecf3e1
}
#sidebar H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 13px/18px Georgia, serif; TEXT-TRANSFORM: lowercase; COLOR: #7e9e50; PADDING-TOP: 0px
}
#sidebar P {
	MARGIN-TOP: 5px; FONT-SIZE: 10px; COLOR: #444; LINE-HEIGHT: 16px
}
#sidebar UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#sidebar UL LI {
	MARGIN-TOP: 8px; MARGIN-BOTTOM: 2px
}
#sidebar UL LI UL {
	MARGIN-LEFT: 10px
}
#sidebar UL LI UL LI {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 2px
}
#content {
	MARGIN-LEFT: 60px; MARGIN-RIGHT: 340px
}
#content H1 {
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; FONT: italic 18px/18px Georgia, serif; TEXT-TRANSFORM: lowercase; COLOR: #7e9e50; PADDING-TOP: 0px; BORDER-BOTTOM: #c5dea1 1px dotted
}
#content H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 20px 0px 0px; FONT: italic 15px/15px Georgia, serif; TEXT-TRANSFORM: lowercase; COLOR: #7e9e50; PADDING-TOP: 0px
}
#content H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px 10px; FONT: bold 11px/14px Lucida Grande, Verdana, Arial, Helvetica, sans serif; TEXT-TRANSFORM: lowercase; PADDING-TOP: 0px
}
#content P {
	MARGIN-TOP: 10px; FONT-SIZE: 11px; MARGIN-LEFT: 10px; COLOR: #444; LINE-HEIGHT: 1.7
}
#content TABLE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 10px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
#content TABLE THEAD TR {
	
}
#content TABLE THEAD TH {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; COLOR: #444; PADDING-TOP: 2px; BORDER-BOTTOM: #c5dea1 1px dotted; TEXT-ALIGN: left
}
#content TABLE TBODY TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; COLOR: #444; PADDING-TOP: 2px; TEXT-ALIGN: left
}
#footer {
	BORDER-TOP: #ddd 1px solid; FONT-SIZE: 10px; Z-INDEX: 10000; BACKGROUND: url(../images/footer.gif) #f5f5f5; FILTER: alpha(opacity:90); LEFT: 0px; WIDTH: 100%; COLOR: #aaa; BOTTOM: 0px; BORDER-BOTTOM: #f5f5f5 10px solid; POSITION: fixed; TEXT-ALIGN: left; opacity: 0.9
}
#footer P {
	PADDING-LEFT: 35px; FLOAT: left; MARGIN: 0px; TEXT-TRANSFORM: lowercase; PADDING-TOP: 4px
}
#footer P.info {
	PADDING-RIGHT: 35px; FLOAT: right
}
#footer A {
	PADDING-LEFT: 20px; COLOR: #888
}
#footer P.info A {
	PADDING-LEFT: 0px
}
#license {
	CLEAR: both; WIDTH: 100%; COLOR: #444
}
#logo {
	FLOAT: left
}
#menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; RIGHT: 0px; PADDING-BOTTOM: 0px; MARGIN: -10px 0px 0px 35px; WIDTH: 670px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: absolute; TOP: 95px
}
#menu LI {
	FLOAT: left; TEXT-TRANSFORM: lowercase
}
#menu LI A {
	DISPLAY: block; FONT-WEIGHT: bold; BACKGROUND: url(../images/menu-button.gif) 110px 0px; WIDTH: 110px; COLOR: #fff; PADDING-TOP: 9px; HEIGHT: 16px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#menu A.active {
	BACKGROUND: url(../images/menu-button.gif) 0px 0px; COLOR: #7f9f50
}
#menu A:hover {
	BACKGROUND: url(../images/menu-button.gif) 0px 0px; COLOR: #7f9f50
}
DIV.demo DIV.example SPAN {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 20px 0px 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
DIV.demo {
	MARGIN: 10px; OVERFLOW: visible; WIDTH: 100%; POSITION: relative
}
DIV.demo DIV.example {
	BACKGROUND: url(../images/demo.gif); FLOAT: left; MARGIN-BOTTOM: 10px; WIDTH: 120px; MARGIN-RIGHT: 10px; HEIGHT: 120px
}
DIV.demo DIV.example IMG {
	WIDTH: 100%
}
#content PRE {
	OVERFLOW: auto; CURSOR: pointer; POSITION: relative
}
#content PRE CODE {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ddd 1px solid; DISPLAY: block; PADDING-LEFT: 4px; BACKGROUND: #f5f5f5; PADDING-BOTTOM: 4px; MARGIN: 10px; FONT: 10px Lucida Sans Typewriter, Courier, monospace; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #ddd 1px solid
}
#effectsdemo {
	MARGIN-LEFT: 10px; HEIGHT: 70px
}
#edmainpanel {
	BORDER-RIGHT: #e8a400 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #e8a400 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #e8a400 1px solid; WIDTH: 342px; PADDING-TOP: 4px; BORDER-BOTTOM: #e8a400 1px solid; HEIGHT: 45px; BACKGROUND-COLOR: #fff4d8
}
#edmainpanel INPUT.box {
	FONT-SIZE: 11px; WIDTH: 120px
}
#edmainpanel DIV.hint {
	COLOR: #888
}
#edwarning {
	COLOR: red
}
#edsubpanel {
	BORDER-RIGHT: #ddd 1px solid; Z-INDEX: 101; BACKGROUND: url(../images/footer.gif) #f5f5f5; MARGIN-LEFT: 25px; BORDER-LEFT: #ddd 1px solid; WIDTH: 300px; BORDER-BOTTOM: #ddd 1px solid; POSITION: absolute; HEIGHT: 150px
}
#edsubpanel DIV {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
#edsubpanel DIV A {
	FLOAT: right
}
#edresultscontainer {
	Z-INDEX: 100; FILTER: alpha(opacity:90); WIDTH: 352px; POSITION: absolute; opacity: 0.9
}
#edresults {
	HEIGHT: 200px
}
#edresults DIV {
	BORDER-RIGHT: #c5dea1 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #c5dea1 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #c5dea1 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #c5dea1 1px solid; BACKGROUND-COLOR: #ecf3e1
}
#edcloseresults {
	DISPLAY: block; WIDTH: 100%; BOTTOM: 0px; POSITION: relative; HEIGHT: 15px; TEXT-ALIGN: center
}
DIV.shopping_demo {
	HEIGHT: 110px
}
IMG.products {
	FLOAT: left; WIDTH: 100px; CURSOR: move; MARGIN-RIGHT: 10px; HEIGHT: 100px
}
DIV.cart {
	CLEAR: both; BORDER-RIGHT: #e8a400 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #e8a400 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; BORDER-LEFT: #e8a400 1px solid; WIDTH: 500px; PADDING-TOP: 8px; BORDER-BOTTOM: #e8a400 1px solid; BACKGROUND-COLOR: white
}
SPAN.title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444; PADDING-TOP: 10px
}
DIV#wastebin {
	BORDER-RIGHT: #888 1px dashed; PADDING-RIGHT: 8px; BORDER-TOP: #888 1px dashed; MARGIN-TOP: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 20px; PADDING-BOTTOM: 8px; BORDER-LEFT: #888 1px dashed; WIDTH: 500px; COLOR: #ccc; PADDING-TOP: 8px; BORDER-BOTTOM: #888 1px dashed; HEIGHT: 25px; TEXT-ALIGN: center
}
DIV.cart IMG {
	FLOAT: left; WIDTH: 32px; MARGIN-RIGHT: 10px; HEIGHT: 32px
}
DIV.cart DIV {
	CLEAR: left; FONT-WEIGHT: normal; COLOR: #444
}
UL.sortablelist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.sortabledemo LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
SPAN.handle {
	CURSOR: move; COLOR: white; BACKGROUND-COLOR: #e8a400
}
LI.green {
	BORDER-RIGHT: #c5dea1 1px solid; BORDER-TOP: #c5dea1 1px solid; BORDER-LEFT: #c5dea1 1px solid; CURSOR: move; BORDER-BOTTOM: #c5dea1 1px solid; BACKGROUND-COLOR: #ecf3e1
}
LI.orange {
	BORDER-RIGHT: #e8a400 1px solid; BORDER-TOP: #e8a400 1px solid; BORDER-LEFT: #e8a400 1px solid; BORDER-BOTTOM: #e8a400 1px solid; BACKGROUND-COLOR: #fff4d8
}
#puzzle {
	BORDER-RIGHT: #e8a400 1px solid; BORDER-TOP: #e8a400 1px solid; MARGIN-LEFT: 10px; BORDER-LEFT: #e8a400 1px solid; WIDTH: 450px; BORDER-BOTTOM: #e8a400 1px solid; HEIGHT: 450px
}
#puzzle IMG {
	FLOAT: left; MARGIN: 0px; CURSOR: move
}
SPAN.congrats {
	FONT-WEIGHT: bold; COLOR: white; BACKGROUND-COLOR: #e8a400
}
DIV.cart-active {
	BACKGROUND-COLOR: #fff4d8
}
DIV.wastebin-active {
	BORDER-RIGHT: #e8a400 1px solid; BORDER-TOP: #e8a400 1px solid; BORDER-LEFT: #e8a400 1px solid; BORDER-BOTTOM: #e8a400 1px solid; BACKGROUND-COLOR: #fff4d8
}
