{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>パスワード発行メールの送信 完了</h1>
        </div>
    </div>
    <div class="ec-forgetCompleteRole">
        <div class="ec-off3Grid ec-text-ac">
            <div class="ec-off3Grid__cell">
                <div class="ec-reportHeading">
                    <h2>パスワード再発行メールの送信が完了しました。</h2>
                </div>
                <p class="ec-reportDescription">ご登録メールアドレスにパスワードを再発行するためのメールを送信いたしました。<br>メールの内容をご確認いただきますよう、お願いいたします。</p>
                <p class="ec-reportDescription">※メールが届かない場合はメールアドレスをご確認の上、再度お試しください。</p>
            </div>
        </div>
    </div>
{% endblock %}


