{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}

    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>パスワード変更(完了ページ)</h1>
        </div>
    </div>
    <div class="ec-forgetCompleteRole">
        <div class="ec-off3Grid ec-text-ac">
            <div class="ec-off3Grid__cell">
                <div class="ec-reportHeading">
                    <h2>新しいパスワードが送信されました。</h2>
                </div>
                <p class="ec-reportDescription">新しいパスワード送り致しましたので、メールをご確認ください。</p>
                <p class="ec-reportDescription">今後ともご愛顧賜りますようよろしくお願い申し上げます。</p>
            </div>
        </div>
    </div>
{% endblock %}


