{% extends 'site_main.twig' %}

{% block main %}
    <div id="undercolumn">
        <div id="undercolumn_error">
            <div class="message_area">
                {% for message in app.session.flashbag.get('shopping')  %}
                <p class="error">{{ message|trans|raw }}</p>
                {% endfor %}
            </div>
            <div class="btn_area">
                <ul>
                    <li>
                        <a href="{{ path('cart') }}"><img class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_back.jpg" alt="カートへ戻る" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}