{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    {% include "Components/heading.twig" with {'title': 'front.forgot.complete_title' } %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary p-4 text-center" role="alert">
                <h4 class="alert-heading text-dark pb-2">{{ 'front.forgot.complete_message__title'|trans }}</h4>
                <p>{{ 'front.forgot.complete_message__body'|trans|nl2br }}</p>
            </div>
        </div>
    </div>
{% endblock %}


