@charset "utf-8";

* { margin: 0; padding: 0; }

/* 上記による Fierfox 2 崩れ対応 */
option {
    margin-right: 0.5em;
}

html {height: 100%;}
body {
    font-size: 80%;
    font-family:"ＭＳ Ｐゴシック","Hiragino Maru Gothic Pro","ヒラギノ丸ゴ Pro W4",Osaka,sans-serif;
    background: #FFFFFF;
    height: 100%;
    line-height: 150%;
}
option{
    font-size: 1em;
	margin-right: 3px;
}
input,textarea {
    font-size: 1em;
	margin-right: 3px;
}
select{
    font-size: 1em;
	margin-bottom: 5px;
}

img {
    border: 0;
}

ul,li{
	list-style: none;
}
hr{
	display: none;
}

h1 {
    background: url(../img/contents/subtitle_back_02.jpg) repeat-x;
    border-top: 1px solid #B3B4BD;
    border-bottom: 1px solid #D9DADF;
    height: 30px;
    line-height: 30px;
    color: #444757;
    font-size: 1.3em;
}
h1 .title{
    background: url(../img/contents/subtitle_back.gif) no-repeat;
	padding-left: 20px;
}

h2 {
    font-size: 1.1em;
    border-bottom: 3px solid #CCCCCC;
    margin: 0 0 10px 0;
    padding: 5px 0;
    color: #444757;
}
h3, h4 {font-size: 1em;}
em {color: #FF0000;font-style: normal;}


/*テーブル設定*/
table {
    font-size: 1em;
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 20px;
}
th, td { padding: 5px;border:1px solid #CCCCCC;}
th {
width: 240px;
background: url('../img/contents/table_back.png') repeat-x #f4f5f5;
font-weight:normal;
text-align:left;
}
table.list th {
text-align: center; 
background: url('../img/contents/table_back02.png') repeat-x #c1c1c1;
}
table.list th.column {
text-align: center; 
background: url('../img/contents/table_back.png') repeat-x #f4f5f5;
}
table.list .edit,
table.list .delete {
	width: 10%;
}
table.list{
	width: 100%;
}

table.list th.left { text-align: left; }
table.list th.right { text-align: right; }
table.list td.id,
table.list td.thumbnail {
    text-align: center;
}
table.list td.menu {
    text-align: center;
    vertical-align: middle;
}
table.form thead th { text-align: center; width: auto; }

.contents-main .btn-area,
#popup .btn-area{
	width: 100%;
	padding: 20px 0px;
	margin : 0 0 60px 0;
	text-align: center;
	background:#f5f5f5;
    clear: both;
}

.contents-main .btn-area li,
#popup .btn-area li{
	margin-right: 10px;
	display: inline;
}


/*通常ボタン*/
.btn-normal,
a.btn-normal:link,
a.btn-normal:visited{
	display:inline-block;
    text-decoration: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #eee;
    background-image: url('../img/button/white-grad.png');
    padding: 2px 10px;
    white-space: nowrap;
    border: solid 1px #bcbecb;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
	color: #444757;

    /* CSS3 radius */
    border-radius: 5px;
    /* Safari, Chrome radius */
    -webkit-box-sizing: content-box;
    -webkit-border-radius: 5px;
    /* Firefox radius */
    -moz-border-radius: 5px;
    /* Safari, Chrome radius */
    -webkit-box-sizing: content-box;
    -webkit-border-radius: 5px;
    /* Firefox radius */
    -moz-border-radius: 5px;
}

/*ツールボタン 共通部分*/
.btn-tool-format,
a.btn-tool-format:link,
a.btn-tool-format:visited{
	display:inline-block;
    text-decoration: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #c9cbcb;
    background: url('../img/button/white-grad03.png') repeat-x #eee;
    background-origin: padding-box;
    padding: 0px 6px;
    border: solid 1px #6b6d87;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
	color: #444757;

    /* CSS3 radius */
    border-radius: 4px;
    /* Safari, Chrome radius */
    -webkit-box-sizing: content-box;
    -webkit-border-radius: 4px;
    /* Firefox radius */
    -moz-border-radius: 4px;
    /* Safari, Chrome radius */
    -webkit-box-sizing: content-box;
    -webkit-border-radius: 4px;
    /* Firefox radius */
    -moz-border-radius: 4px;
}

/*ツールボタン コンテンツ*/
.btn-tool,
a.btn-tool:link ,
a.btn-tool:visited {
	display:inline-block;
    text-decoration: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #c9cbcb;
    background: url('../img/button/white-grad.png') repeat-x #eee;
    background-origin: padding-box;
    padding: 0px 6px;
    border: solid 1px #999;
    cursor: pointer;
    font-size: 11px;
	color: #444757;

    /* CSS3 radius */
    border-radius: 4px;
    /* Safari, Chrome radius */
    -webkit-box-sizing: content-box;
    -webkit-border-radius: 4px;
    /* Firefox radius */
    -moz-border-radius: 4px;
    /* Safari, Chrome radius */
    -webkit-box-sizing: content-box;
    -webkit-border-radius: 4px;
    /* Firefox radius */
    -moz-border-radius: 4px;
}

/*登録する・検索するボタン*/
.btn-action,
a.btn-action:link,
a.btn-action:visited {
	display:inline-block;
    text-decoration: none;
    background-attachment: scroll;
    background-clip: border-box;
    background: url('../img/button/white-grad04.png') top repeat-x #eee;
    padding: 5px 10px;
    white-space: nowrap;
    border: solid 1px #bcbecb;
    cursor: pointer;
    font-size: 80%;
    font-weight: normal;
	color: #444757;

    /* CSS3 radius */
    border-radius: 5px;
    /* Safari, Chrome radius */
    -webkit-box-sizing: content-box;
    -webkit-border-radius: 5px;
    /* Firefox radius */
    -moz-border-radius: 5px;
    /* Safari, Chrome radius */
    -webkit-box-sizing: content-box;
    -webkit-border-radius: 5px;
    /* Firefox radius */
    -moz-border-radius: 5px;
}

/*戻るボタン*/
.btn-action .btn-prev{
	padding: 0px 0px 0px 20px;
	background: url('../img/button/ico_prev.gif') left no-repeat;
	font-weight: bold;
	font-size: 114%;
	display:inline-block;
}
/*進むボタン*/
.btn-action .btn-next{
	padding: 0px 20px 0px 0px;
	background: url('../img/button/ico_next.gif') right no-repeat;
	font-weight: bold;
	font-size: 114%;
	display:inline-block;
}

a.btn-normal:hover,
a.btn-action:hover{
	color: #6d728b;
    border: solid 1px #d5d7df;
}

a.btn:active,
a.btn-normal:active {
    background-image: url('../img/button/white-grad-active.png');
}

#contents ul {margin: 0 0 0 2em;}

/*LINK*/
a:link { color: #3399cc; text-decoration: none; }
a:visited { color: #3399cc; text-decoration: none; }
a:hover { color: #3399cc; text-decoration: none; }

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

.attention { color: #FF0000; }


/* ヘッダー
----------------------------------------------- */
#header {
	width: 100%;
    height: 51px;
    background: url('../img/header/header_back.jpg') 0 0 repeat-x;
}
#header-contents {width: 1030px;}
#logo {
	width: 184px;
	float: left;
	padding:12px 0px 0px 12px;
}
#site-check {
	width: 820px;
	float: right;
}
#site-check p.info{
	width: 580px;
	padding-top: 16px;
	float: left;
	color: #fff;
	font-size: 0.8em;
}
#site-check ul{
	padding-top: 14px;
	float: right;
}
#site-check ul li{
	float: left;
	margin-right: 10px;
}


/* ヘッダーナビ
----------------------------------------------- */
#navi{
	width: 100%;
    min-height: 26px;
    background: url('../img/header/navi_back.jpg') repeat-x;
    z-index:90;
}

#navi li {
    background: url('../img/header/navi_back_line.jpg') no-repeat right;
}

#navi li, #navi li a,#navi li a span{
    display: block;
	line-height: 200%;
    min-height: 26px;
    float: left;
    cursor: pointer;
	font-size: 1em;
}

#navi li {
    position: relative;
}
#navi li a {
    color: #2D2F39;
    font-weight: bold;
    text-decoration: none;
}
#navi li a span {padding: 0 8px;}
#navi li a:hover {background: url(../img/header/navi_on.jpg) left 0 repeat-x;}
#navi li a:hover span {background: url(../img/header/navi_on.jpg) left 0 repeat-x;}
#navi li.on a {background: url(../img/header/navi_on.jpg) left 0 repeat-x;}
#navi li.on a span {background: url(../img/header/navi_on.jpg) left 0 repeat-x;}
#navi li.sfhover a {background: url(../img/header/navi_on.jpg) left 0 repeat-x;}
#navi li.sfhover a span {background: url(../img/header/navi_on.jpg) left 0 repeat-x;}

#navi li ul {
    width: 14.8em;
    height: auto;
    position: absolute;
    top: 26px;
    left: -999em;
    font-weight: normal;
    clear: both;
}


/*プルダウンメニュー 第1階層*/
#navi li li, #navi li li a, #navi li li a span {
    width: 14.8em;
    height: 2em;
    line-height: 2em;
    display: block;
	background: #787878;
	font-weight: normal;
	color: #fff;
	background:url('../img/header/subnavi_bak.gif') top left no-repeat #787878; 
}

#navi li li {border: solid #888;border-width: 0 0 1px 0; }
#navi li li a span {text-indent: 8px;}
#navi li li a:hover { background: url('../img/header/subnavi_bak_on.gif') top left no-repeat #474747;}
#navi li li a:hover span { background: #666;}
#navi li.on li a, #navi li.on li a span, #navi li li.on a, #navi li li.on a span { background: transparent; }
#navi li.sfhover li a, #navi li.sfhover li a span, #navi li li.sfhover a, #navi li li.sfhover a span { background: transparent; }
#navi li.sfhover li a:hover { background: url('../img/header/subnavi_bak_on.gif') top left no-repeat #474747;}
#navi li li.sfhover a:hover { background:url('../img/header/subnavi_bak_on.gif') top left no-repeat #474747; }

/*プルダウンメニュー 第2階層*/
#navi li li li, #navi li li a, #navi li li li a span {
    width: 14.8em;
    height: 2em;
    line-height: 2em;
    display: block;
	background: #787878;
	font-weight: normal;
	color: #fff;
}
#navi li li li.sfhover a:hover {
    background :url('../img/header/ico_sub_navi.gif') no-repeat left #474747;
}

#navi li ul ul {
    margin: -2em 0 0 14.8em;
}
#navi li:hover ul ul, #navi li:hover ul ul ul, #navi li.sfhover ul ul, #navi li.sfhover ul ul ul {
    left: -999em;
}
#navi li:hover ul, #navi li li:hover ul, #navi li li li:hover ul,
#navi li.sfhover ul, #navi li li.sfhover ul, #navi li li li.sfhover ul {
    left: auto;
}


/*subnavi*/
.subnavi a{
    background-color: #666666;
    width:140px;
    padding: 6px 5px 4px 5px;
    color:#ffffff;
    text-decoration:none;
    display:block;
}
.subnavi a:visited {
    color:#ffffff;
    text-decoration:none;
}
.subnavi a:hover {
    background-color: #666666;
    color:#000000;
    text-decoration:none;
}
.subnavi_text {
    font-size: 71%;
    padding: 0 0 0 8px;
}
.subnavi-on a{
    background-color: #666666;
    width:140px;
    padding: 6px 5px 4px 5px;
    color:#000000;
    text-decoration:none;
    display:block;
}
.subnavi-on a:visited {
    color:#000000;
    text-decoration:none;
}
.subnavi-on a:hover {
    background-color: #666666;
    color:#000000;
    text-decoration:none;
}
.number-on a:visited {
    color:#ffffff;
    text-decoration:none;
}
.number a:visited {
    color:#ffffff;
    text-decoration:none;
}

#agreement{
    height: 120px;
    width: 480px;
    overflow: auto;
    margin: 0px;
    background-color : #FFFFFF;
    border-style: solid;
    border-color: #C0C0C0;
    border-width: 1px
}
/* ページャ */
#contents .pager ul {list-style-type: none;margin: 10px 0;}
.pager li {display: inline;}
.pager li a {border: 1px solid #CCCCCC;padding: 3px 5px;}
.pager li.on a {background: #f2f1ec;border: 1px solid #333333;}
.pager li a:hover, .pager li.on a:hover {background: #FFF5EE;}


/* コンテンツ
----------------------------------------------- */
* html div#container{
        position: relative;
        height: 100%;
        min-height: 100%;
}
body > #container {
    height: auto;
}
#container {
    position: relative;
    min-height: 100%;
}

#contents {
	padding: 20px 20px 8em;
	width: 1000px;
	padding-bottom: 40px;
}

#footer {
    width: 100%;
	position: absolute;
	bottom: 0;
	height: 40px;
	background: url(../img/contents/footer_back.jpg) 0 0 repeat-x;
}
#footer-contents {
    width: 1020px;
	padding-top:10px;
    text-align: right;
}
#footer #copyright{
	float: left;
	margin-left: 20px;
    text-align: left;
	color: #fff;
	font-size: 0.88em;
}
#footer #topagetop{
	float: right;
}


/* ログイン
----------------------------------------------- */
#login{
	width: 100%;
	height: 100%;
}
#login-form-wrap{
	width: 556px;
	height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -125px 0 0 -278px;
	background: url('../img/contents/login_back.jpg') 0 0 repeat-x;
}

#login-form{
	width: 556px;
	clear: both;
}

#login-form h1{
	width: 90px;
	height: 150px;
	margin-top: 46px;
	padding-left: 50px;
	float: left;
	background: none;
	border: none;
}

#input-form {
	width: 255px;
	margin-top: 40px;
	padding-right: 30px;
	float: right;
}

#input-form p{
	margin-top: 10px;
	color: #fff;
	font-size: 80%;
}

#input-form .btn-tool{
	margin-top: 5px;
}

#login #copyright{
	padding-top: 55px;
	margin: 0px 10px 0px 10px;
	font-size: 87%;
	color: #333;
	clear: both;
}

/* エラーメッセージ
----------------------------------------------- */
#login-error-wrap{
	width: 100%;
	height: 100%;
}

#error-wrap #error .logo{
	float: right;
	padding-bottom: 5px;
}

#error{
	width: 560px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -126px 0 0 -279px;
}

#error .error-top{
	width: 560px;
	height: 10px;
    background: url('../img/contents/login_back_top.jpg') bottom left no-repeat;
	clear: both;
}

#error .contents{
	border-left: solid 1px #d9dadf;
	border-right: solid 1px #D9DADF;
}

#error .contents .message{
	padding: 20px 30px;
	text-align: center;
}

#error .btn-area-top{
	width: 560px;
	height: 10px;
    background: url('../img/contents/login_back_btn_top.jpg') left no-repeat;
}

#error .btn-area ul{
	width: 560px;
	background: url('../img/contents/login_back_btn_contents.jpg') top left no-repeat #f4f5f5;
	padding: 20px 0px 10px 0px;
}

#error .btn-area ul li{
	text-align: center;
}

#error .btn-area-bottom{
	width: 560px;
	height: 10px;
	background: url('../img/contents/login_back_btn_bottom.jpg') bottom left no-repeat #eeeff0;
}


/* 完了メッセージ
----------------------------------------------- */
#complete{
	width: 560px;
	margin: 40px 0px 0px 80px;
}

#complete .complete-top{
	width: 560px;
	height: 10px;
    background: url('../img/contents/login_back_top.jpg') bottom left no-repeat;
	clear: both;
}

#complete .contents{
	border-left: solid 1px #d9dadf;
	border-right: solid 1px #d9dadf;
}

#complete .contents .message{
	padding: 20px 30px;
	text-align: center;
	font-weight: bold;
	color: #b77615;
}

#complete .btn-area-top{
	width: 560px;
	height: 10px;
    background: url('../img/contents/login_back_btn_top.jpg') left no-repeat;
}

#complete .btn-area ul{
	width: 560px;
	background: url('../img/contents/login_back_btn_contents.jpg') top left no-repeat #f4f5f5;
	padding: 20px 0px 10px 0px;
	margin: 0px;
	text-align: center;
}

#complete .btn-area ul li{
	display: inline;
	margin-right: 10px;
}

#complete .btn-area-bottom{
	width: 560px;
	height: 10px;
	background: url('../img/contents/login_back_btn_bottom.jpg') bottom left no-repeat #eeeff0;
	clear: both;
}

/* メインページ
----------------------------------------------- */
#home-main {margin-right: 300px;}
#home-main table {width: 100%;}
* html #home-main table {width: 99%;}

#home .shop-info {margin: 0 0 20px;}
#home .shop-info td {text-align:right;width: 60%;}

#home-info {width: 280px;float: right;border-left: 1px solid #CCCCCC;}

.home-info-item {width: 260px;margin: 0 0 15px 20px;font-size: 0.8em;line-height: 1.4em;}
.home-info-item .body {margin: 5px 0 0 0;}
.home-info-item .date {background: #DDDDDD;padding: 5px 10px 0px;}
.home-info-item .title {background: #DDDDDD;padding: 0px 10px 5px;}


/* 基本情報管理
----------------------------------------------- */
/* 郵便番号DB登録 */
.basis-zip-item {
    margin-bottom: 30px;
}

.basis-zip-item.end {
    margin-bottom: 60px;
}

.basis-zip-item.info {
    padding-top: 20px;
}

.basis-zip-item p {
    margin-bottom: 10px;
}


/* 商品管理
----------------------------------------------- */
#products-category-left, #products-rank-left {float:left;width:20em;}
#products-category-right, #products-rank-right {margin-left: 22em;}
#products-class-list .action {width: 100px;}


#products-category-left, #products-rank-left {
    width: 230px;
    border: 3px solid #ddd;
    padding: 10px;
    background-color: #F3F3F3;
}

#products-category-right .now_dir{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom:20px;
}

/* 受注管理
----------------------------------------------- */
/* ステータス管理 */
#order-status-list th.id {width: 40px;}

/* 期間別集計
----------------------------------------------- */
#graph-image {
    margin: 0 0 20px 0;
}

/* デザイン管理
----------------------------------------------- */
/* レイアウト設定 */

.design-layout {
    table-layout: fixed;
}
.design-layout th,
.design-layout td {
    vertical-align: top;
    text-align: center;
}
#design-layout-used {
    width: 525px;
}
#design-layout-unused {
    width: 175px;
}
.design-layout #LeftNavi,
.design-layout #MainHead,
.design-layout #RightNavi {
    width: 33.33%;
}
.design-layout #TopNavi,
.design-layout #HeadNavi,
.design-layout #HeaderTopNavi,
.design-layout #LeftNavi,
.design-layout #MainHead,
.design-layout #MainFoot,
.design-layout #RightNavi,
.design-layout #BottomNavi,
.design-layout #FooterBottomNavi,
.design-layout #HeaderInternalNavi,
.design-layout #Unused {
    padding-bottom: 20px;
    height: 10px; /* IE6応急処置 */
}
.design-layout div.sort {
    border:     1px solid black;
    background: rgb(195,217,255);
    color:      #333;
    padding:    5px 2px;
    margin:     5px 0;
    font-size:  10pt;
    text-align: center;
}
.design-layout .anywherecheck {
    white-space: nowrap;
}
.placeholder {
    border: 1px dashed #AAA;
    height: 20px;
}
#layout-header {
    vertical-align: middle;
}

/* フォーム
----------------------------------------------- */
div.btn,
p.remark {
    margin: 0 0 20px 0;
}

.addbox  {
margin-top:5px;
}

/*FORM*/
.box3 { width: 33px; }	/*W3*/
.box6 { width: 54px; }	/*W6*/
.box10 { width: 82px; }	/*W10*/
.box20 { width: 152px; }	/*W20*/
.box25 { width: 187px; }	/*W25*/
.box30 { width: 222px; }	/*W30*/
.box33 { width: 243px; }	/*W33*/
.box35 { width: 257px; }	/*W35*/
.box40 { width: 292px; }	/*W40*/
.box45 { width: 341px; }	/*W45*/
.box50 { width: 362px; }	/*W50*/
.box52 { width: 376px; }	/*W52*/
.box54 { width: 390px; }	/*W54*/
.box60 { width: 432px; }	/*W60*/
.box65 { width: 467px; }	/*W65*/
.box68 { width: 488px; }	/*W68*/
.box76 { width: 544px; }	/*W76*/

.area40 { width: 302px; height: 134px; }	/*W40×H8*/
.area45 { width: 337px; height: 290px; }	/*W40×H20*/
.area46 { width: 337px; height: 134px; }	/*W40×H8*/
.area50 { width: 372px; height: 82px; }	/*W50?H4*/
.area55 { width: 407px; height: 82px; }	/*W50?H4*/
.area59 { width: 432px; height: 134px; }	/*W59×H8*/
.area60 { width: 433px; height: 134px;}	/*W60?H8*/
.area61 { width: 433px; height: 82px; }	/*W60?H4*/
.area65 { width: 444px; height: 290px; }	/*W65×H20*/
.area70 { width: 512px; height: 186px; }	/*W70?H12*/
.area75 { width: 547px; height: 186px; }	/*W75?H12*/
.area80 { width: 572px; height: 134px; }	/*W80×H8*/
.area90 { width: 650px; height: 420px; }
.area96 { width: 694px; height: 420px; }	/*W80×H30*/
.area96_2 { width: 694px; height: 160px; }	/*W80×H10*/
.area99 { width: 715px; height: 523px; }	/*W99?H40*/

/*COLOR*/
.red { color: #ff0000; }

/*
** Markup free clearing
** Details: http://www.positioniseverything.net/easyclearing.html
*/
.clear-block:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clear-block {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clear-block {
    height: 1%;
}
.clear-block {
    display: block;
}
/* End hide from IE-mac */

/* 権限 */
x-dummy
,.authority_1 #navi-basis-masterdata
,.authority_1 #navi-contents-file
,.authority_1 #navi-design-bloc
,.authority_1 #navi-design-template
,.authority_1 #navi-design-add
,.authority_1 #navi-system
,.authority_1 #navi-ownersstore
{
    /* display: none; --- IE で不具合 */
    height: 0;
    width: 0;
    overflow: hidden;
    border: none;
    visibility: hidden;
}

/* DnD並び替え系の設定 */
tr.movingHandle td {
    background-color: #EEE;
}
.dragHandle { /* ハンドルの設定 */
    text-align: center;
	font-weight: bold;
	cursor: n-resize;
}
.activeHandle { /* アクティブハンドルの設定 */
    color: #F9A406;
}

table.layout,
table.layout th,
table.layout td {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    vertical-align: top;
}

/* ログ表示用 */
.log td {
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: top;
}
.log .date {
    white-space: nowrap;
}


/* ポップアップ画面用 */
body#popup {
    width: 100%;
}
#popup-header {
    width: 100%;
	height: 35px;
	margin-bottom: 30px;
	background: url('../img/header/popup_back.jpg') repeat-x;
	text-align: right;
}
#popup-logo {padding: 10px 10px 0 0;}
#popup-container{
	width: 560px;
	padding: 0px 20px;
	margin: 0 auto;
}




