database:
    driver: pdo_pgsql
    dbname: sample_dbname
    user: sample_user
    password: sample_password
    charset: utf8
mail:
    host: localhost
    port: 25
    username: sample
    password: sample
    encryption:
    auth_mode: 
auth_magic: droucliuijeanamiundpnoufrouphudrastiokec
password_hash_algos: sha256
root: /
tpl: /user_data/packages/default/
admin_tpl: /user_data/packages/admin/
image_path: /upload/save_image/
shop_name: EC-CUBE3 SHOP
mail_cc:
    - eccube@example.com
ECCUBE_VERSION: 3.0.0-dev
customer_confirm_mail: false

form_country_enable: false
default_password: '******'

target_id_unused: 0
target_id_left: 1
target_id_main_head: 2
target_id_right: 3
target_id_main_foot: 4
target_id_top: 5
target_id_bottom: 6
target_id_head: 7
target_id_head_top: 8
target_id_footer_bottom: 9
target_id_header_internal: 10
