# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: 'en'
    # This parameter defines the codes of the locales (languages) enabled in the application
    app_locales: en|fr|de|es|cs|nl|ru|uk|ro|pt_BR|pl|it|ja|id|ca|sl|hr|zh_CN
    app.notifications.email_sender: anonymous@example.com
    admin_route: 'admin'
    user_data_route: 'user_data'
    eccube.scheme: 'http'
    eccube.theme: 'default'
    eccube.twig.block.templates:
      - render_blocks.twig

services:
    # default configuration for services in *this* file
    _defaults:
        # automatically injects dependencies in your services
        autowire: true
        # automatically registers your services as commands, event subscribers, etc.
        autoconfigure: true
        # this means you cannot fetch services directly from the container via $container->get()
        # if you need to do this, you can override this setting on individual services
        public: false

        bind:
          $admin_route: '%admin_route%'
          $auth_magic: '%env(ECCUBE_AUTH_MAGIC)%'
          $auth_type: 'HMAC'
          $password_hash_algos: 'sha256'
          $eccubeConfig: '%eccube.constants%'
          $projectRoot: '%kernel.project_dir%'

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    Eccube\:
        resource: '../../../src/Eccube/*'
        # you can exclude directories or files
        # but if a service is unused, it's removed anyway
        exclude: '../../../src/Eccube/{Annotation,Application,Common,ControllerProvider,DataCollector,DI,Entity,Exception,Log,Plugin,Routing,ServiceProvider,Util,Resource,Doctrine/ORM/tools/}'

    Eccube\Service\TaxRuleService:
        lazy: true
        public: true

    # controllers are imported separately to make sure they're public
    # and have a tag that allows actions to type-hint services
    Eccube\Controller\:
        resource: '../../../src/Eccube/Controller'
        tags: ['controller.service_arguments']

    # Form Extensions
    Eccube\Form\Extension\DoctrineOrmExtension:
        tags:
            - { name: 'form.type_extension', extended_type: 'Symfony\Component\Form\Extension\Core\Type\FormType' }
    Eccube\Form\Extension\FreezeTypeExtension:
        tags:
            - { name: 'form.type_extension', extended_type: 'Symfony\Component\Form\Extension\Core\Type\FormType' }
    Eccube\Form\Extension\HelpTypeExtension:
        tags:
            - { name: 'form.type_extension', extended_type: 'Symfony\Component\Form\Extension\Core\Type\FormType' }

    # DoctrineEventSubscribers
    Eccube\Doctrine\EventSubscriber\InitSubscriber:
        tags: ['doctrine.event_subscriber']
    Eccube\Doctrine\EventSubscriber\TaxRuleEventSubscriber:
        tags: ['doctrine.event_subscriber']
    Eccube\Doctrine\EventSubscriber\SaveEventSubscriber:
        tags: ['doctrine.event_subscriber']
    Eccube\Doctrine\EventSubscriber\LoadEventSubscriber:
        tags: ['doctrine.event_subscriber']

    Eccube\Twig\Extension\EccubeBlockExtension:
        tags: ['twig.extension']
        bind:
          $blockTemplates: %eccube.twig.block.templates%

    Plugin\:
        resource: '../../../app/Plugin/*'
        exclude: '../../../app/Plugin/*/{Entity,Resource,ServiceProvider,Tests}'

    twig.extension.stringloader:
        class: Twig_Extension_StringLoader
        tags: ['twig.extension']

    # Autowiring can't guess the constructor arguments that are not type-hinted with
    # classes (e.g. container parameters) so you must define those arguments explicitly
    # Eccube\Command\ListUsersCommand:
    #     $emailSender: '%app.notifications.email_sender%'

    # when the service definition only contains arguments, you can omit the
    # 'arguments' key and define the arguments just below the service class
    # Eccube\Twig\AppExtension:
    #     $locales: '%app_locales%'

    # Eccube\EventSubscriber\CommentNotificationSubscriber:
    #     $sender: '%app.notifications.email_sender%'

    # Eccube\EventSubscriber\RedirectToPreferredLocaleSubscriber:
    #     $locales: '%app_locales%'
    #     $defaultLocale: '%locale%'

    # needed for the 'localizeddate' Twig filter
    # Twig\Extensions\IntlExtension: ~
