# APPLICATION CONFIG
ECCUBE_AUTH_MAGIC=secret
ECCUBE_FORCE_SSL=false
ECCUBE_ADMIN_ALLOW_HOSTS='["127.0.0.1"]'
ECCUBE_COOKIE_LIFETIME=0
ECCUBE_COOKIE_NAME=eccube
ECCUBE_LOCALE=ja
ECCUBE_TIMEZONE=Asia/Tokyo
ECCUBE_CURRENCY=JPY

# PATH
ECCUBE_ROOT_URLPATH=
ECCUBE_TEMPLATE_CODE=default
ECCUBE_ADMIN_ROUTE=admin
ECCUBE_USER_DATA_ROUTE=user_data

# PROXIES
ECCUBE_TRUSTED_PROXIES_CONNECTION_ONLY=false
ECCUBE_TRUSTED_PROXIES='["127.0.0.1/8", "::1"]'

# DATABASE
ECCUBE_DB_DEFAULT=sqlite
ECCUBE_DB_HOST=
ECCUBE_DB_PORT=
ECCUBE_DB_DATABASE=/path/to/eccube/app/config/eccube/eccube_db
ECCUBE_DB_USERNAME=
ECCUBE_DB_PASSWORD=
ECCUBE_DB_CHARASET=
ECCUBE_DB_COLLATE=

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###