!dummy
!.gitmodule
composer.phar
/vendor/
/app/cache/*
!/app/cache/.gitkeep
/app/config/eccube/*
!/app/config/eccube/.gitkeep
/app/log/*
!/app/log/.gitkeep
/app/Plugin/*
!/app/Plugin/.gitkeep
/app/template/*
!/app/template/admin
!/app/template/default
/html/plugin/*
!/html/plugin/.gitkeep
/html/install/temp/*
/html/upload/save_image/*
!/html/upload/save_image/.gitkeep
/html/upload/temp_image/*
!/html/upload/temp_image/.gitkeep
/html/upload/temp_plugin/*
/html/template/*
!/html/template/admin
!/html/template/default
!/html/template/install
/html/user_data/*
!/html/user_data/.gitkeep
/phpunit.xml
/src/Eccube/Resource/config/*.dist.php
/tests/tmp/*
/reports/*
.idea
*.php~
