!dummy
!.gitmodule
composer.phar
/vendor/
/app/cache/*
/app/config/eccube/config.yml
/app/config/eccube/database.yml
/app/config/eccube/constant.yml
/app/config/eccube/mail.yml
/app/config/eccube/path.yml
/app/config/eccube/database.yml
/app/log/*
/html/install/temp/*
/html/upload/save_image/*
/html/upload/temp_image/*
/html/upload/temp_plugin/*
/phpunit.xml
/tests/tmp/*
/reports/*
.idea
*.php~
