# for travis-ci
# see also. https://travis-ci.org
git:
  submodules: false

sudo: required

language: php

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

cache:
  directories:
    - vendor
    - $HOME/.composer/cache
    - bin/.phpunit

php:
  - 7.2

before_install:
  ## see https://github.com/symfony/symfony/blob/e0bdc0c35e9afdb3bee8af172f90e9648c4012fc/.travis.yml#L92-L97
  - phpenv config-rm xdebug.ini || true
  - echo "opcache.enable_cli=1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - echo "apc.enable_cli=1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - echo "memory_limit=-1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - wget -c -nc --retry-connrefused --tries=0 http://chromedriver.storage.googleapis.com/2.37/chromedriver_linux64.zip
  - unzip -o -q chromedriver_linux64.zip
  - sudo mv -f ./chromedriver /usr/local/bin/
  - sudo chmod +x /usr/local/bin/chromedriver
  - gem install mailcatcher

install:
  - composer install --dev --no-interaction -o --apcu-autoloader
  - echo "APP_ENV=codeception" > .env
  - bin/console doctrine:database:create
  - bin/console doctrine:schema:create
  - bin/console eccube:fixtures:load

jobs:
  include:
    - stage: Unit Test
      env:
        - DB=mysql DATABASE_URL=mysql://root:@localhost/cube4_dev DATABASE_SERVER_VERSION=5
      script:
        - ./bin/phpunit --exclude-group cache-clear
        - ./bin/phpunit --group cache-clear
    - env:
      - DB=pgsql DATABASE_URL=postgres://postgres:password@localhost/cube4_dev DATABASE_SERVER_VERSION=9
      script:
        - ./bin/phpunit --exclude-group cache-clear
        - ./bin/phpunit --group cache-clear
    - stage: E2E Test
      env: GROUP=admin01 APP_ENV=codeception DB=pgsql DATABASE_URL=postgres://postgres:password@localhost/eccube_db DATABASE_SERVER_VERSION=9 MAILER_URL=smtp://localhost:1025
      script: ./codeception.sh -g ${GROUP}
    - env: GROUP=admin02 APP_ENV=codeception DB=pgsql DATABASE_URL=postgres://postgres:password@localhost/eccube_db DATABASE_SERVER_VERSION=9 MAILER_URL=smtp://localhost:1025
      script: ./codeception.sh -g ${GROUP}
    - env: GROUP=admin03 APP_ENV=codeception DB=pgsql DATABASE_URL=postgres://postgres:password@localhost/eccube_db DATABASE_SERVER_VERSION=9 MAILER_URL=smtp://localhost:1025
      script: ./codeception.sh -g ${GROUP}
    - env: GROUP=front APP_ENV=codeception DB=pgsql DATABASE_URL=postgres://postgres:password@localhost/eccube_db DATABASE_SERVER_VERSION=9 MAILER_URL=smtp://localhost:1025
      script: ./codeception.sh -g ${GROUP}
