{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block javascript %}
    {% include "Components/form/postcode_script.twig" %}
{% endblock javascript %}

{% block main %}

    {% include "Components/heading.twig" with {'title': 'front.contact.title' } %}

    <div class="row">
        <div class="col-12">
            <div class="page-contact">
                <form method="post" class="h-adr" action="{{ url('contact') }}"  novalidate>
                    <span class="p-country-name" style="display:none;">Japan</span>
                    {{ form_widget(form._token) }}
                    <div class="alert alert-info" role="alert">
                        {{ 'front.contact.inquiry_notice'|trans|nl2br }}
                    </div>

                    {# Name #}
                    {% include "Components/form/name.twig" with {'form': form} %}

                    {# Kanna #}
                    {% include "Components/form/kanna.twig" with {'form': form} %}
                    
                    {# Address #}
                    {% include "Components/form/address.twig" with {'form': form} %}
                    
                    {# Phone #}
                    {% include "Components/form/phone.twig" with {'form': form} %}
                    
                    {# Email #}
                    {% include "Components/form/input.twig" 
                        with {
                            'form': form, 
                            'field': 'email', 
                            'label': 'common.mail_address'
                        } 
                    %}

                    {# Content/Textarea #}
                    {% include "Components/form/input.twig" 
                        with {
                            'form': form, 
                            'field': 'contents', 
                            'label': 'front.contact.inquiry_contents', 
                            'help': true,
                            'helpText': 'front.contact.order_notice'
                        } 
                    %}

                    {# Options Render #}
                    {% include "Components/form/options_render.twig" with {'form': form} %}
                    
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary btn-block" name="mode" value="confirm">{{ 'common.go_to_confirm'|trans }}
                                    </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
