@charset "utf-8";

/* ***********************************************
インヘッダーブロック
************************************************ */
/* ログイン
----------------------------------------------- */
#headerInternalColumn {
    width: 520px;
    height: 35px;
    margin-top: 5px;
    float: right;
}

/* ログイン
----------------------------------------------- */
#header_login_area {
    height: 30px;
    padding: 0 10px;
    background: #fef3d3;
    border: solid 1px #ffc979;
    letter-spacing: -0.075em;
}
#header_login_area ul.formList {
    margin-top: 5px;
}
#header_login_area ul.formList li {
    float: left;
}
#header_login_area ul.formList li.mail {
    width: 155px;
    padding-left: 28px;
    background: url("../img/common/ico_arrow_login.gif") no-repeat left;
    font-size: 90%;
}
#header_login_area ul.formList li.password {
    padding-right: 5px;
}
#header_login_area ul.formList li.login_memory {
    padding-right: 5px;
    font-size: 90%;
}
#header_login_area ul.formList li.forgot{
    margin-top: 3px;
    padding-right: 5px;
    font-size: 90%;
}
#header_login_area ul.formList li.btn {
    width: 53px;
    padding-right: 5px;
}
