@charset "utf-8";


/* FLASH
----------------------------------------------- */
#flasharea {
    text-align: center;
}


/* 新着情報
----------------------------------------------- */
#newsarea {
}

#newsarea dl {
    padding: 10px 0;
    background: url("../img/common/line_400.gif") no-repeat bottom;
}

#newsarea dl.end {
    padding: 10px 0;
    background: url("") no-repeat bottom;
}

#newsarea dl dt {
    padding: 0 0 0 20px;
    background: url("../img/top/news_icon.gif") no-repeat;
}


/* おすすめ商品
----------------------------------------------- */
#recomendarea {
}

.recomendblock {
    clear: both;
    width: 100%;
    padding: 10px 0;
    overflow: auto;
    background: url("../img/common/line_402.gif") no-repeat bottom;
}

.recomendleft,
.recomendright {
    width: 47.5%;
}

.recomendleft {
    float: left;
}

.recomendright {
    float: right;
    position: relative;
}

.recomendleft p,
.recomendright p {
    margin: 0 0 5px 0;
}

.recomendleft img,
.recomendright img {
    display: block;
    float: left;
    margin: 0 5px 0 0;
}

.recomendleft h3,
.recomendright h3 {
    font-size: 100%;
}
