@charset "utf-8";


/* FLASH
----------------------------------------------- */
div#flasharea {
    width: 400px;
    margin: 0 auto;
}


/* 繝九Η繝シ繧ケ
----------------------------------------------- */
div#newsarea {
    width: 400px;
    margin: 0 auto;
    font-size: 90%;
}

div#newsarea dl {
    padding: 10px 0;
    background: url("../img/common/line_400.gif") no-repeat bottom;
}

div#newsarea dl.end {
    padding: 10px 0;
    background: url("") no-repeat bottom;
}

div#newsarea dl dt {
    padding: 0 0 0 20px;
    background: url("../img/top/news_icon.gif") no-repeat;
}


/* 縺翫☆縺吶ａ
----------------------------------------------- */
div#recomendarea {
    width: 400px;
    margin: 0 auto;
}

div.recomendblock {
    clear: both;
    width: 400px;
    padding: 10px 0;
    overflow: auto;
    background: url("../img/common/line_402.gif") no-repeat bottom;
}

div.recomendleft {
    float: left;
    margin: 0 5px 0 0;
}

div.recomendleft p {
    margin: 0 0 5px 0;
}

div.recomendright {
    float: right;
    width: 190px;
    position: relative;
}

div.recomendleft img, div.recomendright img {
    display: block;
    float: left;
    margin: 0 5px 0 0;
}

div.recomendright p {
    margin: 0 0 5px 0;
}

div.recomendleft h3 {
    font-size: 100%;
}

div.recomendright h3 {
    font-size: 100%;
}

/* ブロック - カレンダー
----------------------------------------------- */
#block-calendar {border: 1px solid #CCCCCC;padding: 0 0 10px;}
#block-calendar h2 {
/*
    height: 29px;
    text-indent: -9999em;
    background: url(../images/tit-calendar.gif) 0 0 no-repeat;
*/
}
#block-calendar table {
    border-collapse: collapse;
    margin: 0 auto 10px;
    text-align:center;
}
#block-calendar th, #block-calendar td {
    padding: 2px;
    border: 1px solid #CCCCCC;
}
#block-calendar th {
    background: #FF8144;
    color: #FFFFFF;
}
#block-calendar .off {
    background: #FFEECC;
    color: #E04A00;
}
#block-calendar caption {color: #DD4400;}
