@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

table,img,p { 
    border: 0;
}

body {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #555555;
    background-color: #ffe9e6;
    font-size: 72.5%;
    line-height: 150%;
    letter-spacing:1px;
}

li {
    list-style-type: none;
}

select {
    border: solid 1px #ccc;
}

/*PHOTO*/
.picture {
    border: 1px solid #ccc;
}
/* フロート回り込み解除
----------------------------------------------- */
br.clear {
    clear: both;
    display: none;
    font-size: 0px;
    line-height: 0%;
    height: 0px
}
/* リンク指定
----------------------------------------------- */
a:link {
    color: #3a75af;
    text-decoration: underline;
}
a:visited {
    color: #3a75af;
}
a:link:hover {
    color: #ff6600;
}
a[href]:hover { /* 「a:link:hover」の Firefox 向けハック。上と Grouping 構文で統合すると、IE で動作しなくなる。 */
    color: #ff6600;
}
/* フォント
----------------------------------------------- */
h1,h2,h3,h4,h5 {
    font-size: 100%;
    line-height: 150%;
}
.price {
}
/* FIXME ポイントがクラス「price」を利用しているようだが、専用のクラスを用意すべき。 */
.sale_price {
    color: #ff0000;
}
.sale_price .price {
    font-weight: bold;
}
.normal_price {
}
.attention { color: #ff0000; }
.mini { font-size: 90%; }
em {
    font-style: normal;
    color: #ff0000;
}

/* 見出し
----------------------------------------------- */
h2 {
}
h2.title {
    margin: 0 0 10px 0;
    border-style: solid;
    border-width: 2px 1px;
    border-color: #999 #ccc;
    background: url("../img/title/title_icon.gif") no-repeat 7px center;
    padding: 7px 0 7px 30px;
    font-size: 140%;
    color: #000;
}

/* テーブル共通指定
----------------------------------------------- */
table {
    margin: 15px auto 0 auto;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-collapse: collapse;
    text-align: left;
}
table th {
    padding: 8px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f0f0f0;
    font-weight: normal;
}
table td {
    padding: 8px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
div.tblareabtn {
    clear: both;
    margin: 15px 0 0 0;
    text-align: center;
}
.phototd {
    width: 75px;
    text-align: center;
}
.centertd {
    text-align: center;
}
.pricetd {
    text-align: right;
}
.pricetd em {
    font-weight: bold;
}
div#completetext {
    width: 470px;
    margin: 15px auto 0 auto;
    padding: 15px;
    border: 5px solid #ccc;
}
div#completetext em {
    font-weight: bold;
}
div#completetext p{
    padding: 20px 0 0 0;
    text-align: left;
}


/* ヘッダーロゴ
------------------------------------------------ */
#header {
    background: url("../img/header/bg.gif");
    height: 95px;
    margin: 0 auto;
}
#header h1 a {
    float: left;
    display: block;
    margin: 8px 0 0 0;
    width: 292px;
    height: 81px;
    background: url("../img/header/logo.gif") no-repeat;
}
#header em {
    display: none;
}


/* ヘッダーナビ
----------------------------------------------- */
div#information {
    float: right;
    padding: 60px 8px 0 0;
}
div#information ul li {
    display: inline;
}
div#information ul li a {
    text-decoration: none;
}
/* フレーム
----------------------------------------------- */
.frame_outer {
    width: 950px;
    margin: 0 auto;
    background-color: #fff;
}
#container {
    text-align: left;
    clear: both;
}

#leftcolumn {
    float: left;
    width: 20%;
}

#rightcolumn {
    float: right;
    width: 20%;
}

/* メインコンテンツ
----------------------------------------------- */
.main_column {
    padding: 10px 0 20px;
}

/* 3カラム設定 */
#three_maincolumn {
    width: 58%;
    margin-left: 1%; /* 右側を同等幅の未定義空間として、段落崩れを防ぐ */
    float: left;
}

/* 2カラム設定 (メイン部が左) */
#two_maincolumn_left {
    width: 79%;
    float: left;
}

/* 2カラム設定 (メイン部が右) */
#two_maincolumn_right {
    width: 79%;
    float: right;
}

/* 1カラム設定 */
#one_maincolumn {
}

/* 上下のブロックエリア
----------------------------------------------- */
div#topcolumn{
    clear:both;
    margin:0px; 
}
div#bottomcolumn{
    clear: both;
    margin:0px;
}

/* リストをボタンのような外観に
----------------------------------------------- */
ul.button_like li {
    margin: 0;
    padding: 0;
    background: url(../img/common/gradation_v50.gif) top repeat-x;
}
ul.button_like li a {
    display: block;
    padding: 7px 0 7px 15px;
    text-decoration: none;
    border: 1px solid;
    border-color: #ccc #999 #999 #ccc;
    background: url("../img/common/button_like_bg.gif") 5px 7px no-repeat;
    outline: none;
    margin: 0;
}
ul.button_like li a:link,
ul.button_like li a:visited {
    color: #000;
}
ul.button_like li a:hover,
ul.button_like li a.selected:link,
ul.button_like li a.selected:visited {
    color: #f60;
}
ul.button_like li a:active {
    border-color: #999 #ccc #ccc #999;
}

/* ブロック共通
----------------------------------------------- */
.bloc_body {
    background-color: #FFF;
}
.side_column {
    overflow-x: hidden; /* IE6 表示乱れ防止 */
}
.side_column .bloc_outer {
    margin: 10px 5%;
}
.side_column .bloc_body {
    border: solid 1px #ccc;
}
.side_column h2 {
    border-style: solid;
    border-color: #F60 #ccc #999 #ccc;
    border-width: 3px 1px 2px;
    background: url(../img/common/gradation_v50.gif);
    padding: 5px 0 4px 8px;
    font-size: 14px;
}
.side_column h2 img.title_icon {
    vertical-align: -2px;
}
.main_column .bloc_outer {
    margin: 10px 0;
}
.main_column .bloc_outer h2 {
    border-style: solid;
    border-color: #ccc #ccc #999;
    border-width: 1px 1px 2px;
    background: #f4f4d8;
    padding: 5px 0 4px 8px;
    font-size: 14px;
}
.main_column .bloc_outer h2 img.title_icon {
    vertical-align: -2px;
}

/* カゴの中
----------------------------------------------- */
#cartarea {
    padding: 10px;
}

#cartarea p {
    padding: 5px 0 10px 0;
}

#cartarea p.item {
    padding: 0 0 10px 0;
    background: url("../img/side/line_146.gif") no-repeat bottom;
}

#cartarea .btn {
    padding: 0;
    text-align: center;
}

#cartarea .price {
    color: #FF0000;
    font-weight: bold;
}

/* カテゴリー
----------------------------------------------- */
#categoryarea {
    padding: 10px;
    background-color: #fff1e3;
}

#categoryarea li {
    padding: 0 0 0 20px;
    background: url("../img/common/arrow_blue.gif") 0 3px no-repeat;
}
#categoryarea li.onmark {
    background: url("../img/common/arrow_red.gif") 0 3px no-repeat;
}
#categoryarea li.level1 {
    font-weight: bold;
}
#categoryarea li.level1 li {
    font-weight: normal;
}
#categoryarea li a {
    display: block;
    padding: 3px 0;
}

a.onlink:link {
    color: #ff0000;
    text-decoration: underline;
}
a.onlink:visited {
    color: #ff0000;
}
a.onlink:hover {
    color: #ff0000;
}

/* ガイドリンク
----------------------------------------------- */
#guidearea {
    margin-top: 1em;
    border: none;
}
#guidearea ul.button_like {
    font-size: 11px;
}

/* ログイン
----------------------------------------------- */
div#loginarea {
    padding: 0 10px 10px 10px;
}

div#loginarea p {
    padding: 8px 0 0 0;
}

div#login img {
    padding: 0 5px 0 0;
    vertical-align: bottom;
}

div#loginarea .btn {
    text-align: center;
}

#loginarea .box96 {
    width: 96px;
    border: solid 1px #ccc;
}


/* 検索
----------------------------------------------- */
div#searcharea {
    padding: 0 10px 10px 10px;
}

div#searcharea p {
    padding: 8px 0 0 0;
}

div#searcharea .btn {
    text-align: center;
}

#searcharea .box142 {
    width: 142px;
    border: solid 1px #ccc;
}

/* カレンダー
----------------------------------------------- */
#block-calendar {
    background-color: transparent;
    border: none;
}

#block-calendar table {
    background: #FFF;
    border-collapse: collapse;
    margin: 0 auto 10px;
    text-align:center;
}

#block-calendar th, #block-calendar td {
    padding: 2px;
    border: 1px solid #CCCCCC;
}

#block-calendar th {
    background: #FF8144;
    color: #FFFFFF;
}

#block-calendar .off {
    background: #FFEECC;
    color: #E04A00;
}

#block-calendar caption {
    color: #DD4400;
}


/* バナー
----------------------------------------------- */
ul#banner {
    padding: 15px 0 0 0;
}

#banner li {
    padding: 0 0 10px 0;
}

/* テキストフィールド
----------------------------------------------- */
input[type='text'] {
    border: solid 1px #ccc;
}

/* ボタン
----------------------------------------------- */
input[type='image'] {
    border: none;
}

input[type='image'].box190 {
    width: 190px;
    height: 30px;
}

input[type='image'].box180 {
    width: 180px;
    height: 30px;
}

input[type='image'].box150 {
    width: 150px;
    height: 30px;
}

input[type='image'].box140 {
    width: 140px;
    height: 30px;
}

input[type='image'].box130 {
    width: 130px;
    height: 30px;
}

input[type='image'].box51 {
    width: 51px;
    height: 22px;
}

/* フッター
----------------------------------------------- */
#pagetop {
    margin: 0 auto;
    padding: 15px 8px;
    text-align: right;
    clear: both;
}

#footer {
    margin: 0 auto;
    padding: 15px 8px;
    border-top: 1px solid #ff6600;
    background-color: #ffa85c;
    font-size: 90%;
    color: #fff;
    text-align: center;
    clear: both;
}
