@charset "utf-8";


/* 検索結果
----------------------------------------------- */
p.conditionarea {
    clear: both;
    width: 566px;
    margin: 0 auto;
    padding: 5px;
    border: solid 1px #333;
}


/* ページ送り
----------------------------------------------- */
.pagenumberarea,
.pagecondarea {
    clear: both;
}

/* 背景色(改行対策) */
.pagenumberarea,
.pagenumberarea .navi,
.pagenumberarea .change,
.pagecondarea {
    background-color: #f3f3f3;
}

.pagenumberarea {
    margin: 1em 0;
    padding: 1ex 1em;
}

.pagecondarea {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #CCCCCC;
}

.pagenumberarea .navi {
    padding-right: 38%;
    text-align: center;
}

.pagenumberarea .change {
    float: right;
    text-align: right;
    white-space: nowrap;
}

/* 商品一覧 */

/* タイトル
----------------------------------------------- */
.product h2.title {
    border-color: #f00 #ccc;
    background: url("../img/background/bg_arrow_title_02.gif") no-repeat left center;
    background-color: #ffebca;
}

/* 商品
----------------------------------------------- */
div.listarea {
    clear: both;
    padding: 20px 0 30px 0;
    overflow: auto;
    background: url("../img/background/line_580.gif") no-repeat bottom;
}

div.listphoto {
    float: left;
}

div.listrightblock {
    float: right;
    width: 440px;
}

div.listrightblock li {
    display: inline;
    padding: 0 0 10px 0;
}

div.listrightblock h3 {
    width: 420px;
    margin: 5px 0;
    padding: 5px 10px;
    border-bottom: 2px solid #ebebd6;
    background-color: #f9f9ec;
    font-size: 120%;
}

div.listrightblock h3 a {
    font-weight: bold;
}

div.listrightblock .listcomment {
    margin: 0 0 10px 0;
}

div.listrightblock .pricebox {
    float: left;
}

div.listrightblock .in_cart {
    margin: 20px auto 5px 130px;
    padding: 10px;
    width: 285px;
    clear: both;
    background-color: #ecf5ff;
    border: 1px solid #CCCCCC;
}

div.listrightblock .quantity {
    width: 150px;
}

div.listrightblock .btnbox {
    margin: 0 0 10px 0;
    padding: 1px;
    float: right;
}

div.listrightblock dt {
    width: 75px;
    float: left;
    text-align: right;
    padding: 3px;
    font-weight: bold;
}

div.listrightblock dd {
    padding: 3px;
}

div.listrightblock .cartbtn {
    clear: both;
}

div.listrightblock .cartbtn img {
    width: 115px;
    margin: 5px 0 0 0;
}

div.listrightblock .box54 {
    width: 54px;
    border: solid 1px #ccc;
}

.product_list .pagenumber{
    color: #ff0000;
    font-weight: bold;
}

/* 商品詳細 */

/* 商品
----------------------------------------------- */
div#detailarea {
    margin: 15px 0 0 0;
}

div#detailphotoblock {
    float: left;
    width: 49%;
}

div#detailphotoblock p {
    margin: 5px 0 0 0;
}

div#detailrightblock {
    float: right;
    width: 49%;
}

div#detailrightblock li {
    display: inline;
}

div#detailrightblock h2 {
    margin: 5px 0;
    padding: 0;
    color: #ff6600;
    font-size: 140%;
    font-weight: bold;
}

div#detailrightblock dl {
    padding: 0;
}

div#detailrightblock dt {
    font-weight: bold;
    margin: 15px 0 0 0;
    padding: 0 0 0 15px;
    background: url("../img/background/bg_arrow_03.gif") no-repeat left center;
}

div#detailrightblock dd {
    margin: 0 15px 0 0;
}

div#detailrightblock .box54 {
    width: 54px;
    border: solid 1px #ccc;
}

div#detailrightblock .btn {
    clear: both;
    margin: 15px 0 0 0;
    padding: 15px 0 0 0;
    text-align: center;
    vertical-align: top;
    background: url("../img/background/line_280.gif") no-repeat;
}

/* 商品共通 */

.cartbtn {
    text-align: center;
}

/* サブタイトル
----------------------------------------------- */
div.subarea {
    clear: both;
    padding: 30px 0 0 0;
}

div.subarea h3 {
    font-size: 120%;
    margin: 0 0 10px 0;
    padding: 5px 10px;
    background-color: #e4e4e4;
    clear: both;
}

div.subtext {
    float: left;
    width: 63%;
}

div.subphotoimg {
    float: right;
    width: 35%;
}

div.subphotoimg p {
    margin: 5px 0 0 0;
    text-align:right;
}


/* お客様の声
----------------------------------------------- */
div#customervoicearea {
    clear: both;
    padding: 35px 0 0 0;
}

div#customervoicearea h2 {
    margin: 0 0 10px 0;
    background-color: #FFEBCA;
    border-bottom: 2px solid #FFCB77;
}

div#customervoicearea .voicedate{
    font-weight: bold;
    margin: 10px 0 0 0;
}

div#customervoicearea .voicetitle{
    padding: 5px 0;
    font-size: 120%;
    font-weight: bold;
}

div#customervoicearea li {
    padding: 0 0 10px 0;
    background: url("../img/background/line_580.gif") no-repeat bottom;
}

.recommend_level {
    color: #FF0000;
}

/* トラックバック
----------------------------------------------- */
div#trackbackarea {
    clear: both;
    padding: 35px 0 0 0;
}

div#trackbackarea h2 {
    padding: 0 0 10px 0;
}

div#trackbackarea h3 {
    font-size: 100%;
    font-weight: bold;
    padding: 0 0 10px 0;
}

div#trackbackarea .box500 {
    width: 500px;
    border: solid 1px #ccc;
}

/* 関連商品
----------------------------------------------- */
div#whoboughtarea {
    clear: both;
    padding: 35px 0 0 0;
}

div#whoboughtarea h2 {
    background-color: #FFEBCA;
    border-bottom: 2px solid #FFCB77
}

div.whoboughtblock {
    clear: both;
    padding: 10px 0;
    overflow: auto;
}

div.whoboughtleft {
    float: left;
    width: 280px;
    padding: 10px 0;
    position: relative;
    background: url("../img/background/line_578.gif") no-repeat bottom;
}

div.whoboughtleft img {
    display: block;
    float: left;
    margin: 0 5px 0 0;
}

div.whoboughtleft p {
    margin: 0 0 5px 0;
}

div.whoboughtright {
    float: right;
    width: 280px;
    padding: 10px 0;
    position: relative;
    background: url("../img/background/line_578.gif") no-repeat bottom;
}

div.whoboughtright img {
    display: block;
    float: left;
    margin: 0 5px 0 0;
}

div.whoboughtright p {
    margin: 0 0 5px 0;
}

div.whoboughtleft h3 {
    font-size: 100%;
}

div.whoboughtright h3 {
    font-size: 100%;
}
