@charset "utf-8";

/* ノーマライズ補足（ie7） */
form{margin:0;padding:0;}


/************************************************
 共通設定
************************************************ */
body {
	color: #666;
	font-family: Verdana,Helvetica,Arial,sans-serif;
	background-color: #f5f5f5;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.1em;
	-webkit-text-size-adjust:100%;
}

a {
    color:#39c;
    text-decoration: none;
}
a:link,
a:visited {
    color:#39c;
}
a:hover {
	color:#f60;
}

a img {
	background:none;
}
a:hover img {
	opacity:0.6;
	filter:alpha(opacity=60);
	-ms-filter: "alpha( opacity=60 )";
	background:none;
}


/* スマホ */
@media screen and (max-width: 480px) {
sm_font_mini {
	font-size:70%;
}
}

/* タブレット */
@media screen and (min-width: 481px) and (max-width: 800px){
}

/* PC */
@media screen and (min-width: 801px){
}




/*ブートストラップ 補足用上書き　※点数稼ぎ*/
input.btn-warning,      a.btn-warning,
input.btn-warning:hover,a.btn-warning:hover,
input.btn-success,      a.btn-success,
input.btn-success:hover,a.btn-success:hover {
	text-decoration:none;
	color:#fff;
}
input.btn-default,      a.btn-default,
input.btn-default:hover,a.btn-default:hover {
	text-decoration:none;
	color:#000;
}

/* 写真 */
img.picture {
    border: 1px solid #ddd;
	padding:1px;
}


/* =================　フレーム　================= */
/* 全体を包括 */
.frame_outer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* コンテンツ */
#header,
#container,
#footer {
    margin: 0 auto;
    /*max-width: 1040px;/*MaxSize*/
	padding:0 3%;
}

#container {
	padding-top:10px;
    padding-bottom:30px;
    background: #fff;
    text-align: left;
}

img{
	vertical-align:bottom;
}


/* =================　カラム指定　================= */
/* メイン部
----------------------------------------------- */

/* スマホ */
@media screen and (max-width: 480px) {
#main_content,/*mainとleftを梱包*/
#main_column,
#leftcolumn,
#rightcolumn{
	margin:0;
    padding:0;
}


/* 1カラム時 */
body.colnum1 #main_content,
body.colnum1 #main_column {
}

/* 2カラム時 (メイン右) */
body.colnum2.main_right #main_content{
}
body.colnum2.main_right #main_column {
}
body.colnum2.main_right #leftcolumn {
}
body.colnum2.main_right #rightcolumn {
    width: 0;
}

/* 2カラム時 (メイン左) */
body.colnum2.main_left #main_content {
}
body.colnum2.main_left #main_column {
}
body.colnum2.main_left #leftcolumn {
    width: 0;
}
body.colnum2.main_left #rightcolumn {
}

/* 3カラム時 */
body.colnum3 #main_content {
}
body.colnum3 #main_column {
}

body.colnum3 #leftcolumn {
}
body.colnum3 #rightcolumn {
}


/* 他
----------------------------------------------- */
/* ヘッダーとフッターの上下 */
#topcolumn,
#bottomcolumn,
#footerbottomcolumn {
    margin: 0px;
    background: #fff;
    text-align: left;
    clear: both;
}

/* 下層コンテンツ */
.undercolumn {
    width: 100%;
    margin: 0 0 30px 0;
}
}


/* タブレット */
@media screen and (min-width: 481px) and (max-width: 800px){
#main_content,/*mainとleftを梱包*/
#main_column,
#leftcolumn,
#rightcolumn{
	margin:0;
    padding:0;
	/*background: #ddd;*/
}
#main_content{
	display:inline;
}


/* 1カラム時 */
body.colnum1 #main_content,
body.colnum1 #main_column {
}

/* 2カラム時 (メイン右) */
body.colnum2.main_right #main_content{
}
body.colnum2.main_right #main_column {
}
body.colnum2.main_right #leftcolumn {
}
body.colnum2.main_right #rightcolumn {
	width: 0;
}

/* 2カラム時 (メイン左) */
body.colnum2.main_left #main_content {
}
body.colnum2.main_left #main_column {
}
body.colnum2.main_left #leftcolumn {
    width: 0;
}
body.colnum2.main_left #rightcolumn {
}

/* 3カラム時 */
body.colnum3 #main_content {
}
body.colnum3 #main_column {
}

body.colnum3 #leftcolumn {
    width: 48%;
	float:left;
}
body.colnum3 #rightcolumn {
    width: 48%;
	float:right;
}


/* 他
----------------------------------------------- */
/* ヘッダーとフッターの上下 */
#topcolumn,
#bottomcolumn,
#footerbottomcolumn {
    margin: 0px;
    background: #fff;
    text-align: left;
    clear: both;
}

/* 下層コンテンツ */
.undercolumn {
    width: 100%;
    margin: 0 0 30px 0;
}
}


/* PC */
@media screen and (min-width: 801px){
#main_content,/*mainとleftを梱包*/
#main_column,
#leftcolumn,
#rightcolumn{
	margin:0;
    padding:0;
}

#main_column{
	margin:0;
	padding:0;
}

/* 1カラム時 */
body.colnum1 #main_content,
body.colnum1 #main_column {
    width: 100%;
}

/* 2カラム時 (メイン右) */
body.colnum2.main_right #main_content{
	width:100%;
}
body.colnum2.main_right #main_column {
	float:right;
    width: 78.5%;
}

body.colnum2.main_right #leftcolumn {
    width: 20%;
	float:left;
}
body.colnum2.main_right #rightcolumn {
    width: 0;
}

/* 2カラム時 (メイン左) */
body.colnum2.main_left #main_content {
	float:left;
	width:78.5%;
}
body.colnum2.main_left #main_column {
    width: 100%;
}
body.colnum2.main_left #leftcolumn {
    width: 0;
}
body.colnum2.main_left #rightcolumn {
    width: 20%;
	float:right;
}

/* 3カラム時 */
body.colnum3 #main_content {
	float:left;
    width:79%;
}
body.colnum3 #main_column {
	float:right;
    width: 74%;
    padding-left: 1.5%;
    padding-right: 1.5%;
}
html.lt-ie8 body.colnum3 #main_column {
    width: 71%;
}

body.colnum3 #leftcolumn {
    width: 25%;
	float:left;
}
body.colnum3 #rightcolumn {
    width: 20%;
	float:right;
}


/* 他
----------------------------------------------- */
/* ヘッダーとフッターの上下 */
#topcolumn,
#bottomcolumn,
#footerbottomcolumn {
    margin: 0px;
    background: #fff;
    text-align: left;
    clear: both;
}

/* 下層コンテンツ */
.undercolumn {
    width: 100%;
    margin: 0 0 30px 0;
}
}



/* ==============================================
 ユーティリティ
=============================================== */


/* リンク指定
----------------------------------------------- */
/*

*/

/* フォント
----------------------------------------------- */
h1,
h2,
h3,
h4,
h5 {
    line-height: 200%;
	font-weight:bold;
}

.sale_price{
	color: #f00;
}
.normal_price {
	font-size: 90%;
}
.point {
	color: #f00;
	font-weight: bold;
}
.user_name {
	font-weight: bold;
}
.recommend_level {
	color: #ecbd00;
}

.attention {
	color: #f00;
}
.attentionSt {
	color: #f00;
	font-weight: bold;
}
.st {
	font-weight: bold;
}

.rss img{
	vertical-align:middle;
}


/* フォーム
----------------------------------------------- */
select {
	border: solid 1px #ccc;
}
input[type='text'],
input[type='email'],
input[type='password'] {
	border: solid 1px #ccc;
	padding: 2px;
}


/* タイトル
----------------------------------------------- */
#main_column .title,
.window_area .title {
	margin-left:0;
	margin-right:0;
	margin-top:0;
    padding-left: 8px;
    font-size: 1.1em;
	font-weight:bold;
    line-height: 2.3em;

    color: #f60;
	
    background-color: #fef3d8;
	/*グラデーション*/
	background: -moz-linear-gradient(top,  #fefcea 0%, #ffcc7f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#ffcc7f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefcea 0%,#ffcc7f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefcea 0%,#ffcc7f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefcea 0%,#ffcc7f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fefcea 0%,#ffcc7f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#ffcc7f',GradientType=0 ); /* IE6-9 */
}

.undercolumn h2 {
    margin: 0 0 10px 0;
    padding: 5px 0 10px;
    color: #f60;
    background: url("../img/background/line_01.gif") repeat-x left bottom;
    font-size: 120%;
}

.undercolumn h3 {
    padding-left: 15px;
    background: url("../img/icon/ico_arrow_05.gif") no-repeat left;
	font-size:1em;
}




/* ==============================================
 ヘッダー
=============================================== */
/* レイアウト
----------------------------------------------- */
#header_wrap {
    border-top: solid 3px #f90;
    min-height: 82px;
	padding-bottom: 4px;
    background: url("../img/common/bg_header.gif") repeat-x bottom #fffaf0;
}
#header {
    /*margin: auto;*/
}
#header h1{
	margin:0;
	padding:0;
}
#header ul {
	margin:0;
	padding:0;
}
#header ul li {
	margin:0;
	padding:0;
}

#header_utility {
	margin:0;
	padding:0;
}
#errorHeader {
    color: #F00;
    font-weight: bold;
    font-size: 12px;
    background-color: #FEB;
    text-align: center;
    padding: 5px;
}

/* ロゴ
----------------------------------------------- */
#logo_area {
}
#site_description {
    font-size: 90%;
}

/* ヘッダーナビ
----------------------------------------------- */
#header_navi {
	margin-bottom:10px;
}
#header_navi ul li {
    display:block;
    float:left;
	margin-left:5px;
}
html.lt-ie8 #header_navi ul li {/*ie7対策*/
	margin-left:2.5px;
}

#header_navi ul li.mypage,
#header_navi ul li.entry {
}

/* スマホ */
@media screen and (max-width: 480px) {
#logo_area {
	text-align:center;
}
#header_utility {
	text-align:center;
}
#header_navi {
	text-align:center;
}
}

/* タブレット */
@media screen and (min-width: 481px) and (max-width: 800px){
#logo_area {
	text-align:center;
}
#header_utility {
	text-align:center;
}
#header_navi {
	text-align:center;
}
}


/* PC */
@media screen and (min-width: 801px){
#logo_area {
	float:left;
	max-width:45%;
	text-align:left;
}
#header_utility {
	float:right;
	max-width:54%;
}
#header_navi {
	float:right;
}
}



/* ==============================================
 フッター
=============================================== */
#footer_wrap {
    margin: 0 auto;
    height: 80px;
    background: #fff;
}
#footer {
    margin: auto;
    text-align: center;
    padding-top: 10px;
    border-top: solid 1px #ccc;
}
#pagetop {
    text-align: right;
}
#copyright {
    font-size: 97%;
}



/* ==============================================
 パーツ
=============================================== */

/* ボタン
----------------------------------------------- */
.btn_area {
    margin-top: 10px;
    text-align: center;
}

.btn_area ul {
	margin:20px 0;
	padding:0;
}

.btn_area li {
    padding-right: 10px;
    _padding-right: 5px;
    display: inline;
}


/* 完了メッセージ
----------------------------------------------- */
#complete_area {
    margin-bottom: 20px;
}
#complete_area .message,
#article_entry .message {
    margin-bottom: 20px;
    line-height: 150%;
    font-weight: bold;
    font-size: 120%;
}
#complete_area .shop_information {
    margin-top: 40px;
    padding: 20px 0 0 0;
    border-top: solid 1px #ccc;
}
#complete_area .shop_information .name {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 140%;
}


/************************************************
 contents 各ページコンテンツ用
@import url("./contents.css");
************************************************ */
/* デフォルトテーブル
----------------------------------------------- */

#main_column article {
	margin-bottom:20px;
}



/* ==============================================
▼TOP
=============================================== */
/* メインイメージ
----------------------------------------------- */


/* ==============================================
▼下層
=============================================== */


/* ==============================================
▼ガイド
=============================================== */
/* ◎◎について
----------------------------------------------- */
#article_aboutus {
}

/* 特定商取引法
----------------------------------------------- */
#article_order {
}

/* お問い合わせ
----------------------------------------------- */
#article_contact {
    margin: 0 auto;
    width: 100%;
}

.zipimg img {
    vertical-align: middle;
}


/* ==============================================
▼MYページ
=============================================== */
/* 共通設定
----------------------------------------------- */
#article_mypage {
}

#article_mypage h3 {
    margin: 10px auto;
    border-bottom: 1px solid #999;
    text-align: left;
    font-size: 120%;
}

#mynavi_area {
}

#mycontents_area {
}

.mynavi_list {
	padding:0;
	margin:0;
    margin-bottom: 20px;
    width: 100%;
}
.mynavi_list li {
    float: left;
    margin: 0 15px 5px 0;
    padding-left: 15px;
	list-style:none;
    background: url('../img/icon/ico_arrow_01.gif') no-repeat left ;
    font-size: 120%;
}

.point_announce {
    margin-bottom: 30px;
    padding: 10px;
    border: solid 1px #ffcc62;
    background-color: #fffaf0;
}
.point_announce p {
    padding-left: 20px;
    background: url('../img/icon/ico_point.gif') no-repeat left ;
}

.point_announce ul {
	margin:0;
	padding:0;
}
.point_announce ul li {
	list-style:none;
}


#mycontents_area p.inforamtion {
    margin-bottom: 20px;
}



/* 購入履歴一覧/詳細
----------------------------------------------- */
#mycontents_area .mycondition_area {
    margin: 0 auto 20px 0;
    padding: 10px;
    border: solid 1px #ccc;
    width: 97%;
    background: #f9f9f9;
}
#mycontents_area .mycondition_area p {
    float: left;
}
#mycontents_area .mycondition_area .btn {
    margin-top: 15px;
    float: right;
}
.add_address {
    margin-bottom: 20px;
}


/* スマホ */
@media screen and (max-width: 480px) {
}

/* タブレット */
@media screen and (min-width: 481px) and (max-width: 800px){
}

/* PC */
@media screen and (min-width: 801px){
}



/* 会員登録内容変更/退会
----------------------------------------------- */
#mycontents_area .message_area {
    margin: 30px auto;
    padding: 30px;
    border: 1px solid #ccc;
    text-align: center;
}

.message_area ul {
	padding:0;
	margin:0;
}

#mycontents_area .message_area p {
    margin-bottom: 20px;
}

/* ==============================================
▼会員登録
=============================================== */
div#undercolumn_entry {
    width: 100%;
}

div#undercolumn_entry .kiyaku_text {
    margin: 20px auto;
    padding: 10px;
    border: solid 1px #ccc;
    width: 94%;
    background: #fff;
}


/* ==============================================
▼ログイン
=============================================== */
#article_login {
    margin: 0 auto;
    width: 100%;
}

#article_login .login_area {
    margin-bottom: 30px;
}

#article_login .login_area .inputbox {
    margin: 15px auto 15px auto;
    padding: 15px 20px 10px 20px;
    background: #f0f0f0;
}

#article_login .login_area .inputbox .btn_area {
    margin-top: 0;
}


/* ==============================================
▼エラー
=============================================== */
#article_error .message_area {
    width: 80%;
    margin: 30px auto;
    padding: 30px;
    border: 1px solid #ccc;
    text-align: center;
}

#article_error .message_area .error {
    padding: 120px 0;
}


/* ==============================================
▼商品一覧
=============================================== */
/* ページ送り
----------------------------------------------- */
.pagenumber_area {
    padding-bottom: 10px;
    background: url("../img/background/line_dot_01.gif") repeat-x bottom ;
}
.pagenumber_area {
    margin: 20px 0;
}
.pagenumber_area .navi {
    width: 100%;
    text-align: left;
}
.pagenumber_area .navi li {
    display: inline;
}
.pagenumber_area .change {
    float: right;
    text-align: right;
    white-space: nowrap;
}

.pagecond_area {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}
.pagecond_area li {
	list-style:none;
}


/* レイアウト
----------------------------------------------- */
.list_area {
    width: 33.3333%;
	margin:0 0 30px 0;
    padding: 0;

	display:inline-block;
	vertical-align:top;
	height:auto;
}
html.lt-ie8 .list_area {/*ie7対策*/
	display:inline;
	zoom:1;
}



.list_area .list_area_inner {
    padding: 0 4%;
}


/*
▼カラム組
・割り切れる数丁度では落ちる場合あり
・0.5～1%ほど少ない数字を入れる
*/

/* スマホ */
@media screen and (max-width: 480px) {
	.list_area {
		width: 49.9%;
	}/* 2カラム */
}
/* タブレット */
@media screen and (min-width: 481px) and (max-width: 800px){
	.list_area {
		width: 33.3%;
	}/* 3カラム */
}
/* PC1 */
@media screen and (min-width: 801px) and (max-width: 1100px){
	.list_area {
		width: 24.9%;
	}/* 4カラム */
}
/* PC2 */
@media screen and (min-width: 1101px) and (max-width: 1400px){
	.list_area {
		width: 19.9%;
	}/* 5カラム */
}
/* PC3 */
@media screen and (min-width: 1401px) and (max-width: 1700px){
	.list_area {
		width: 16.6%;
	}/* 6カラム */
}
/* PC4 */
@media screen and (min-width: 1701px){
	.list_area {
		width: 14.2%;
	}/* 7カラム */
}
/* PC5 */
@media screen and (min-width: 1701px){
	.list_area {
		width: 12.45%;
	}/* 8カラム */
}





.listphoto{
	text-align:center;
}

.listphoto a {
	display:block;
	margin:0 auto;
}

.listphoto img {
    width: 100%;
    height: auto;
}


.listrightbloc {
	text-align:center;
}

.quantity {
}


/* メインカラム用 1カラム時*/
#main_column.colnum1 .listrightbloc {
}

/* メインカラム用 2カラム時*/
#main_column.colnum2 .listrightbloc {
}

/* メインカラム用 3カラム時*/
#main_column.colnum3 .listrightbloc {
}


/* 商品情報 各種設定
----------------------------------------------- */
/* 商品ステータス */
.listrightbloc ul.status_icon {
	margin:0;
	padding:0;
    margin-bottom: 10px;
    width: 100%;
}
.listrightbloc ul.status_icon li {
	margin:0;
	padding:0;
    margin-right: 5px;
	list-style:none;
    float: left;
}

/* 商品名 */
.listrightbloc h1 {
    margin: 5px 5px 5px 0;
	padding:0;
    font-weight: bold;
    font-size: 110%;
}

/* コメント */
.listrightbloc .listcomment {
    margin: 0 0 10px 0;
    text-align: left;
}

/* 商品詳細を見る */
.listrightbloc .detail_btn {
    margin-bottom: 5px;
}

/* 価格 */
.listrightbloc .pricebox {
	letter-spacing: normal;
	font-size:0.85em;
    margin: 0 0 10px 0;
}

/* 買い物カゴ */
.listrightbloc .cart_area {
    padding: 10px;
    border: 1px solid #cef0f4;
    background-color: #ecf5ff;
    width: 100%;
}

/* 規格 */
.listrightbloc .classlist {
	letter-spacing: normal;
    margin-bottom: 10px;
    background: url("../img/background/line_dot_02.gif") repeat-x bottom ;
}
.listrightbloc dl {
    width: 100%;
	margin-bottom:0;
}
.listrightbloc dt {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
html.lt-ie8 .listrightbloc dt {/*ie7対策*/
	display:inline;
	zoom:1;
}

.listrightbloc dd {
    width: 100%;
    padding-bottom: 10px;
    display: inline-block;
}
html.lt-ie8 .listrightbloc dd {
	display:inline;
	zoom:1;
}

.listrightbloc dd p.attention {
    margin-top: 5px;
}

.listrightbloc .classlist dl {
	text-align:left;
}

.listrightbloc .classlist dl dd select{
	width:100%;
}



/* カゴに入れる */
.listrightbloc .cartin {
}
.listrightbloc .cartin .quantity {
}
.listrightbloc .cartin .quantity .box {
    width: 3em;
}
.listrightbloc .cartin_btn {
	margin-top:5px;
}





/* ==============================================
▼商品詳細
=============================================== */
/* レイアウト

    tplファイルのマークアップが同じ項目
        * 1カラム時
        * 2カラム時
        * 3カラム時

----------------------------------------------- */
#detailarea,
.sub_area {
    margin-bottom: 20px;
}

/* レイアウト
----------------------------------------------- */
/* 1カラム用 */
#main_column.colnum1 #detailphotobloc {
    width: 43%;
    float: left;
}
#main_column.colnum1 #detailrightbloc {
    width: 55%;
    float: right;
}

#main_column.colnum1 .subphotoimg {
    float:right;
    width:25%;
    text-align:right;
}
#main_column.colnum1 .subtext {
    margin-bottom: 20px;
    float: left;
    width: 69%;
}


/* 2カラム用 */
#main_column.colnum2 #detailphotobloc {
    float:left;
    width:43%;
}
#main_column.colnum2 #detailrightbloc {
    float:right;
    width:55%;
}

#main_column.colnum2 .subphotoimg {
    float:right;
    width:35%;
    text-align: right;
}
#main_column.colnum2 .subtext {
    float:left;
    width:63%;
    margin-bottom: 20px;
}


/* 3カラム用 */
#main_column.colnum3 #detailphotobloc {
    float:left;
    width:49%;
}
#main_column.colnum3 #detailrightbloc {
    float:right;
    width:49%;
}
#main_column.colnum3 .subtext {
    margin-bottom: 20px;
    float:left;
    width:63%;
}
#main_column.colnum3 .subphotoimg {
    float:right;
    width:35%;
    text-align: right;
}

.subphotoimg img,
#detailphotobloc img,
#detailphotobloc a img {
	width:100%;
}
#detailphotobloc img.df,
#detailphotobloc a img.df {
	width: inherit;
}


/* スマホ */
@media screen and (max-width: 480px) {
/* 1カラム用 */
#main_column.colnum1 #detailphotobloc {
    width:inherit;
    float:none;
}
#main_column.colnum1 #detailrightbloc {
    width:inherit;
    float:none;
}
#main_column.colnum1 .subtext {
    width:inherit;
    float:none;
}
#main_column.colnum1 .subphotoimg {
    width:inherit;
    float: none;
}

/* 2カラム用 */
#main_column.colnum2 #detailphotobloc {
    width: inherit;
    float: none;
}
#main_column.colnum2 #detailrightbloc {
    width: inherit;
    float: none;
}

#main_column.colnum2 .subtext {
    width: inherit;
    float: none;
}
#main_column.colnum2 .subphotoimg {
    width: inherit;
    float: none;
}

/* 3カラム用 */
#main_column.colnum3 #detailphotobloc {
    width: inherit;
    float: none;
}
#main_column.colnum3 #detailrightbloc {
    width: inherit;
    float: none;
}
#main_column.colnum3 .subtext {
    width: inherit;
    float: none;
}
#main_column.colnum3 .subphotoimg {
    width: inherit;
    float: none;
}

html.lt-ie8 #main_column.colnum1 #detailphotobloc,
html.lt-ie8 #main_column.colnum2 #detailphotobloc,
html.lt-ie8 #main_column.colnum3 #detailphotobloc {
    width:100%;
}
}

/* タブレット */
@media screen and (min-width: 481px) and (max-width: 800px){
}

/* PC */
@media screen and (min-width: 801px){
}



/* 商品情報 各種設定
----------------------------------------------- */
#detailrightbloc h1 {
	margin: 0 0 10px 0;
	padding: 0 0 15px 0;
	color: #666;
	background: url("../img/background/line_dot_01.gif") repeat-x bottom ;
	font-weight: bold;
	font-size: 160%;
}
#detailrightbloc .point,
#detailrightbloc .relative_cat {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    background: url("../img/background/line_dot_01.gif") repeat-x bottom ;
}
#detailrightbloc .main_comment {
    margin-bottom: 20px;
}

#detailrightbloc dl {
	margin-bottom:0;
}

/* 商品コード */
#detailrightbloc .product_code dt,
#detailrightbloc .product_code dd {
    display: inline;
}

/* 商品ステータス */
#detailrightbloc ul.status_icon {
	margin:0;
	padding:0;
    margin-bottom: 10px;
    width: 100%;
}
#detailrightbloc ul.status_icon li {
    float: left;
    margin-right: 5px;
    margin-bottom: 3px;
	list-style:none;
}

/* 通常価格 */
#detailrightbloc .normal_price dt,
#detailrightbloc .normal_price dd {
    display: inline;
}

/* 販売価格 */
#detailrightbloc .sale_price dt,
#detailrightbloc .sale_price dd {
    display: inline;
}

/* ポイント */
#detailrightbloc .point dt,
#detailrightbloc .point dd {
    display: inline;
}


/* 規格 */
#detailrightbloc .classlist {
    margin-bottom: 5px;
    padding-bottom: 10px;
    width: 100%;
    background: url("../img/background/line_dot_02.gif") repeat-x bottom ;
}
#detailrightbloc .classlist ul {
	margin:0;
	padding:0;
    margin-bottom: 10px;
    width: 100%;
}
#detailrightbloc .classlist ul li {
    float: left;
    vertical-align: top;
	list-style:none;
}

/* メーカー */
#detailrightbloc .maker dt,
#detailrightbloc .maker dd {
    display: inline;
}

/* メーカーURL */
#detailrightbloc .comment1 dt,
#detailrightbloc .comment1 dd {
    display: inline;
}

/* 関連カテゴリ */
#detailrightbloc .relative_cat dd {
    margin-left: 1em;
}

/* 買い物カゴ */
#detailrightbloc .cart_area {
    padding: 10px;
    background-color: #ecf5ff;
    border: 1px solid #cef0f4;
}
#detailrightbloc .quantity {
	margin-bottom:4px;
}
#detailrightbloc .quantity dt,
#detailrightbloc .quantity dd {
    display: inline;
}
#detailrightbloc .cartin {
    text-align: center;
}
#detailrightbloc .cartin_btn {
    text-align: center;
}
#detailrightbloc .favorite_btn {
    text-align: center;
    margin-top: 10px;
}


/* お客様の声
----------------------------------------------- */
#customervoice_area {
    clear: both;
    padding: 35px 0 0 0;
}

#customervoice_area h2 {
	border-top: solid 1px #f90;
	margin-bottom: 20px;
	padding: 6px 0 8px 10px;
}

#customervoice_area .review_bloc {
	margin-bottom: 20px;
	padding: 10px;
	background-color: #f6f6f6;
}

#customervoice_area .review_bloc p {
	padding-top: 3px;
	margin-right: 10px;
	float: left;
}

#customervoice_area .review_bloc .review_btn {
    float: right;
    width: 160px;
}

#customervoice_area ul {
	margin:0;
	padding:0;
}

#customervoice_area ul li {
	padding-bottom: 15px;
	margin-bottom: 15px;
	list-style:none;
	background: url("../img/background/line_dot_01.gif") repeat-x bottom ;
}

#customervoice_area .voicetitle {
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

#customervoice_area .voicedate {
    margin-bottom: 10px;
}


/* 関連商品（商品部分はbloc.cssのおすすめ商品と共通）
----------------------------------------------- */
#whobought_area {
    clear: both;
    padding: 35px 0 0 0;
}

#whobought_area h1 {
    border-top: solid 1px #f90;
    /*
	background: url('../img/background/bg_tit_sub_01.jpg') repeat-x left bottom;
    padding: 5px 0 8px 10px;
	*/
    font-size: 14px;
}

/*商品リスト*/
#whobought_area section article h1 {
	border:0;
	margin:0;
	font-size: 14px;
}


/* ***********************************************
▼カートの中
/*********************************************** */
/* 現在のカゴの中
----------------------------------------------- */
div#undercolumn_cart .point_announce {
    padding: 20px;
    margin-bottom: 20px;
    border: solid 1px #ffcc62;
    background: #fffaf0;
    font-size: 120%;
    text-align: center;
    line-height: 140%;
}
div#undercolumn_cart .totalmoney_area {
    margin-bottom: 20px;
}

div#undercolumn_cart p {
    margin: 10px 5px;
}

ul#quantity_level li {
    padding: 3px;
    display: inline;
	list-style:none;
}

div#undercolumn .empty {
    text-align: left;
}

div.form_area {
    margin-bottom: 30px;
}

.cart_price{
	margin:0;
	padding:0;
	display:inline;
	white-space:nowrap;
}
.cart_price li{
	list-style:none;
}


/* お客様情報入力
----------------------------------------------- */
div#undercolumn_customer {
}

.flow_area {
    margin: 0 0 20px 0;
}

div#undercolumn_customer th em {
    color: #000;
    font-weight: bold;
}


/* お支払い方法・お届け時間等の指定
----------------------------------------------- */
div#undercolumn_shopping .pay_area {
    margin: 0 auto 30px;
    width: 100%;
}
div#undercolumn_shopping .pay_area02 {
    margin: 40px auto 30px auto;
}
div#undercolumn_shopping .pay_area02 .txtarea {
    margin: 5px 0 0 0;
    padding: 2px;
    border: 1px solid #ccc;
    width: 99%;
    height: 150px;
}
div#undercolumn_shopping .pay_area02 .select-msg {
    margin-bottom: 10px;
}

div#undercolumn_shopping .point_area {
    margin: 40px auto 0 auto;
}

div#undercolumn_shopping .point_area .point_announce {
    padding: 20px;
    border: 1px solid #ccc;
}

div#undercolumn_shopping .point_area p {
    margin-bottom: 20px;
}

div#undercolumn_shopping .point_area .point_announce li {
    margin-bottom: 5px;
}


/* お届け先の指定
----------------------------------------------- */
#address_area {
    margin-bottom: 10px;
    width: 100%;
}

#address_area .information {
    width: 55%;
    float: left;
}

#undercolumn_shopping .information {
    margin-bottom: 15px;
}

#address_area .add_multiple {
    padding: 15px 10px;
    border: 1px solid #ffcc62;
    float: right;
    width: 40%;
    color: #555;
    background: #fffaf0;
    text-align: center;
    font-weight: bold;
}

#address_area .add_multiple p {
    margin-bottom: 10px;
}

#address_area p.addbtn {
    font-weight: bold;
    font-size: 10px;
}

/* スマホ */
@media screen and (max-width: 480px) {
#address_area .information {
    width: inherit;
    float: inherit;
}

#address_area .add_multiple {
    width: inherit;
    float: inherit;
}

}

/* タブレット */
@media screen and (min-width: 481px) and (max-width: 800px){
}

/* PC */
@media screen and (min-width: 801px){
}



/* ==============================================
▼検索結果
=============================================== */
p.condition_area {
    margin: 0 auto;
    padding: 5px;
    border: solid 1px #333;
    width: 566px;
}











/************************************************
 tables
@import url("./table.css");
************************************************ */
/* デフォルトテーブル
----------------------------------------------- */
table {
    margin: 15px auto 20px auto;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
table th {
    padding: 8px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #333;
    background-color: #f0f0f0;
    font-weight: normal;
}
table td {
    padding: 8px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


/* 見出し
----------------------------------------------- */
div#undercolumn_shopping table th[scope=col] {
    text-align: center;
}
div#undercolumn_shopping table.delivname th {
    width: 155px;
}

/* MYページ */
div#mycontents_area table th {
    text-align: left;
}
div#mycontents_area table th.alignR {
    text-align: right;
}
div#mycontents_area table th.alignL {
    text-align: left;
}
div#mycontents_area table th.alignC {
    text-align: center;
}
div#mycontents_area table th.resulttd {
    text-align: right;
}
div#mycontents_area table caption {
    padding: 8px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    color: #000;
    background-color: #f0f0f0;
    text-align: left;
    font-weight: bold;
}

/* その他
----------------------------------------------- */
table select {
    margin-bottom: 7px;
    border: solid 1px #ccc;
}


/* スマホ */
@media screen and (max-width: 480px) {
#main_column table.table colgroup,
#main_column table.table colgroup col{
	width:100%;
}
#main_column table.table tr th,
#main_column table.table tr td {
	width: 100%;
	display:block;
	border-top:none;
}
div#undercolumn_shopping table.delivname.table th {
    width:100%;
}
}

/* タブレット */
@media screen and (min-width: 481px) and (max-width: 800px){
#main_column table.table colgroup,
#main_column table.table colgroup col{
	width: 100%;
}
#main_column table.table tr th,
#main_column table.table tr td {
	width: 100%;
	display:block;
	border-top:none;
}
div#undercolumn_shopping table.delivname.table th {
    width:100%;
}
}

/* PC */
@media screen and (min-width: 801px){
}


/* IE9以下テーブル落ちしない対策（通常テーブル戻し） */
html.ie #main_column table colgroup,
html.ie #main_column table colgroup col{
	width:auto;
}
html.ie #main_column table tr th,
html.ie #main_column table tr td {
	width:auto;
	display:inline-table;
}
html.ie div#undercolumn_shopping table.delivname th {
	width:auto;
}



/* テーブル化 */
dl.table {
    margint:5px;
    background-color: #f0f0f0;
    border-bottom:1px solid #ccc;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
dl.table dt {
    float:left;
    clear:left;
    width:30%;
    padding:5px;
    border-top:1px solid #ccc;
}
dl.table dd {
    margin-left:30%;
    padding:5px;
    border-top:1px solid #ccc;
    background-color:#ffffff;
}

/* スマホ */
@media screen and (max-width: 480px) {
dl.table {}
dl.table dt {float: none;clear: inherit;width: inherit; text-align:left;}
dl.table dd {margin-left: inherit;}
}

/* タブレット */
@media screen and (min-width: 481px) and (max-width: 800px){
dl.table {}
dl.table dt {float: none;clear: inherit;width: inherit;text-align:left;}
dl.table dd {margin-left: inherit;}
}

/* PC */
@media screen and (min-width: 801px){
dl.table dt {text-align:right;}
dl.table dd {}
}

/*補足*/
html.lt-ie8 dl.table{}
html.lt-ie8 dl.table dt{
    float:left;
	clear:left;
    width:23.5%;
    background-color: transparent;
}
html.lt-ie8  dl.table dd {
    margin-left:25%;
    background-color:#ffffff;
}

dl.table-bn {
    border:none;
    background-color: transparent;
}
dl.table-bn dt{
    border:none;
    background-color: transparent;
}
dl.table-bn dd{
    border:none;
    background-color: transparent;
}
html.lt-ie8 dl.table-bn dd {
    margin-left:25%;
    background-color: transparent;
}




/************************************************
 ブロック用
@import url("./bloc.css");
************************************************ */
/*** 目次 ***

▼ブロック共通
リスト
タイトル
ヘッダー上、フッター下のブロックエリア

▼各機能ブロックの指定
-新着情報
-現在のカゴの中
-カテゴリ
-ガイドリンク
-ログイン（サイド用）
-検索
-カレンダー
-おすすめ商品
    * 商品詳細のオススメ商品   [whobought_area]
*/


/* ==============================================
ブロック共通
    * #container から指定することで、ヘッダー・フッターには適用していない。
/* ============================================= */
.side_column {
    overflow-x: hidden; /* IE6 表示乱れ防止 */
}
.side_column .block_body .box {
    border: solid 1px #ccc;
}


/* リスト
----------------------------------------------- */
/* ログイン 検索条件 */
#container .block_outer .block_body dl.formlist {
    margin-bottom: 8px;
}
#container .block_outer .block_body dl.formlist dd {
    margin-bottom: 5px;
}
#container .block_outer .block_body dl.formlist dt {
    margin-bottom: 3px;
    padding-left: 15px;
    background: url("../img/icon/ico_arrow_03.gif") no-repeat left;
    font-size: 90%;
}
#container .block_outer .block_body dl.formlist span {
    vertical-align: top;
}


/* タイトル
----------------------------------------------- */
/* タイトルの背景 白 */
#block_calendar h2 {
    border-bottom: 1px solid #ccc;
}



#login_area h2,
#search_area h2,
#block_calendar h2,
#cart_area h2,
#cart h2 {
/*
    padding: 5px 0 8px 10px;
    border-style: solid;
    border-color: #f90 #ccc #ccc;
    border-width: 1px 1px 0;
    background: url('../img/background/bg_tit_bloc_01.jpg') repeat-x left bottom;
    font-size: 14px;
*/
}



#category_area h2 {
    border-top: 1px solid #f90;
    background: url('../img/background/bg_tit_bloc_01.jpg') repeat-x left bottom;
    padding-left:10px;
    font-size: 14px;
}

/* タイトルの背景 オレンジ */
#recommend_area h2,
#news_area h2 {
    padding: 5px 0 8px 10px;
    border-style: solid;
    border-color: #f90 #ccc #ccc;
    border-width: 1px 1px 0;
    background: url('../img/background/bg_btn_bloc_02.jpg') repeat-x left bottom #fef3d8;
}


/* ***********************************************
▼各機能ブロックの指定
/*********************************************** */

/* ===============================================
共通設定
=============================================== */
/*ブロック外形*/
.block_outer {
    border: solid 1px #ccc;
	margin-bottom:20px;
}

/*ブロック外形*/
.block_inner {
}

/*ブロック外形*/
.block_body {
	padding:4%;
	_padding:2%;
}

.block_outer ul {
	margin:0;
	padding:0;
}

.block_outer ul li {
	margin:0;
	padding:0;
	list-style:none;
}

.side_column .ecbtn {
	text-align:center;
}


/*ブロックタイトル*/
.side_column .block_outer .title {
	margin:0;
    padding-left: 10px;
    border-bottom:1px solid #ccc;

	background: #fcfcfc; /* Old browsers */
	background: -moz-linear-gradient(top, #fcfcfc 0%, #e2e2e2 64%, #eaeaea 94%, #f9f9f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(64%,#e2e2e2), color-stop(94%,#eaeaea), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#e2e2e2 64%,#eaeaea 94%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcfcfc 0%,#e2e2e2 64%,#eaeaea 94%,#f9f9f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fcfcfc 0%,#e2e2e2 64%,#eaeaea 94%,#f9f9f9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fcfcfc 0%,#e2e2e2 64%,#eaeaea 94%,#f9f9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */

    font-size: 1em;
	line-height:2em;
}




/* ===============================================
▼新着情報
=============================================== */
#news_area .news_contents {
    padding: 10px;
    max-height: 260px;
    height: auto !important; /* hack? */
    height: 260px; /* hack? */
    overflow: auto;
    overflow-y: scroll;
}
#news_area dl.newslist {
    background: url("../img/background/line_dot_01.gif") repeat-x bottom;
}
#news_area dl.newslist:last-child { /* IE9 未満では無効 (影響度合いが低いので黙殺) */
    background: none;
}
#news_area dl.newslist dt {
    margin-bottom: 5px;
}
#news_area dl.newslist dd {
    margin-bottom: 10px;
    padding-bottom: 10px;
}


/* ===============================================
▼現在のカゴの中
=============================================== */
#cart_area .information {
    padding: 10px;
}
#cart_area .postage {
    margin-top: 10px;
    padding-top: 10px;
    background: url("../img/background/line_dot_01.gif") repeat-x top;
}
#cart_area .postage .point_announce {
    padding: 2px 0 2px 20px;
    background: url("../img/icon/ico_price.gif") no-repeat left top;
}
#cart_area .btn {
/*
    padding: 10px 0;
    background: url("../img/background/line_dot_01.gif") repeat-x top #f7f7e6;
    text-align: center;
*/
}


/* ===============================================
▼カテゴリ
=============================================== */
#block_category .block_body {
    background-color: #fffaf0;
}

#block_category li {
    padding-left: 8px;
}
#block_category li.level1 {
    border-bottom: solid 1px #ccc;
    padding-left: 20px;
    margin: 7px 3px;
    background: url("../img/icon/ico_arrow_01.gif") 2px 3px no-repeat;
}
#block_category li.level1 li {
    padding-left: 20px;
    background: url("../img/icon/ico_level.gif") 7px 7px no-repeat;
}
#block_category li a {
    display: block;
    padding: 0;
}


a.onlink:link {
    color: #f00;
    text-decoration: underline;
}
a.onlink:visited {
    color: #f00;
}
a.onlink:hover {
    color: #f00;
}


/* ===============================================
▼ガイドリンク
=============================================== */

#block_guide {
    border: none;
}

#block_guide .block_body {
    padding:0;
}


#block_guide li {
    margin-bottom: 5px;
    letter-spacing: -0.05em;
}

ul.button_like li {
    border: 1px solid #ccc;

	background: #fcfcfc; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #ededed 64%, #ededed 94%, #f9f9f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(64%,#ededed), color-stop(94%,#ededed), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#ededed 64%,#ededed 94%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfcfc 0%,#ededed 64%,#ededed 94%,#f9f9f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#ededed 64%,#ededed 94%,#f9f9f9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfcfc 0%,#ededed 64%,#ededed 94%,#f9f9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}
ul.button_like li a {
    margin: 0;
    padding: 10px 15px 10px 10px;
    display: block;
    background: url("../img/icon/ico_arrow_02.gif") no-repeat right;
    text-decoration: none;
    outline: none;
}


/* ===============================================
▼ログイン（サイド用）
※ヘッダー用はbloc_alpha.css内に記述
=============================================== */
#container div#login_area .block_body {
    padding: 10px;
}

#container div#login_area .block_body p {
    margin-bottom: 5px;
}

#container div#login_area .block_body .btn {
    text-align: center;
}
#container .login_area dl.formlist {
    margin-bottom: 8px;
    width: 450px;
}
#container .login_area dl.formlist dt {
    float: left;
    width: 120px;
    margin-bottom: 3px;
    padding-left: 15px;
    color: #333;
    background: url("../img/icon/ico_arrow_03.gif") no-repeat left;
    font-size: 90%;
}
#container .login_area dl.formlist dd {
    margin-bottom: 5px;
    float: right;
    width: 300px;
    vertical-align: bottom;
    text-align: left;
}
.block_body .mini {
    margin-top: 5px;
    letter-spacing: -0.01em;
	font-size:0.8em;
}


/* ===============================================
▼検索
=============================================== */
#container div#search_area .block_body {
    padding: 10px;
}
#container div#search_area .block_body .btn {
    text-align: center;
}


/* ===============================================
▼カレンダー
=============================================== */
#block_calendar {
    background-color: transparent;
}
#block_calendar .block_body {
    padding: 10px 0;
    background-color: #f1f9fc;
	letter-spacing:normal;
}
#block_calendar .information {
    margin-left: 3%;
    font-size: 90%;
}

table.calendar {
    width: 94%;
    border: none;
    background: #fff;
    margin: 0 auto 5px;
    font-size: 90%;
}
table.calendar td {
    padding: 1px 0;
    border-top: 1px solid #ccc;
    border-right: none;
    text-align: center;
}
table.calendar th {
    padding: 1px 0;
    background: #fff;
    border: none;
    text-align: center;
}
table.calendar caption {
    margin-bottom: 5px;
    padding-left: 12px;
    background: url("../img/icon/ico_arrow_04.gif") no-repeat left;
    font-size: 105%;
}
table.calendar .off {
    color: #f00;
}
table.calendar .today {
    background-color: #FFF99D;
    font-weight: bold;
}


/* ===============================================
▼おすすめ商品
=============================================== */
/*
   tplファイルのマークアップが同じ項目
   メインカラム用
   サイドカラム用           [side_column]
   商品詳細のオススメ商品   [whobought_area]
=============================================== */
/* 共通
----------------------------------------------- */
#whobought_area .product_item {
    padding: 10px 0 10px;
    border: none;
    background: url("../img/background/line_dot_01.gif") repeat-x bottom;
}


#block_recommend .block_body h3 {
	margin:0.5em 0;
}


#block_recommend .block_body p,
#whobought_area .product_item p {
    margin: 0 0 5px 0;
}

#block_recommend .block_body img,
#whobought_area .product_item img {
    margin: 0;
	width:100%;
	height:auto;
}

#block_recommend .block_body h3,
#whobought_area .product_item h3 {
    font-size: 100%;
    font-weight: normal;
}

/* サイドカラム用 */
.side_column #block_recommend .product_item {
    margin-bottom: 10px;
}


/* 画像
----------------------------------------------- */
/* メインカラム用 */
#main_column .productImage {
	width: 30%;
    float: left;
    margin-bottom: 10px;
}
#main_column #block_recommend .block_body .productImage,
#whobought_area .product_item .productImage {
}
/* サイドカラム用 */
.side_column .productImage {
    float: none;
    text-align: center;
    width: auto;
}
.side_column #block_recommend .block_body .productImage {
}


/* 左右の振り分け
----------------------------------------------- */
#main_column #block_recommend .product_item,
#whobought_area .product_item {
	display:inline-block;
	vertical-align:top;
	width:46.5%;
	height:auto;
	margin-left:1%;
	margin-right:1%;
}

html.lt-ie8 #main_column #block_recommend .product_item,
html.lt-ie8 #whobought_area .product_item {/*ie7対策*/
	display:inline;
	zoom:1;
}



/* 商品説明テキスト
----------------------------------------------- */
/* メインカラム用 1カラム時*/
.productContents {
    float: right;
    width: 68%;
}
body.colnum1 #block_recommend .block_body .productContents {
}

/* メインカラム用 2カラム時*/
body.colnum2 #block_recommend .block_body .productContents,
body.colnum2 #whobought_area .productContents {
}

/* メインカラム用 3カラム時*/
body.colnum3 #block_recommend .block_body .productContents,
body.colnum3 #whobought_area .productContents {
}

/* サイドカラム用 */
.side_column .productContents {
    clear: both;
}

.side_column #block_recommend .block_body .productContents {
}


/* スマホ */
@media screen and (max-width: 480px) {
/* 画像用 */
#main_column .productImage {
    float:inherit;
    width:100%;
}

#main_column #block_recommend .block_body .productImage,
#whobought_area .product_item .productImage {
}

/* メインカラム用 */
.productContents {
    float:inherit;
    width:100%;
}
body.colnum1 #block_recommend .block_body .productContents,
body.colnum2 #block_recommend .block_body .productContents,
body.colnum2 #whobought_area .productContents,
body.colnum3 #block_recommend .block_body .productContents,
body.colnum3 #whobought_area .productContents {
}

}

/* タブレット */
@media screen and (min-width: 481px) and (max-width: 800px){
}

/* PC */
@media screen and (min-width: 801px){
}



/************************************************
 インヘッダーブロック
@import url("./bloc_alpha.css");
************************************************ */


#headerInternalColumn {
	margin: 5px 0 10px 0;
	padding:0;
}

/* ログイン（ヘッダー用）
----------------------------------------------- */
#header #block_header_login {
	margin:0;
	padding:0;
    border:1px solid #ffc979;
    background: #fef3d3;
    letter-spacing: -0.075em;
}

#header #block_header_login .block_body {
	margin:0;
    padding:3px 10px;
}

#header #block_header_login .block_outer {
	margin:0;
	padding:0;
}



#header #header_login_area ul.formlist {
	margin:0;
	padding:0;
}
#header #block_header_login ul.formlist li {
    /*float: left;*/
	display: inline-block;
	vertical-align:top;
    padding-right: 5px;
}
html.lt-ie8 #header #block_header_login ul.formlist li {
	display:inline;
	zoom:1;
    padding-right: 2.5px;
}

#header #block_header_login ul.formlist li.mail {
    padding-left: 28px;
    background: url("../img/common/ico_arrow_login.gif") no-repeat left;
    font-size: 90%;
}
#header #block_header_login ul.formlist li.password {
}
#header #block_header_login ul.formlist li.login_memory {
    font-size: 85%;
	white-space:nowrap;
}
#header #block_header_login ul.formlist li.forgot {
    margin-top: 6px;
    font-size: 70%;
}
#header #block_header_login ul.formlist li.btn {
}
#header #block_header_login p.btn input {
    vertical-align: middle;
}




/* ***********************************************
追加ブロック
************************************************ */
/* 共通
----------------------------------------------- */
#container .block_outer #banner_area .block_body {
    border: none;
}

/* 【メイン】バナーエリア_02
----------------------------------------------- */
#main_column .block_outer #banner_area .block_body ul {
    width: 100%;
}
#main_column .block_outer #banner_area .block_body ul li {
    float: left;
}
#main_column .block_outer #banner_area .block_body ul li.sub_01 {
    padding-right: 8px;
}

/* 【サイド】バナーエリア_01
----------------------------------------------- */
/* 【サイド】バナーエリア_02
----------------------------------------------- */
#leftcolumn .block_outer #banner_area .block_body ul li,
#rightcolumn .block_outer #banner_area .block_body ul li {
    margin-bottom: 8px;
}



/************************************************
 ポップアップウィンドウ
@import url("./popup.css");
************************************************ */
/* 共通
----------------------------------------------- */
#windowcolumn {
    border-top: solid 3px #f90;
	
    height: 100%;
    margin: 0;
    background: #fff;
}

.popup ul {
	margin:0;
	padding:0;
}

#windowcolumn h1 {
    margin-bottom: 10px;
    padding: 8px;
    border-top: solid 1px #ebeced;
    color: #f60;
    background: url("../img/background/bg_tit_sub_01.jpg") repeat-x left bottom;
    background-color: #fef3d8;
    font-size: 170%;
}

.window_area {
    margin: 15px auto 0 auto;
    padding: 0 20px 20px 20px;
    min-height: 300px;
    height: auto !important;
}

.window_area p.information {
    margin-bottom: 20px;
}

.window_area .message {
    margin-bottom: 20px;
    color: #f60;
    line-height: 150%;
    font-weight: bold;
    font-size: 140%;
}
.window_area table {
}

/* お客様の声の書き込み、新しいお届け先の追加・変更
----------------------------------------------- */
.window_area #forgot {
    margin: 0 auto;
    padding: 20px 0;
    border: 1px solid #ccc;
    text-align: left;
}
.window_area #forgot .mailaddres {
    margin-bottom: 10px;
}

.window_area #forgot p {
    text-align: center;
}


/* 商品詳細拡大写真、カート拡大写真
----------------------------------------------- */
div#bigimage,
div#cartimage {
    margin-top: 15px;
    background-color: #fff;
    text-align: center;
}

div#bigimage img,
div#cartimage img {
    padding: 10px;
    background-color: #fff;
}

/* 郵便番号検索
----------------------------------------------- */
div#zipsearchcolumn {
    margin: 15px auto 0 auto;
    border-top: 5px solid #ffa85c;
    border-bottom: 5px solid #ffa85c;
    width: 460px;
    background-color: #fff;
}

div#zipsearchcolumn h2 {
    margin: 0 0 15px 0;
    width: 460px;
}

div#zipsearch_area {
    margin: 15px auto 0 auto;
    width: 460px;
}

div#zipsearchcolumn .btn {
    margin: 15px 0 30px 0;
    text-align: center;
}

div#zipsearch_area #completebox p {
    padding: 60px 5px;
    text-align: center;
}



/************************************************
 印刷用
@import url("./print.css");
************************************************ */

@media print {
    body {
        zoom: 75%;
    }
}



/* スマホ */
@media screen and (max-width: 480px) {
}

/* タブレット */
@media screen and (min-width: 481px) and (max-width: 800px){
}

/* PC */
@media screen and (min-width: 801px){
}





