@charset "euc-jp";

/***右コンテンツ***/
#container #right #maintitle{
border: 0;
margin: 0;
padding: 0 0 10px 0;
width: 570px;
}

#container #right #hit{
border: 0;
margin: 0;
padding: 0;
width: 570px;
}

#container #right #page{
border: 0;
margin: 0;
padding: 0 0 15px 0;
width: 570px;
text-align: center;
font-size: 75%;
}

#container #right #contents{
border: 0;
margin: 0;
padding: 0;
width: 570px;
}

#container #right #contents #left{
width: 132px;
}

#container #right #contents #spacer{
width: 13px;
}

#container #right #contents #right{
width: 425px;
}

/*商品リスト*/
#container #right #contents #left #picture{
border-width: 1px;
border-style: solid;
border-color: #ccc;
margin: 0;
padding: 0;
}

#container #right #contents #right #title{
border: 0;
background: #f0f0f0;
padding: 8px;
margin-bottom: 6px;
text-align: left;
width: 409px; 
voice-family: "\"}\""; 
voice-family: inherit;
width: 425px;
}

html>body #container #right #contents #right #title {
width:409px;
}

#container #right #contents #right #icon{
border: 0;
margin-right: 6px;
}

#container #right #contents #right #contents{
border: 0;
margin: 0;
padding: 0;
width: 425px;
}

#container #right #bestone #left #picture{
border-width: 1px;
border-style: solid;
border-color: #ccc;
margin: 0;
padding: 0;
}


