{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{%- extends 'bootstrap_3_layout.html.twig' -%}

{%- block form_rest -%}
    {% set attr = attr|merge({class: attr.class|default('')}) %}
    {% if attr.class == 'search' %}
        <div class="col-md-offset-1 col-lg-offset-2 search clearfix">
        {% for child in form %}
            {% if not child.rendered %}
                <div class="col-sm-6 col-md-5 col-lg-5">
                    {{ form_row(child) }}
                </div>
            {% endif %}
        {% endfor %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{%- endblock form_rest -%}


{%- block form_widget -%}
    {% set attr = attr|merge({class: attr.class|default('')}) %}
    {% if attr.class == 'input_search' %}
        {{- parent() -}}
    {% else %}
        <div class="form-group">
            {{- parent() -}}
        </div>
    {% endif %}
{%- endblock form_widget -%}



