{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{%- extends 'bootstrap_3_layout.html.twig' -%}

{%- block form_rest -%}
    {% set attr = attr|merge({class: attr.class|default('')}) %}
    {% if attr.class == 'search' %}
        <div class="col-md-offset-1 col-lg-offset-2 search clearfix">
        {% for child in form %}
            {% if not child.rendered %}
                <div class="col-sm-6 col-md-5 col-lg-5">
                    {{ form_row(child) }}
                </div>
            {% endif %}
        {% endfor %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{%- endblock form_rest -%}


{%- block form_widget -%}
    {% set attr = attr|merge({class: attr.class|default('')}) %}
    {% if attr.class == 'input_search' %}
        {{- parent() -}}
    {% else %}
        <div class="form-group">
            {{- parent() -}}
        </div>
    {% endif %}
{%- endblock form_widget -%}



