<ul class="level1">
    <li id="navi-mail-index"><a href="{{ url('admin_mail') }}"><span>配信内容設定</span></a></li>
    <li id="navi-mail-template"><a href="{{ url('admin_mail_template') }}"><span>テンプレート設定</span></a></li>
    <li id="navi-mail-history"><a href="{{ url('admin_mail_history') }}"><span>配信履歴</span></a></li>
</ul>
