{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% block javascript %}
<script>
$(function() {
    var localStorageKey = 'block_browsing_history';
    var display_limit = 6;

    var getHistory = function () {
        try {
            return JSON.parse(localStorage.getItem(localStorageKey)) || [];
        }
        catch (e) {
            localStorage.setItem(localStorageKey, null);
            return [];
        }
    }

    var updateHistory = function (history, product) {
        var newHistory = [product];
        for (var i in history) {
            if (history[i].id && history[i].id !== product.id) {
                newHistory.push(history[i])
            }
        }
        newHistory = newHistory.slice(0, display_limit + 1);
        localStorage.setItem(localStorageKey, JSON.stringify(newHistory));
        return newHistory;
    };

    var getProductDetail = function () {
        var block = $('#ex-block-browsingHistory');
        var id = block.data('product-id');
        if (!id) {
            return false;
        }
        return {
            id,
            name: block.data('product-name'),
            url: block.data('product-url'),
            image: block.data('product-image') || null
        }
    };

    var appendHtml = function (history, product) {
        var html = '';
        var counter = 0;
        for (var i in history) {
            if (product && history[i].id === product.id) {
                continue;
            }
            if (++counter > display_limit) {
                break;
            }
            html += '<div class="ec-newItemRole__listItem"><a href="' + history[i].url + '"><img src="' + history[i].image + '"><p class="ec-newItemRole__listItemTitle">' + history[i].name + '</p></a></div>';
        }
        if (html) {
            $('#ex-block-browsingHistory_products').append(html).removeClass('is-hide');
            $('#ex-block-browsingHistory').css('display', 'block');
        }
    }

    var history = getHistory();
    var product = getProductDetail();
    if (product) {
        history = updateHistory(history, product);
    }
    appendHtml(history, product);
});
</script>
{% endblock %}

<div id="ex-block-browsingHistory"
    class="ec-role"
    style="display:none"
    {% if app.request.attributes.get('_route') == 'product_detail' %}
        data-product-id="{{ Product.id }}"
        data-product-name="{{ Product.name }}"
        data-product-url="{{ url('product_detail', {'id': Product.id}) }}"
        data-product-image="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}"
    {% endif %}
>
    <div class="ec-newItemRole">
        <div class="ec-newItemRole__list" id="ex-block-browsingHistory_products">
            <div class="ec-newItemRole__listItem">
                <div class="ec-newItemRole__listItemHeading ec-secHeading--tandem">
                    <span class="ec-secHeading__en">最近チェックしたアイテム</span>
                    <span class="ec-secHeading__line"></span>
                    <span class="ec-secHeading__ja">最近チェックしたアイテム</span>
                </div>
            </div>
        </div>
    </div>
</div>
