{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-categoryRole">
    <div class="ec-role">
        <div class="ec-secHeading"><span class="ec-secHeading__en">CATEGORY</span><span class="ec-secHeading__line"></span><span class="ec-secHeading__ja">カテゴリ</span></div>
        <div class="ec-categoryRole__list">
            <div class="ec-categoryRole__listItem"><a href="/moc/guest/search/"><img src="http://placehold.it/300x150/ccc/fff/&amp;text=hoge"></a>
            </div>
            <div class="ec-categoryRole__listItem"><a href="/moc/guest/search/"><img src="http://placehold.it/300x150/ccc/fff/&amp;text=hoge"></a>
            </div>
            <div class="ec-categoryRole__listItem"><a href="/moc/guest/search/"><img src="http://placehold.it/300x150/ccc/fff/&amp;text=hoge"></a>
            </div>
        </div>
    </div>
</div>
