{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="ec-banner">
    <div class="ec-banner__intro">{{ 'front.block.free.free_message__intro'|trans }}</div>
    <div class="ec-banner__title">{{ 'front.block.free.free_message__title'|trans }}</div>
    <div>{{ 'front.block.free.free_message__text'|trans }}</div>
</div>
