{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="ec-role">
    <div class="ec-grid3">
        <div class="ec-grid3__cell3">
            {{ include('Block/news.twig') }}
        </div>
        <div class="ec-grid3__cell">
            {{ include('Block/free.twig') }}
        </div>
    </div>
</div>


