<div class="ec-headerRole">
    <div class="ec-headerRole__title">
        {{ include('Block/logo.twig') }}
    </div>
    <div class="ec-headerRole__cart">
        {{ include('Block/cart.twig') }}
    </div>
    <div class="ec-headerRole__navSP">
        {{ include('Block/nav_sp.twig') }}
    </div>
</div>