{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="ec-headerNaviRole">
    <div class="ec-headerNaviRole__search is is_inDrawer">
        {{ render(path('block_search_product')) }}
    </div>
    <div class="ec-headerNaviRole__nav is is_inDrawer">
        {{ include('Block/login.twig') }}
    </div>
</div>