{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{# TODO ロジック差し込み #}

<div class="ec-headerNav">
    <div class="ec-headerNav__item"><a href="/moc/guest/register"><i class="ec-headerNav__itemIcon fas fa-user"></i><span class="ec-headerNav__itemLink">新規登録</span></a>
    </div>
    <div class="ec-headerNav__item"><a href="/moc/guest/login"><i class="ec-headerNav__itemIcon fas fa-heart"></i><span class="ec-headerNav__itemLink">お気に入り</span></a>
    </div>
    <div class="ec-headerNav__item"><a href="/moc/guest/login"><i class="ec-headerNav__itemIcon fas fa-lock"></i><span class="ec-headerNav__itemLink">ログイン</span></a>
    </div>
</div>

