{% set Cart = app['eccube.service.cart'].getCart %}

<div class="ec-headerNavSP">
    <div class="ec-cartNaviSP">
        <div class="ec-cartNaviSP__icon"><img src="{{ asset('assets/icon/cart-dark.svg') }}" alt="cart"></div>
        <div class="ec-cartNaviSP__badge">{{ Cart.total_quantity }}</div>
    </div>

    <div class="ec-headerNavSP__item">
        <a class="ec-headerNavSP__itemMenu"><span></span><span></span><span></span></a>
    </div>
</div>
