{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-role">
    <div class="ec-newItemRole">
        <div class="ec-newItemRole__list">
            <div class="ec-newItemRole__listItem">
                <div class="ec-newItemRole__listItemHeading ec-secHeading--tandem">
                    <span class="ec-secHeading__en">NEW ITEM</span>
                    <span class="ec-secHeading__line"></span><span class="ec-secHeading__ja">新着商品</span>
                    <a class="ec-inlineBtn--top" href="/moc/guest/search/">more</a>
                </div>
            </div>
            <div class="ec-newItemRole__listItem"><a href="/moc/guest/item/"><img src="{{ asset('img/top/img_item01_01.jpg') }}">
                    <p class="ec-newItemRole__listItemTitle">彩のジェラート"CUBE"
                    </p>
                    <p class="ec-newItemRole__listItemPrice">￥1,200(税込)
                    </p></a>
            </div>
            <div class="ec-newItemRole__listItem"><a href="/moc/guest/item/"><img src="{{ asset('img/top/img_item02_01.jpg') }}">
                    <p class="ec-newItemRole__listItemTitle">チェリーアイスサンド
                    </p>
                    <p class="ec-newItemRole__listItemPrice">￥800(税込)
                    </p></a>
            </div>
            <div class="ec-newItemRole__listItem"><a href="/moc/guest/item/"><img src="{{ asset('img/top/img_item01_03.jpg') }}">
                    <p class="ec-newItemRole__listItemTitle">タイトル
                    </p>
                    <p class="ec-newItemRole__listItemPrice">￥600(税込)
                    </p></a>
            </div>
        </div>
    </div>
</div>
