{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% set NewsList = repository('Eccube\\Entity\\News').getList() %}

{% block javascript %}
<script>
    $(function() {
        $('.news__items').each(function() {
            var listLenght = $(this).find('li').length;
            if (listLenght > 5) {
                $(this).find('li:gt(4)').each(function() {
                    $(this).hide();
                });
                $(this).append('<a id="news_readmore">» {{ 'front.block.news.read_more'|trans }}</a>');
                var dispNum = 5;
                $(this).find('#news_readmore').click(function() {
                    dispNum += 5;
                    $(this).parent().find('li:lt(' + dispNum + ')').show(400);
                    if (dispNum >= listLenght) {
                        $(this).hide();
                    }
                })
            }
        });
    });
</script>
{% endblock %}

<div class="ec-newsRole">
    {# TODO ロジック差し込み　#}
    <div class="ec-secHeading">
        <span class="ec-secHeading__en">NEWS</span>
        <span class="ec-secHeading__line"></span>
        <span class="ec-secHeading__ja">{{'front.block.news.news_title'|trans}}</span>
    </div>
    <div class="ec-newsRole__news">
        <div class="ec-newsRole__newsItem">
            <div class="ec-newsRole__newsHeading">
                <div class="ec-newsRole__newsDate">2016/09/29
                </div>
                <div class="ec-newsRole__newsColumn">
                    <div class="ec-newsRole__newsTitle">NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。
                    </div>
                    <div class="ec-newsRole__newsClose"><a class="ec-newsRole__newsCloseBtn"><i class="fas fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
            <div class="ec-newsRole__newsDescription">詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。<br><a href="https://www.ec-cube.net/">https://www.ec-cube.net/</a>
            </div>
        </div>
        <div class="ec-newsRole__newsItem">
            <div class="ec-newsRole__newsHeading">
                <div class="ec-newsRole__newsDate">2016/09/29
                </div>
                <div class="ec-newsRole__newsColumn">
                    <div class="ec-newsRole__newsTitle">NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。
                    </div>
                    <div class="ec-newsRole__newsClose"><a class="ec-newsRole__newsCloseBtn"><i class="fas fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
            <div class="ec-newsRole__newsDescription">詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。<br><a href="https://www.ec-cube.net/">https://www.ec-cube.net/</a>
            </div>
        </div>
        <div class="ec-newsRole__newsItem">
            <div class="ec-newsRole__newsHeading">
                <div class="ec-newsRole__newsDate">2016/09/29
                </div>
                <div class="ec-newsRole__newsColumn">
                    <div class="ec-newsRole__newsTitle">NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。
                    </div>
                    <div class="ec-newsRole__newsClose"><a class="ec-newsRole__newsCloseBtn"><i class="fas fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
            <div class="ec-newsRole__newsDescription">詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。<br><a href="https://www.ec-cube.net/">https://www.ec-cube.net/</a>
            </div>
        </div><a class="ec-inlineBtn--top">more</a>
    </div>
</div>