{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-role">
    <div class="ec-eyecatchRole">
        <img class="ec-eyecatchRole__image" src="{{ asset('img/top/img_about.jpg') }}" alt="" role="presentation"/>
        <div class="ec-eyecatchRole__intro">
            <p class="ec-eyecatchRole__introEnTitle">CUBE GELATO ICE
            </p>
            <p class="ec-eyecatchRole__introTitle"> {{ 'front.block.new_product.eyecatch_title'|trans }}
            </p>
            <p class="ec-eyecatchRole__introDescriptiron">
                {{ 'front.block.new_product.eyecatch_body'|trans }}
            </p><a class="ec-blockBtn--top" href="/products/list?category_id=6">{{ 'front.block.new_product.eyecatch_view_list'|trans }}</a>
        </div>
    </div>
</div>
