@charset "euc-jp"; 

/***左コンテンツ***/
/*無料バナー*/
#container #left #free{
border: 0;
margin: 0 0 10px 0;
padding: 0;
width: 170px;
}

/*検索*/
#container #left #search{
border: 0;
margin: 0;
padding: 0;
width: 170px;
}

/*ナビ*/
#container #left #navi{
border: 0;
margin: 0;
padding: 0;
width: 170px;
}

/*TV*/
#container #left #tvshopping{
border: 0;
margin: 0;
padding: 0;
width: 170px;
}

/*カテゴリ*/
#container #left #category{
border: 0;
margin: 0;
padding: 0;
width: 170px;
}