{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'Admin/main_frame.twig' %}

{% block title %}商品管理{% endblock %}
{% block sub_title %}商品編集{% endblock %}

{% block main %}
    <form name="form1" id="form1" method="post" action="./product_class.php">
        <div id="complete">
            <div class="complete-top"></div>
            <div class="contents">
                <div class="message">
                    登録が完了致しました。
                </div>
            </div>
            <div class="btn-area-top"></div>
            <div class="btn-area">
                <ul>
                    <li><a class="btn-action" href="javascript:;" onclick="eccube.changeAction('{{ url('admin_product') }}'); eccube.setModeAndSubmit('search','',''); return false;"><span class="btn-prev">検索結果へ戻る</span></a></li>
                    <li><a class="btn-action" href="{{ url('admin_product_product_new') }}"><span class="btn-next">続けて登録を行う</span></a></li>
                    {% if app.config.option_class_regist %}
                        <li><a class="btn-action" href="?" onclick="eccube.setModeAndSubmit('pre_edit', 'product_id', ''); return false;"><span class="btn-next">この商品の規格を登録する</span></a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="btn-area-bottom"></div>
        </div>
    </form>
{% endblock %}
