{% extends 'Admin/main_frame.twig' %}

{% block main %}
    <form name="form1" id="form1" method="post" action="./product_class.php">
        <input type="hidden" name="<!--{$smarty.const.TRANSACTION_ID_NAME}-->" value="<!--{$transactionid}-->" />
        <input type="hidden" name="mode" value="" />
        <input type="hidden" name="product_id" value="" />
        <!--{foreach key=key item=item from=$arrSearchHidden}-->
            <!--{if is_array($item)}-->
                <!--{foreach item=c_item from=$item}-->
                <input type="hidden" name="<!--{$key|h}-->[]" value="<!--{$c_item|h}-->" />
                <!--{/foreach}-->
            <!--{else}-->
                <input type="hidden" name="<!--{$key|h}-->" value="<!--{$item|h}-->" />
            <!--{/if}-->
        <!--{/foreach}-->
        <div id="complete">
            <div class="complete-top"></div>
            <div class="contents">
                <div class="message">
                    登録が完了致しました。
                </div>
            </div>
            <div class="btn-area-top"></div>
            <div class="btn-area">
                <ul>
                    <li><a class="btn-action" href="{{ path('admin_product') }}"><span class="btn-prev">検索結果へ戻る</span></a></li>
                    <li><a class="btn-action" href="{{ path('admin_product_product') }}"><span class="btn-next">続けて登録を行う</span></a></li>
                </ul>
            </div>
            <div class="btn-area-bottom"></div>
        </div>
    </form>
{% endblock %}
