<nav>
    <ul class="c-mainNavArea__nav">
        <li class="c-mainNavArea__navItem"><a class="c-mainNavArea__navItemTitle" href="/"><i class="fa fa-home" aria-hidden="true"></i><span>ホーム</span></a>
        </li>
        <li class="c-mainNavArea__navItem"><a class="c-mainNavArea__navItemTitle collapsed" data-toggle="collapse" href="#productManagement" aria-expanded="false" aria-controls="productManagement"><i class="fa fa-cube" aria-hidden="true"></i><span>商品管理</span></a>
            <ul class="collapse" id="productManagement">
                <li><a class="is-active" href="/product/master">商品マスター</a></li>
                <li><a href="/product/register">商品登録</a></li>
                <li><a href="/product/standard">規格管理</a></li>
                <li><a href="/product/category">カテゴリ管理</a></li>
                <li><a href="/product/tags">タグ管理</a></li>
                <li><a href="/product/csv/product">商品CSV登録</a></li>
                <li><a href="/product/csv/category">カテゴリCSV登録</a></li>
            </ul>
        </li>
        <li class="c-mainNavArea__navItem"><a class="c-mainNavArea__navItemTitle collapsed" data-toggle="collapse" href="#orderManagement" aria-expanded="false" aria-controls="orderManagement"><i class="fa fa-inbox" aria-hidden="true"></i><span>受注管理</span></a>
            <ul class="collapse" id="orderManagement">
                <li><a href="/order/master">受注マスター</a></li>
                <li><a href="/order/register">受注登録</a></li>
            </ul>
        </li>
        <li class="c-mainNavArea__navItem"><a class="c-mainNavArea__navItemTitle collapsed" data-toggle="collapse" href="#shipManagement" aria-expanded="false" aria-controls="shipManagement"><i class="fa fa-truck" aria-hidden="true"></i><span>出荷管理</span></a>
            <ul class="collapse" id="shipManagement">
                <li><a href="/shipment/master">出荷マスター</a></li>
                <li><a href="/shipment/register">出荷登録</a></li>
                <li><a href="/shipment/csv/shipment">出荷CSV登録</a></li>
            </ul>
        </li>
        <li class="c-mainNavArea__navItem"><a class="c-mainNavArea__navItemTitle collapsed" data-toggle="collapse" href="#customerManagement" aria-expanded="false" aria-controls="customerManagement"><i class="fa fa-users" aria-hidden="true"></i><span>会員管理</span></a>
            <ul class="collapse" id="customerManagement">
                <li><a href="/customer/master">会員マスター</a></li>
                <li><a href="/customer/register">会員登録</a></li>
            </ul>
        </li>
        <li class="c-mainNavArea__navItem"><a class="c-mainNavArea__navItemTitle collapsed" data-toggle="collapse" href="#contentsManagement" aria-expanded="false" aria-controls="contentsManagement"><i class="fa fa-file-text-o" aria-hidden="true"></i><span>コンテンツ管理</span></a>
            <ul class="collapse" id="contentsManagement">
                <li><a href="/content/news">新着情報管理</a></li>
                <li><a href="/content/file">ファイル管理</a></li>
                <li><a href="/content/layout">レイアウト管理</a></li>
                <li><a href="/content/page">ページ管理</a></li>
                <li><a href="/content/block">ブロック管理</a></li>
                <li><a href="/content/cache">キャッシュ管理</a></li>
            </ul>
        </li>
        <li class="c-mainNavArea__navItem"><a class="c-mainNavArea__navItemTitle collapsed" data-toggle="collapse" href="#config" aria-expanded="false" aria-controls="config"><i class="fa fa-cog" aria-hidden="true"></i><span>設定</span></a>
            <div class="collapse" id="config"><a class="c-mainNavArea__navItemSubTitle collapsed" data-toggle="collapse" href="#commonConfig" aria-expanded="false" aria-controls="commonConfig"><span>基本情報設定</span></a>
                <ul class="collapse" id="commonConfig">
                    <li><a href="/setting/basis/shop"> ショップマスター</a></li>
                    <li><a href="/setting/basis/tradelaw"> 特定商取引法</a></li>
                    <li><a href="/setting/basis/agreement"> 利用規約設定</a></li>
                    <li><a href="/setting/basis/payment"> 支払方法設定</a></li>
                    <li><a href="/setting/basis/delivery"> 配送方法設定</a></li>
                    <li><a href="/setting/basis/tax"> 税率設定</a></li>
                    <li><a href="/setting/basis/mail">メール設定</a></li>
                    <li><a href="/setting/basis/csv">CSV出力項目設定</a></li>
                </ul><a class="c-mainNavArea__navItemSubTitle collapsed" data-toggle="collapse" href="#systemConfig" aria-expanded="false" aria-controls="systemConfig"><span>システム情報設定</span></a>
                <ul class="collapse" id="systemConfig">
                    <li><a href="/setting/system/system">システム情報</a></li>
                    <li><a href="/setting/system/member">メンバー管理</a></li>
                    <li><a href="/setting/system/authority">権限管理</a></li>
                    <li><a href="/setting/system/security">セキュリティ管理</a></li>
                    <li><a href="/setting/system/log">EC-CUBE ログ表示</a></li>
                    <li><a href="/setting/system/master">マスターデータ管理</a></li>
                </ul>
            </div>
        </li>
        <li class="c-mainNavArea__navItem"><a class="c-mainNavArea__navItemTitle collapsed" data-toggle="collapse" href="#ownersStore" aria-expanded="false" aria-controls="ownersStore"><i class="fa fa-info-circle" aria-hidden="true"></i><span>オーナーズストア</span></a>
        </li>
        <li class="c-mainNavArea__navItem"><a class="c-mainNavArea__navItemTitle collapsed" data-toggle="collapse" href="#others" aria-expanded="false" aria-controls="shipManagement"><i class="fa fa-truck" aria-hidden="true"></i><span>その他</span></a>
            <ul class="collapse" id="others">
                <li><a href="/styleguide/">スタイルガイド</a></li>
            </ul>
        </li>
    </ul>
</nav>