{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'mypage mypage_change' %}

{% set mypageno = 'change' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block javascript %}
    {% include "Components/form/postcode_script.twig" %}
{% endblock javascript %}

{% block main %}
    {% include "Components/heading.twig" with {'title': 'front.mypage.title', 'subTitle': 'front.mypage.nav__customer' } %}

    {% include 'Mypage/navi.twig' %}

    <div id="my-account-edit" class="row">
        <div class="col-12">
            <div class="page-account-edit">
                <form method="post" action="{{ url('mypage_change') }}" novalidate class="h-adr">
                    <span class="p-country-name" style="display:none;">Japan</span>
                    {{ form_widget(form._token) }}
                    
                    {# Name #}
                    {% include "Components/form/name.twig" with {'form': form} %}

                    {# Kanna #}
                    {% include "Components/form/kanna.twig" with {'form': form} %}

                    {# Company Name #}
                    {% include "Components/form/company.twig" with {'form': form} %}
                    
                    {# Address #}
                    {% include "Components/form/address.twig" with {'form': form} %}
                    
                    {# Phone #}
                    {% include "Components/form/phone.twig" with {'form': form} %}

                    {# Email #}
                    {% include "Components/form/email.twig" with {'form': form} %}

                    {# Password #}
                    {% include "Components/form/password.twig" with {'form': form} %}
                    
                    {# Birthday #}
                    {% include "Components/form/birthday.twig" with {'form': form} %}
                    
                    {# Gender #}
                    {% include "Components/form/gender.twig" with {'form': form} %}

                    {# Job #}
                    {% include "Components/form/job.twig" with {'form': form} %}

                    {# Options Render #}
                    {% include "Components/form/options_render.twig" with {'form': form} %}

                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary btn-block">
                                {{ 'common.registration'|trans }}
                            </button>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
{% endblock %}
