{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'withdraw' %}

{% set body_class = 'mypage mypage_withdraw_complete' %}

{% block main %}
    {% include "Components/heading.twig" with {'title': 'front.mypage.title', 'subTitle': 'front.mypage.nav__withdrow' } %}

    <div class="row">
        <div class="col-12">
            <div class="p-4 text-center bg-light">
                <h4 class="pb-2">{{ 'front.mypage.withdraw_complete_message__title'|trans }}</h4>
                <p>{{ 'front.mypage.withdraw_complete_message__body'|trans|nl2br }}</p>
                <hr class="my-4">
                <a href="{{ url('homepage') }}" class="btn btn-primary">
                    {{ 'common.go_to_top'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
