{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['order', 'order_master'] %}

{% block title %}受注管理{% endblock %}
{% block sub_title %}メール通知{% endblock %}

{% block main %}
<div id="complete_wrap" class="row">
    <div id="complete_box" class="col-md-9">
        <div id="complete_box__body" class="box">
            <div id="complete_box__header" class="box-header">
                <h3 class="box-title">メール配信完了しました。</h3>
            </div><!-- /.box-header -->
        </div><!-- /.box -->
        <div id="complete_box__footer" class="row">
            <div id="complete_box__back_button" class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                <p><a href="{{ url('admin_order_page', { page_no: app.session.get('eccube.admin.order.search.page_no')|default('1') }) }}?resume=1">検索結果へ戻る</a></p>
            </div>
        </div>

    </div><!-- /.col -->
</div>
{% endblock %}
