<div style="display: none">
    {{ form_widget(shipmentItemForm.Product) }}
    {{ form_widget(shipmentItemForm.ProductClass) }}
    {{ form_widget(shipmentItemForm.price, { 'attr': {'type': 'hidden'} }) }}
    {{ form_widget(shipmentItemForm.quantity, { 'attr': {'type': 'hidden'} }) }}
</div>