/*********************************************/
/********** -基本設定 ************************/
/*********************************************/

/********** --ボディ **********/
body {	background-color: #FFFFFF;}
#base { width: 750px;}

/********** --テキスト **********/
body, td, th, input, select, option, textarea { color: #333333;}

/********** --リンクスタイル **********/
a:link {	color: #205DE8; text-decoration: none;}
a:visited {	color: #205DE8; text-decoration: none;}
a:active {	color: #205DE8; text-decoration: none;}
a:hover {	color: #205DE8; text-decoration:underline;}





/*********************************************/
/********** -ボディコンテンツ ****************/
/*********************************************/

/** 引用 **/
blockquote { border: #205DE8 1px solid; background: #efefef;}

/********** --箇条書き **********/
ol li { list-style-type: decimal;}
ul li { list-style-image: url({$CMSTmplUrl$}img/listicon.gif);}

/********** --水平線 **********/
hr {
	color: #CCCCCC;
	background-color: #CCCCCC;
	height: 1px;
	border: 0px;
}

/********** --見出し **********/
h1 {
	color:#FFFFFF;
	margin: 0px 0 10px 0;
	text-align: left ;
	background: #6B9FE1 url("{$CMSTmplUrl$}img/h1_bg.gif") repeat-x top;
}
h1.hfit {padding-top:6px;}

h2 {
	color:#5D91D3;
	margin: 0px 0px 10px 0px;
	text-align: left;
	border-top:1px solid #6B9FE1;
	border-bottom:1px solid #6B9FE1;
	border-left:5px solid #6B9FE1;
	border-right:5px solid #6B9FE1;
	background: #FFFFFF url("{$CMSTmplUrl$}img/h2_bg.gif") repeat-x bottom;
}

h3 {
	color:#555555;
	margin: 0px 0px 10px 0px;
	text-align: left;
	border-bottom:1px solid #555555;
	border-left:5px solid #555555;
	background: #FFFFFF url("{$CMSTmplUrl$}img/h2_bg.gif") repeat-x bottom;
}

h4 {
	color:#5D91D3;
	margin: 0px 0px 10px 0px;
	padding-left: 20px;
	text-align: left;
	border-bottom:1px dotted #5D91D3;
	background: url("{$CMSTmplUrl$}img/h4_bg.gif") no-repeat left top;
}

h5 {
	color:#444444;
	margin: 0px 0px 10px 0px;
	padding-left: 20px;
	text-align: left;
	background: url("{$CMSTmplUrl$}img/h5_bg.gif") no-repeat left top;
}

h6 {
	color:#444444;
	margin: 0px 0px 10px 0px;
	padding-left: 20px;
	text-align: left;
	background: url("{$CMSTmplUrl$}img/h6_bg.gif") no-repeat left top;
}


/********** --表 **********/
/***** ---パターンA *****/
.table_a {
	border: #999999 1px solid;
	padding: 0px;
}

.table_a caption {
	font-weight: bold;
	color:#444444;
	padding: 3px 3px 3px 15px;
	background: url({$CMSTmplUrl$}img/tablecaption.gif) no-repeat left top;
}
.table_a_th {
	border: #FFFFFF 1px solid ;
	text-align: left;
	font-weight: bold;
	color: #5B90D3;
	background: url({$CMSTmplUrl$}img/tableicon.gif) no-repeat left top; 
	background-color: #E0DEDE;
	padding-left: 20px;
}
.table_a_th2 {
	text-align: left;
	border: #FFFFFF 1px solid;
	font-weight: normal;
	color: #444444;
	padding-left: 10px;
	background-color: #E0DEDE;
}
.table_a_td {
	text-align: left;
	border: #FFFFFF 1px solid;
	font-weight:normal;
	color: #444444;
	padding-left: 10px;
	background-color: #f7f7f7;
}

/***** ---パターンB *****/
.table_b {
	border: #999999 1px solid;
	padding: 0px;
}

.table_b caption {
	font-weight: bold;
	color:#444444;
	padding: 3px 3px 3px 15px;
	background: url({$CMSTmplUrl$}img/tablecaption.gif) no-repeat left top;
}
.table_b_th {
	border: #FFFFFF 1px solid;
	text-align: left;
	font-weight: normal;
	color: #444444;
	background-color: #81B5F6;
}
.table_b_th2 {
	text-align: left;
	border: #FFFFFF 1px solid;
	font-weight: normal;
	color: #444444;
	background-color: #81B5F6;
}
.table_b_td {
	text-align: left;
	border: #FFFFFF 1px solid;
	font-weight:normal;
	color: #444444;
	background-color: #f7f7f7;
}

/***** ---パターンC *****/
.table_c {
	border: #999999 1px solid;
	padding: 0px;
}

.table_c caption {
	font-weight: bold;
	color:#444444;
	padding: 3px 3px 3px 15px;
	background: url({$CMSTmplUrl$}img/tablecaption.gif) no-repeat left top;
}
.table_c_th {
	border: #FFFFFF 1px solid;
	text-align: left;
	font-weight: normal;
	color: #444444;
	background-color: #EF7452;
	padding: 3px 3px 3px 10px;
}
.table_c_th2 {
	text-align: left;
	border: #FFFFFF 1px solid;
	font-weight: normal;
	color: #444444;
	background-color: #EF7452;
}
.table_c_td {
	text-align: left;
	border: #FFFFFF 1px solid;
	font-weight:normal;
	color: #444444;
	background-color: #f7f7f7;
}

/** その他 **/
.table_d caption, .table_e caption, .table_f caption {
 background: url({$CMSTmplUrl$}img/tablecaption.gif) repeat-x no-repeat left top;
 padding-left:15px;
}


/********** --パーツ挿入 **********/
/***** ---ベースA *****/
.listbox_a {
	padding: 0px ;
	border-top: #999999 3px solid;
	border-bottom: #999999 3px solid;
	border-left: #999999 1px solid;
	border-right: #999999 1px solid;
}

.listset_a1_ul {
	background: #ffffff;
	margin: 0px;
	padding: 3px 30px;
}
.listset_a1_li {
	margin: 0px;
	padding: 0px;
	color:#666666;
	list-style-image: url({$CMSTmplUrl$}img/listicon_a1.gif);
	line-height:165%;
}

.listset_a2_ul {
	margin: 0px;
	padding: 3px 30px;
}
.listset_a2_li {
	margin: 0px;
	padding: 0px;
	color:#666666;
	list-style-image: url({$CMSTmplUrl$}img/listicon_a2.gif);
	line-height:120%;
}

/***** ---ベースB *****/
.listbox_b {
	padding: 0px ;
	border-top: #999999 3px solid;
	border-bottom: #999999 3px solid;
	border-left: #999999 1px solid;
	border-right: #999999 1px solid;
	margin-bottom: 0px;
}

.listset_b1_ul {
	background: #ffffff;
	margin: 0px;
	padding: 3px 30px;
}
.listset_b1_li {
	margin: 0px;
	padding: 0px;
	color:#666666;
	list-style-image: url({$CMSTmplUrl$}img/listicon_b1.gif);
	line-height:165%;
}

.listset_b2_ul {
	margin: 0px;
	padding: 3px 30px;
}
.listset_b2_li {
	margin: 0px;
	padding: 0px;
	color:#666666;
	list-style-image: url({$CMSTmplUrl$}img/listicon_b2.gif);
	line-height:120%;
}
.listset_b1_li a:link { color: #E9471B;}
.listset_b1_li a:visited { color: #E9471B;}
.listset_b1_li a:hover { color: #E9471B; text-decoration:underline;}

.listset_b2_li a:link { color: #E9471B;}
.listset_b2_li a:visited { color: #E9471B;}
.listset_b2_li a:hover { color: #E9471B; text-decoration:underline;}

/***** ---トピックリスト *****/
/** パターン5 **/.pagetitle_a {
 background:URL({$CMSTmplUrl$}img/listicon_a1.gif) no-repeat left top;
 padding:3 0 3 18px;
 margin-left:10px;}

/** パターン6 **/
.pagetitle_b {
 background:URL({$CMSTmplUrl$}img/listicon_b1.gif) no-repeat left top;
 padding:3 0 3 18px;
 margin-left:10px;}

/***** ---サイトマップ *****/
/** パターン3・4 **/
.titletext_level1{
 background:URL({$CMSTmplUrl$}img/twin_listicon.gif) no-repeat left top;
 padding-left:15px;}
.titletext_level2{
 background:URL({$CMSTmplUrl$}img/twin_listicon.gif) no-repeat left top;
 padding-left:15px;}





/*********************************************/
/********** -スキンデザイン*******************/
/*********************************************/


/********** --ヘッダー **********/
#header{
 width:750px;
 background: url("{$CMSTmplUrl$}img/head_bg.gif");
 background-repeat: no-repeat;
 background-position: top left;
 border-top: 1px solid #999999;
 border-bottom: 3px solid #999999;
 border-left: 1px solid #999999;
 border-right: 1px solid #999999;
 text-align:left;
}

/***** ---ロゴ *****/
.logo {
 padding:3px;
}
.logo a:hover{ border-style:none; }

/***** ---ヘッダーメニュー *****/
.headermenu_text{
 font-size:11px; color:#333333;
 line-height:120%;
 text-align: right;
 text-valign: bottom;
 margin:10px;
}
.headermenu_text a:link{
 color: #333333;
 text-decoration:none;
}
.headermenu_text a:visited{
 color: #333333;
 text-decoration:none;
}
.headermenu_text a:hover{
 color: #333333;
 background-color:#EFEFEF;
 text-decoration:underline;
}


/********** --メインナビゲーション **********/
/***** ---メインメニュー *****/
#mainmenubox{
 width:750px; 
 margin-top:5px;
 text-align: left;
 background: #999999;
 padding: 1px;
 margin-bottom:5px;
}

.text_text{
 font-size:12px; 
 line-height:120%;
 text-align: center;
 width: 100px;
 padding: 8px 1px 5px 3px;;
}

/** メインメニュー通常時 **/
.mainmenu{
 font-size:12px; 
 text-align:center;
 text-valign:middle;
 border-top: 1px solid #ffffff;
 border-bottom: 1px solid #cccccc;
 border-left: 1px solid #ffffff;
 border-right: 1px solid #cccccc;
 background: url("{$CMSTmplUrl$}img/menu_bg.gif");
 cursor: pointer;
}
.mainmenu a:link{
 text-align:center;
 text-decoration:none;
}
.mainmenu a:visited{
 text-align:center;
 text-decoration:none;
}

/** メインメニュー設定なし **/
.mainmenu_off{
 font-size:12px; 
 text-align:center;
 text-valign:middle;
 border-top: 1px solid #ffffff;
 border-bottom: 1px solid #cccccc;
 border-left: 1px solid #ffffff;
 border-right: 1px solid #cccccc;
 background: url("{$CMSTmplUrl$}img/menu_bg.gif");
}

/** メインメニュー選択時 **/
.mainmenu_on{
 color: #333333;
 font-size:12px; 
 text-align:center;
 text-valign:middle;
 border-top: 1px solid #ffffff;
 border-bottom: 1px solid #cccccc;
 border-left: 1px solid #ffffff;
 border-right: 1px solid #cccccc;
 background: #FFFFFF url("{$CMSTmplUrl$}img/menu_on_bg.gif");
 cursor: pointer;
}
.mainmenu_on a:link{
 color: #333333;
 text-align:center;
 text-decoration:none;
}
.mainmenu_on a:visited{
 color: #333333;
 text-decoration:none;
}

/** メインメニューマウスオーバー時 **/
.mainmenu_hover{
 font-size:12px; 
 text-align:center;
 text-valign:middle;
 border-top: 1px solid #ffffff;
 border-bottom: 1px solid #cccccc;
 border-left: 1px solid #ffffff;
 border-right: 1px solid #cccccc;
 background: #FFFFFF url("{$CMSTmplUrl$}img/menu_on_bg.gif");
 cursor: pointer;
}
.mainmenu_hover a:link{
 text-align:center;
}
.mainmenu_hover a:hover{
text-decoration:none;
}

/***** ---メインメニューガイド *****/
#mainmenu_guide{
 width:750px;
 background: #ffffff ;
 border-top: 1px solid #999999;
 border-bottom: 0px solid #999999;
 border-left: 0px solid #999999;
 border-right: 0px solid #999999;
}

.mainmenu_guide_text{
 padding:10px 10px 10px 10px;
 font-size:14px;
 line-height:130%;
 font-weight:bold;
 color:#333333; 
 text-align:left;
}

/***** ---ぱんくず *****/
#crumb {
 width:750px;
 color:#666666; text-align:left;
 background: #E3E3E3;
 border-top: 1px solid #999999;
 border-bottom: 1px solid #999999;
 margin-bottom:10px;
}

.crumb_text {
 font-size:10px;
 line-height:120%;
 text-valign:middle;
 padding:2px 10px 2px 10px ;
}
.crumb_text a:link {
	text-decoration:none;
}
.crumb_text a:visited {
	text-decoration:none;
}
.crumb_text a:hover {
	text-decoration:underline;
}


/********** --ボディコンテンツ枠 **********/
.main_td{
 background: #FFFFFF;
 padding:0px;
}

/********** --サイド **********/
#side{
 width:170px; 
 background: #E3E3E3;
 border-top: 1px solid #999999;
 border-bottom: 1px solid #999999;
 padding-bottom: 20px;
}

/***** ---サイドメニュー *****/
.sidemenu {
 margin:0px 10px 2px 10px;
}

.sidemenu_header {
 margin:5px 10px 5px 10px;
}
.sidemenu_footer {
 margin:5px 10px 5px 10px;
}
.sidemenu_td{
}
.sidemenu_table {
 cursor: pointer;
 width:150px;
}
.sidemenu_table_on {
 cursor: pointer;
 width:150px;
}
.sidemenu_table_hover {
 cursor: pointer;
 width:150px;
}

/** サイドメニューtop **/
.sidemenu_top{
 height:10px;
 background: url({$CMSTmplUrl$}img/smenu_bg_head.gif) no-repeat top left;
}
.sidemenu_on_top{
 height:10px;
 background: url({$CMSTmplUrl$}img/smenu2_bg_head.gif) no-repeat top left;
}
.sidemenu_hover_top{
 height:10px;
 background: url({$CMSTmplUrl$}img/smenu3_bg_head.gif) no-repeat top left;
}

/** サイドメニューbottom **/
.sidemenu_btm{
 height:10px;
 background: url({$CMSTmplUrl$}img/smenu_bg_foot.gif) no-repeat bottom left;
}
.sidemenu_on_btm{
 height:10px;
 background: url({$CMSTmplUrl$}img/smenu2_bg_foot.gif) no-repeat bottom left;
}
.sidemenu_hover_btm{
 height:10px;
 background: url({$CMSTmplUrl$}img/smenu3_bg_foot.gif) no-repeat bottom left;
}

/** サイドメニューmiddle **/
.sidemenu_mdl{
 padding:0px 20px 0px 30px;
 font-size:12px;
 line-height:1.3em;
 font-weight:normal;
 color:#205DE8; text-align:center;
 background: url({$CMSTmplUrl$}img/smenu_bg_body.gif) no-repeat left;
}
.sidemenu_mdl a:link{
 color:#205DE8; 
 text-decoration:none;
}
.sidemenu_mdl a:visited{
 color:#205DE8;
 text-decoration:none;
}

.sidemenu_on_mdl{
 padding:0px 20px 0px 30px;
 font-size:12px;
 line-height:1.3em;
 font-weight:normal;
 color:#333333; text-align:center;
 background: url({$CMSTmplUrl$}img/smenu2_bg_body.gif) no-repeat left;
}
.sidemenu_on_mdl a:link{
 color:#333333; 
 text-decoration:none;
}
.sidemenu_on_mdl a:visited{
 color:#333333; 
 text-decoration:none;
}

.sidemenu_hover_mdl{
 padding:0px 20px 0px 30px;
 font-size:12px;
 line-height:1.3em;
 font-weight:normal;
 color:#FFFFFF; text-align:center;
 background: url({$CMSTmplUrl$}img/smenu3_bg_body.gif) no-repeat left;
}
.sidemenu_hover_mdl a:link{
 color:#FFFFFF; 
 text-decoration:none;
}
.sidemenu_hover_mdl a:visited{
 color:#FFFFFF; 
 text-decoration:none;
}

/***** ---サイドバー *****/
.child_side { width:135px; margin-top:10px; margin-bottom:10px;}

.child_side ol { margin:0px; padding:0px; list-style:none outside; }
.child_side li { margin:0px 2px 0px 2px; padding:3px 0px 0px 13px;
  background:url({$CMSTmplUrl$}img/listicon_a2.gif) no-repeat top left; }

.child_side_header { 
  width:135px; padding:0 0 2px 0;
  background:url({$CMSTmplUrl$}img/side_bg.gif) no-repeat top center; }

.child_side_title {
  text-align:center; font-weight:bold; font-size:10px; color:#333333; padding:3px 0;
  overflow:hidden; word-break:break-all; letter-spacing:1px; border-bottom:1px solid #bbbbbb;}
  
.child_side_box { width:135px; margin:0; padding:0; overflow:hidden; word-break:break-all; }

.child_side_text { margin:0; padding:0; font-weight:normal; font-size:10px;
 color:#333333; line-height:1.2; text-align:left; }
.child_side_text a:link { color:#333333; text-decoration:none; }
.child_side_text a:visited { color:#333333; text-decoration:none; }
.child_side_text a:hover { color:#205DE8; text-decoration:none; }


/********** --フッター **********/
#footer {
 width:750px;
 margin-top:5px;
 padding: 6px 0px 20px 0px;
 text-align: left;
 background: #FFFFFF;
 border-top: 1px solid #cccccc;
}

.footer_text{
 font-size: 10px;color:#666666;
 line-height:120%;
 text-align: center;
 padding:0px 10px;
 margin-bottom:5px;
}
.footer_text a:link{
 color: #666666;
 text-decoration:none;
}
.footer_text a:visited{
 color: #666666;
 text-decoration:none;
}
.footer_text a:hover{
 color: #999999;
 text-decoration:none;
}

/********** --ポップアップ **********/
.popup_range {
 width:600px;
 border: 1px solid #999999;
 margin-top:10px;
 background-color:#ffffff;
}
 
.popup_header {
 height:30px;
 color: #205DE8;
 background-image:url({$CMSTmplUrl$}img/header.gif);
 background-repeat:no-repeat;
 background-position:top center;
 font-size:12px; font-weight:bold; letter-space:1px; 
 padding:9px 10px 8px 10px;
 border-bottom: 2px solid #999999;
}
 
.popup_main {
 padding:10px 10px 20px 10px;}

.popup_footer {
 background-image:url({$CMSTmplUrl$}img/footer.gif);
 background-repeat:repeat-y;
 background-position:top center;
 font-size:11px; letter-space:1px; color:#333333;
 padding:8px 0px 3px 0px;}

.popup_footer .footer_text a:link{
 color: #666666;
 text-decoration:none;
}
.popup_footer .footer_text a:visited{
 color: #666666;
 text-decoration:none;
}
.popup_footer .footer_text a:hover{
 color: #999999;
 text-decoration:none;
}