{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['store', 'plugin', 'plugin_list'] %}

{% block title %}インストール確認{% endblock %}
{% block sub_title %}オーナーズストア{% endblock %}

{% block stylesheet %}
    <style type="text/css">
        .border-bt {
            border-bottom: 1px solid rgba(0, 0, 0, .125);
        }
        #plugin-list .info {
            min-height: 65%;
        }
        .plugin-ver li span {
            display: inline-block;
        }
    </style>
{% endblock %}
{% block main %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div id="plugin-list" class="card rounded border-0 mb-4">
                    <div class="card-header">
                        <span class="card-title">以下のプラグインをインストールします</span>
                    </div>
                    <div class="card-body p-0">
                        <div class="row m-0 p-3 border-bt">
                            <div class="col-5 col-sm-4 px-2 pr-sm-3">
                                <a href="#" data-toggle="modal" data-target="#searchPluginModal">
                                    <img class="w-100 img-responsive"
                                         src="{{ asset('noimage_plugin_list.png', 'save_image') }}" alt=""></a>
                            </div>
                            <div class="col-auto col-sm-8">
                                <div class="info">
                                    <h5 class="font-weight-bold mb-4">
                                        最高級プラチナフォークは、贈り物としても人気です。
                                    </h5>
                                    <h6 class="mb-4">
                                        セットで揃えたいディナー用のカトラリー。定番の銀製は、シルバー特有の美しい輝きと柔らかな曲線が特徴です。適度な重みと日本人の手に合いやすいサイズ感で長く愛用いただけます。</h6>
                                    <p class="text-danger"><span
                                                class="font-weight-bold text-dark">販売価格 </span> 25.000円
                                        <small> (税込)</small>
                                    </p>
                                    <ul class="plugin-ver">
                                        <li class="pb-2"><span class="font-weight-bold col-6 col-sm-4 col-lg-3 pl-0">ダウンロード数</span>256
                                        </li>
                                        <li class="pb-2"><span class="font-weight-bold col-6 col-sm-4 col-lg-3 pl-0">プラグインバージョン</span>2.1.5
                                        </li>
                                        <li class="pb-2"><span class="font-weight-bold col-6 col-sm-4 col-lg-3 pl-0">EC-CUBE対応バージョン</span>バージョン3.0/3.1
                                        </li>
                                        <li class="pb-2"><span
                                                    class="font-weight-bold col-6 col-sm-4 col-lg-3 pl-0">公開日</span>2013.05.24
                                        </li>
                                        <li class="pb-2"><span class="font-weight-bold col-6 col-sm-4 col-lg-3 pl-0">最終更新日</span>2018.07.12
                                        </li>
                                        <li class="pb-2"><span class="font-weight-bold col-6 col-sm-4 col-lg-3 pl-0">ファイルサイズ</span>125KB
                                        </li>
                                        <li class="pb-2"><span class="font-weight-bold col-6 col-sm-4 col-lg-3 pl-0">ライセンス</span>LGBL
                                        </li>
                                        <li class="pb-2"><span
                                                    class="font-weight-bold col-6 col-sm-4 col-lg-3 pl-0">制作者</span> <a
                                                    href="ec-cube.net">EC-CUBE team</a></li>
                                    </ul>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <div class="alert alert-danger border border-danger">
                                            <p class="text-danger mb-0">このプラグインはEC-CUBE
                                                3.nをサポートしていないため、正常に動作しない可能性があります。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 my-3">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-6 col-sm-5 col-md-4 pt-2">オプション：バージョンを指定</div>
                                    <div class="col-auto">
                                        <select class="custom-select">
                                            <option>最新版</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 text-right">
                                <a href="#" class="btn btn-ec-sub">キャンセル</a>
                                <a href="#" class="btn btn-primary">インストール</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}