
.s,.m,.l,body,td,span{font-family:"‚l‚r ‚oƒSƒVƒbƒN","Hiragino Maru Gothic Pro","ƒqƒ‰ƒMƒmŠÛƒS Pro W4",Osaka,sans-serif; line-height:130%;}
input,select,option,textarea {
font-family:"‚l‚r ‚oƒSƒVƒbƒN","Hiragino Maru Gothic Pro","ƒqƒ‰ƒMƒmŠÛƒS Pro W4",Osaka,sans-serif;}

body,h1,h2,h3,form,p{ margin:10px 0px 0px;}
p.stream{ margin-left:5px}
p.stream_m{ margin-left:15px}
div.ri{ text-align:right; margin-right:10px}
input { vertical-align:middle;}
form { margin:0px;}

A:link{ color:#666666; text-decoration:underline}
A:visited{ color:#666666; text-decoration:underline}
A:hover{ color:#9966FF; text-decoration:underline}
A.cfff{ color:#FFFFFF; text-decoration:underline}
A.cfff:visited{ color:#FFFFFF; text-decoration:underline}
A.cfff:hover{ color:#FFFFFF; text-decoration:underline}

.right{ text-align:right; padding-right:5px}
.center{ text-align:center}
.smallinput{ height:16px; padding:0px 2px 0px 0px; }

label{ cursor: pointer;}