{% extends 'site_main.twig' %}

{% block main %}


<div id="undercolumn">
    <div id="undercolumn_entry">
        <h2 class="title">{{ title }}</h2>
        <div id="complete_area">
            <p class="message">本登録が完了いたしました。<br />
                それではショッピングをお楽しみください。</p>

            <p>今後ともご愛顧賜りますようよろしくお願い申し上げます。</p>

            <div class="shop_information">
            <p class="name">{{ app.config.shop_name }}<br />
            <p>TEL：00-0000-0000
                E-mail：<a href="mailto:sample@example.com">sample@example.com</a></p>
            </p>
            </div>

            <div class="btn_area">
                <ul>
                    <li>
                        <a href="{{ app.config.root}}"><img class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_toppage.jpg" alt="トップページへ" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
