{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'migration_frame.twig' %}

{% set current = 2 %}

{% block main %}
    <div id="main" class="step1">
        <div class="main_inner">
            <div class="main_content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-header">
                                <h1>マイグレーション完了</h1>
                            </div>
                            <div class="intro">
                                <svg class="cb cb-inbox"> <use xlink:href="#cb-inbox" /></svg>
                                <p>EC-CUBEのマイグレーションが完了しました。</p>
                            </div>
                        </div><!-- /.col -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
