{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'frame.twig' %}

{% set current = 1 %}

{% block main %}
    <div id="main" class="step1">
        <div class="main_inner">
            <div class="main_content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-header">
                                <h1>ようこそ</h1>
                            </div>
                            <form name="form1" id="form1" method="post" action="{{ url('install_step1') }}">
                                {{ form_widget(form._token) }}
                                <div class="intro">
                                    <svg class="cb cb-inbox"> <use xlink:href="#cb-inbox" /></svg>
                                    <p>EC-CUBEのインストールを開始します。</p>
                                    <p>あらかじめ、使用するデータベースの情報（DB名など）をご準備ください。</p>
                                </div>
                                <div class="note_box">
                                    <p>
                                        EC-CUBEのシステム向上・デバッグのため、サイト情報の提供にご協力おねがいいたします。<br>
                                        目的以外で利用することはございません。<br>
                                        <span class="small">（サイト情報：お店のURL、PHPバージョン、DBバージョン）</span>
                                    </p>
                                    {{ form_widget(form.agree) }}
                                </div>
                                <ul class="btn_area">
                                    <li><button type="submit" class="btn btn-primary btn-block btn-lg">次へ進む</button></li>
                                </ul>
                            </form>
                        </div><!-- /.col -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}