@charset "euc-jp";
/***お買い物について***/

/***右コンテンツ***/
#container #right #maintitle{
border: 0;
margin: 0 0 15px 0;
padding: 0;
width: 570px;
}

#container #right #top{
border: 0;
margin: 20px 0 15px 0;
padding: 0;
text-align: right;
width: 570px;
}


/*質問内容*/
#container #right #subtitle{
border-width: 0 0 1px 0;
border-style: solid;
border-color: #b3aa82;
margin: 15px 0 15px 0;
padding: 10px;
width: 554px;
background: #eeece3;
voice-family: "\"}\""; 
voice-family: inherit;
width: 570px;
}

html>body #container #right #subtitle{
width:554px;
}

/*テーブル*/
#container #right #frame{
border: 0;
margin: 0 10px;
padding: 0;
width: 550px;
background: #fff;
}

#container #right #frame02{
border: 0;
margin: 0 10px 15px 10px;
padding: 0;
width: 550px;
background: #fff;
}

#container #right #frame03{
border: 0;
margin: 0 10px 15px 10px;
padding: 0;
width: 550px;
background: #f5f5f5;
}

#container #right #frame04{
border: 0;
margin: 0 10px;
padding: 0;
width: 550px;
background: #cccccc;
}

#container #right #frame04 #blue{
border: 0;
margin: 0 10px;
padding: 0;
width: 548px;
background: #ecf5ff;
}

#container #right #frame04 #blue #pagesubtitle{
border: 0;
margin: 10px;
padding: 0;
width: 528px;
}

#container #right #frame03 #contact{
border: 0;
margin: 0;
padding: 0;
width: 526px;
}

/*テーブルの幅指定*/
#container #right #frame #left02{
width: 15px;
}

#container #right #frame #right02{
width: 535px;
}

#container #right #frame02 #left03{
width: 15px;
}

#container #right #frame02 #right03{
width: 535px;
}

#container #right #frame04 #blue #pagesubtitle #left04{
width: 220x;
}

#container #right #frame04 #blue #pagesubtitle #right04{
width: 308px;
}

