{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    {% include "Components/heading.twig" with {'title': 'front.tradelaw.title' } %}
    <div class="row">
        <div class="col-12">
            <div class="page-help-section page-tradelaw">
                <ul class="list-group clear-margin-label">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-4">販売業者</div>
                            <div class="col-sm-8"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-4">代表責任者</div>
                            <div class="col-sm-8"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-4">所在地</div>
                            <div class="col-sm-8"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-4">電話番号</div>
                            <div class="col-sm-8"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-4">メールアドレス</div>
                            <div class="col-sm-8"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-4">URL</div>
                            <div class="col-sm-8"><a href=""></a></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-4">商品代金以外の必要料金</div>
                            <div class="col-sm-8"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-4">引き渡し時期</div>
                            <div class="col-sm-8"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-4">お支払方法</div>
                            <div class="col-sm-8"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-4">返品・交換について</div>
                            <div class="col-sm-8"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
