{% extends 'site_main.twig' %}
{% block main %}

<div id="undercolumn">
    <div id="undercolumn_entry">
        <h2 class="title">ご利用ガイド</h2>
        <p>ご利用ガイド本文</p>
        <nav>
            <ul>
                <li><a href="./privacy/">プライバシーポリシー</a></li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}