@charset "euc-jp";
/***よくある質問***/

/***右コンテンツ***/
#container #right #maintitle{
border: 0;
margin: 0 0 15px 0;
padding: 0;
width: 570px;
}



/*質問内容*/
#container #right #subtitle{
border-width: 0 0 1px 0;
border-style: solid;
border-color: #b3aa82;
margin: 15px 0 15px 0;
padding: 0px;
width: 570px;
background: #eeece3;
}


#container #right #subtitle img{
margin: 10px;
}

/*テーブル*/
#container #right #frame{
border: 0;
margin: 0 10px 25px 10px;
padding: 0;
width: 550px;
background: #fff;
}

/*faqテーブルの幅指定*/
#container #right #frame #left{
width: 30px;
}

#container #right #frame #spacer{
width: 10px;
}

#container #right #frame #right{
width: 510px;

