{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
            <div id="cart_area">
                <p class="clearfix cart-trigger"><a href="#cart"><span class="fa fa-shopping-cart"></span><span class="badge">3</span><span class="icon_close"></span></a>
                <span class="cart_price pc">合計 <span class="price"> \ 21,250</span></span></p>
                <div id="cart" class="cart">
                    <div class="inner">
                        <form>
                        <div class="item_box">
                            <div class="item_photo"><img src="img/top/img06.jpg"></div>
                            <dl class="item_detail">
                                <dt class="item_name">おいしいおなべ&#12288;春バージョン</dt>
                                <dd class="item_pattern small">味：抹茶 <br>大きさ：M</dd>
                                <dd class="item_price">\ 1,728<span class="small">税込</span></dd>
                                <dd class="item_quantity form-group form-inline">数量：<input type="number" min="1" class="form-control"></dd>
                                <dd class="icon_edit">
                                    <button class="no-style"><span class="fa fa-times"></span></button>
                                </dd>
                            </dl>
                        </div><!--/item_box-->
                        <div class="item_box">
                            <div class="item_photo"><img src="img/top/img06.jpg"></div>
                            <dl class="item_detail">
                                <dt class="item_name">おいしいおなべ&#12288;春バージョン</dt>
                                <dd class="item_pattern small">味：抹茶 <br>大きさ：M</dd>
                                <dd class="item_price">\ 1,728<span class="small">税込</span></dd>
                                <dd class="item_quantity form-group form-inline">数量：<input type="number" min="1" class="form-control"></dd>
                                <dd class="icon_edit">
                                    <button class="no-style"><span class="fa fa-times"></span></button>
                                </dd>
                            </dl>
                        </div><!--/item_box-->
                        <div class="item_box">
                            <div class="item_photo"><img src="img/top/img06.jpg"></div>
                            <dl class="item_detail">
                                <dt class="item_name">おいしいおなべ&#12288;春バージョン</dt>
                                <dd class="item_pattern small">味：抹茶 <br>大きさ：M</dd>
                                <dd class="item_price">\ 1,728<span class="small">税込</span></dd>
                                <dd class="item_quantity form-group form-inline">数量：<input type="number" min="1" class="form-control"></dd>
                                <dd class="icon_edit">
                                    <button class="no-style"><span class="fa fa-times"></span></button>
                                </dd>
                            </dl>
                        </div><!--/item_box-->
                        
                        <p class="cart_price sp">合計 <span class="price"> \ 21,250</span></p>
                        
                        <div class="btn_area">
                            <ul>
                            <li><button type="button" class="btn btn-primary">購入へ進む</button></li>
                            <li><button type="button" class="btn btn-default">キャンセル</button></li>
                            </ul>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
