{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'withdraw' %}

{% set body_class = 'mypage' %}

{% block main %}
    <div class="ec-layoutRole__main">
        <div class="ec-mypageRole">
            <div class="ec-pageHeader">
                <h1>{{'mypage.label.my_account'|trans}}/{{'mypage.label.cancel_membership'|trans}}</h1>
            </div>
        </div>
        <div class="ec-mypageRole">
            <div class="ec-withdrawCompleteRole">
                <div class="ec-off4Grid">
                    <div class="ec-off4Grid__cell">
                        <div class="ec-reportHeading">
                            <h2>退会が完了いたしました</h2>
                        </div>
                        <p class="ec-reportDescription">ご利用いただき誠にありがとうございました。<br>またのご来店をお待ちしております。</p>
                        <p><a href="{{ url('homepage') }}" class="ec-blockBtn--cancel">{{'common.label.back_to_top'|trans}}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
