{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends '@admin/default_frame.twig' %}

{% set menus = ['store', 'plugin', 'plugin_owners_search'] %}

{% block title %}{{ 'admin.store.plugin_search.885'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.store.plugin_search.884'|trans }}{% endblock %}

{% block stylesheet %}
    <style type="text/css">
        .border-bt {
            border-bottom: 1px solid rgba(0, 0, 0, .125);
        }
        #plugin-list .info{
            min-height: 60%;
        }
    </style>
{% endblock %}
{% block main %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-12 p-3">
                                <a href="#" class="pl-4">詳細</a>
                                <a href="#" class="pl-4">選択してください</a>
                                <a href="#" class="pl-4">インテリア</a>
                                <a href="#" class="pl-4">フォーク</a>
                                <a href="#" class="pl-4">新入荷</a>
                                <a href="#" class="pl-4">詳細検索</a>
                                <a href="#" class="pl-4">インテリアインテリア</a>
                                <a href="#" class="pl-4">フォーク</a>
                                <a href="#" class="pl-4">新入荷</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="c-outsideBlock">
                    <form method="post" action="">
                        <div class="c-outsideBlock__contents mb-4">
                            <div class="row justify-content-start">
                                <div class="col-3 pl-0">
                                    <label class="col-form-label">更新日</label>
                                    <select class="custom-select">
                                        <option>A</option>
                                        <option>B</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <label class="col-form-label">更新日</label>
                                    <select class="custom-select">
                                        <option>A</option>
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <label class="col-form-label">更新日</label>
                                    <input type="text" name="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="c-outsideBlock__contents mb-2 pl-0">
                            <button class="btn btn-ec-conversion px-5 py-2 ladda-button" type="submit"
                                    data-style="expand-right"><span class="ladda-label">検索</span><span
                                        class="ladda-spinner"></span></button>
                        </div>
                    </form>
                </div>
                <div class="row justify-content-between mb-2">
                    <div class="col-12 text-right">
                        <div class="d-inline-block mr-2">
                            <select class="custom-select">
                                <option value="">10件</option>
                                <option value="">20件</option>
                                <option value="">30件</option>
                                <option value="">40件</option>
                                <option value="">50件</option>
                                <option value="">60件</option>
                                <option value="">70件</option>
                                <option value="">80件</option>
                                <option value="">90件</option>
                                <option value="">100件</option>
                            </select>
                        </div>
                        <div class="d-inline-block">
                            <select class="custom-select">
                                <option value="">10件</option>
                                <option value="">20件</option>
                                <option value="">30件</option>
                                <option value="">40件</option>
                                <option value="">50件</option>
                                <option value="">60件</option>
                                <option value="">70件</option>
                                <option value="">80件</option>
                                <option value="">90件</option>
                                <option value="">100件</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="plugin-list" class="card rounded border-0 mt-4 mb-4">
                    <div class="card-header">
                        <a href="#" class="pull-right d-inline-block mr-3"> > オーナーズストア</a>
                        <h4 class="ml-2">オーナーズストア</h4>
                    </div>
                    <div class="card-body p-0">
                        {% for i in 1..10 %}
                            <div class="row m-0 p-3 border-bt">
                                <div class="col-sm-2 p-0">
                                    <a href="#">
                                        <img class="w-100 img-responsive"
                                             src="/html/template/admin/assets/img/plugin_temp/{{  random(7) }}.png"></a>
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <div class="info">
                                        <a href="#">最高級プラチナフォークは、贈り物としても人気です。</a>(最高級プラチナフォークは:1.0.2)
                                        <p>
                                            セットで揃えたいディナー用のカトラリー。定番の銀製は、シルバー特有の美しい輝きと柔らかな曲線が特徴です。適度な重みと日本人の手に合いやすいサイズ感で長く愛用いただけます。</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <p><span>定番: </span> 25.000</p>
                                        </div>
                                        <div class="col-sm-5">
                                            <dl>
                                                <dt class="d-inline-block"><span>DL定</span> 256</dt>
                                                <dt class="d-inline-block"><span>ォークは</span> 3.0は</dt>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-3 text-right">
                                    <a href="#" class="btn btn-ec-regular">ーズストア</a>
                                    <a href="#" class="btn btn btn-primary">ーズストア</a>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="row justify-content-md-center mt-4 mb-4">
                            <ul class="pagination">
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="searchPluginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div id="search_plugin_modal_box" class="modal-content">
                <div id="search_plugin_modal_box__header" class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                class="modal-close" aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">&nbsp;</h4>
                </div>
                <div id="search_plugin_modal_box__body" class="modal-body" style="background: #fff"></div>
                <div id="search_plugin_modal_box__buttons" class="modal-footer" style="background: #fff"></div>
            </div>
        </div>
    </div>
{% endblock %}

