/*
 * Copyright ¢í 2000-2006 LOCKON CO.,LTD. All Rights Reserved.
 *
 * http://www.lockon.co.jp/
 */
/***************MY?????????????***************/

@charset "euc-jp";



/***??????***/
#container #right #maintitle{
border: 0;
margin: 0;
padding: 0;
width: 570px;
}

#container #right #comment{
border: 0;
margin: 0 0 15px 0;
padding: 0;
width: 570px;
}

#container #right #plus{
border: 0;
margin: 0 0 15px 0;
}

/***MY?????***/

#container #right #navi{
border: 0;
margin: 0;
padding: 0;
border-width: 0 0 1px 0;
border-style: solid ;
border-color: #c9ddf1;
width: 570px;
}

/*??????*/
#container #right #subtitle{
border-width: 0 0 1px 0;
border-style: dashed;
border-color: #b3aa82;
margin: 25px 0 15px 0;
padding: 10px;
text-align: left;
width: 550px;
background: #eeece3;
voice-family: "\"}\""; 
voice-family: inherit;
width: 570px;
}

html>body #container #right #subtitle{
width:550px;
}

/*???*/
#container #right #button{
border: 0;
margin: 30px 0 15px 0;
padding: 0;
text-align: center;
}


/*????*/
#container #right #frame{
border: 0;
margin: 0;
padding: 0;
width: 570px;
background: #ccc;
}

#container #right #frame #left{
background: #ecf5ff;
width: 170px;
}

#container #right #frame #right{
background: #fff;
width: 357px;
}

