/*
 * Copyright ¢í 2000-2006 LOCKON CO.,LTD. All Rights Reserved.
 *
 * http://www.lockon.co.jp/
 */
/***************MY?????????????***************/

@charset "euc-jp";



/***??????***/
#container #right #maintitle{
border: 0;
margin: 0;
padding: 0;
width: 570px;
}

#container #right #comment{
border: 0;
margin: 0 0 15px 0;
padding: 0;
width: 480px;
}

/***MY?????***/

#container #right #navi{
border: 0;
margin: 0;
padding: 0;
border-width: 0 0 1px 0;
border-style: solid ;
border-color: #c9ddf1;
width: 570px;
}

/*??????*/
#container #right #subtitle{
border-width: 0 0 1px 0;
border-style: dashed;
border-color: #b3aa82;
margin: 25px 0 15px 0;
padding: 10px;
text-align: left;
width: 550px;
background: #eeece3;
voice-family: "\"}\""; 
voice-family: inherit;
width: 570px;
}

html>body #container #right #subtitle{
width:550px;
}

/*???*/
#container #right #button{
border: 0;
margin: 30px 0 15px 0;
padding: 0;
text-align: center;
}


/*????*/
/* ????????????
----------------------------------------------- */
#frame {
	width: 570px;
	margin: 15px 0 0 0;
	padding: 0;
	border: 0;
	background: #ccc;
	font-size: 75%; line-height: 150%;
}

#frame th {
	background: #eef7ff;
	font-weight: normal;
	text-align: center;
}

#frame td {
	background: #fff;
}

.code {
	width: 100px;
	text-align: left;
}

.name {
	width: 204px;
	text-align: left;
}

.price01 {
	width: 80px;
	text-align: right;
}

.number {
	width: 50px;
	text-align: center;
}

.price02 {
	width: 80px;
	text-align: right;
}

#frame .under {
	background: #eef7ff;
	line-height: 118%;
	text-align: right;
}

.price03 {
	width: 80px;
	line-height: 118%;
	text-align: right;
}


/* ????????????
----------------------------------------------- */
#frame02 {
	width: 570px;
	margin: 25px 0 20px 0;
	padding: 0;
	border: 0;
	background: #ccc;
	font-size: 75%; line-height: 150%;
}

#frame02 th {
	width: 410px;
	background: #eef7ff;
	font-weight: normal;
	text-align: right;
}

#frame02 td {
	width: 157px;
	background: #fff;
}

#frame03 {
	width: 570px;
	margin: 25px 0 0 0;
	background: #ccc;
	font-size: 75%; line-height: 150%;
	text-align: left;
}

#frame03 th {
	width: 157px;
	background: #eef7ff;
	font-weight: normal;
}

#frame03 td {
	width: 410px;
	background: #fff;
}

caption {
	width: 548px;
	padding: 5px 10px;
	border-width: 1px 1px 0 1px;
	border-style: solid ;
	border-color: #ccc;
	background: #eef7ff;
	text-align: left;
}
