/***************MYページトップ***************/

@charset "euc-jp";



/***右コンテンツ***/
#container #right #maintitle{
border: 0;
margin: 0;
padding: 0;
width: 570px;
}

#container #right #comment{
border: 0;
margin: 0 0 15px 0;
padding: 0;
width: 480px;
}

/***MYページナビ***/

#container #right #navi{
border: 0;
margin: 0;
padding: 0;
border-width: 0 0 1px 0;
border-style: solid ;
border-color: #c9ddf1;
width: 570px;
}

/*サブタイトル*/
#container #right #subtitle{
border-width: 0 0 1px 0;
border-style: dashed;
border-color: #b3aa82;
margin: 25px 0 15px 0;
padding: 10px;
text-align: left;
width: 550px;
background: #eeece3;
voice-family: "\"}\""; 
voice-family: inherit;
width: 570px;
}

html>body #container #right #subtitle{
width:550px;
}

/*ポイント*/
#container #right #pt-frame{
border-width: 3px;
border-style: solid;
border-color: #c0d7ee;
font-weight: bold;
font-size: font-size: 117.5%;
margin: 40px 30px 35px 30px;
padding: 0x;
text-align: center;
width: 504px;
}

#container #right #pt-frame #in{
border: 0;
margin: 15px auto 0 auto;
padding: 10px 0;
width: 444px;
text-align: left;
}

#container #right #pt-frame #gray{
border: 0;
margin: 0 auto 20px auto;
padding: 10px 0;
width: 444px;
background: #f5f5f5;
}

/*テーブル*/
#container #right #frame{
border: 0;
margin: 0 0 20px 0;
padding: 0;
width: 570px;
background: #ccc;
text-align: center;
}

#container #right #frame .left01b{
background: #ecf5ff;
width: 205px;
}

#container #right #frame .left02b{
background: #ecf5ff;
width: 90px;
}

#container #right #frame .left03b{
background: #ecf5ff;
width: 90px;
}

#container #right #frame .left04b{
background: #ecf5ff;
width: 100px;
}

#container #right #frame .left01w{
background: #fff;
width: 205px;
text-align: left;
}

#container #right #frame .left02w{
background: #fff;
width: 90px;
}

#container #right #frame .left03w{
background: #fff;
width: 90px;
}

#container #right #frame .left04w{
background: #fff;
width: 100px;
text-align: right;
}