/*
 * Copyright è¢Ì 2000-2006 LOCKON CO.,LTD. All Rights Reserved.
 *
 * http://www.lockon.co.jp/
 */
/***************MY?????????????***************/

@charset "euc-jp";



/***??????***/
#container #right #maintitle{
border: 0;
margin: 0;
padding: 0;
width: 570px;
}

#container #right #comment{
border: 0;
margin: 15px 0;
padding: 0;
width: 570px;
}

/***MY?????***/

#container #right #navi{
border: 0;
margin: 0;
padding: 0;
border-width: 0 0 1px 0;
border-style: solid ;
border-color: #c9ddf1;
width: 570px;
}


/*??????*/
#container #right #subtitle-login{
margin: 25px 0 15px 0;
padding: 0;
}

/*????*/
#container #right #point{
border-width: 1px;
border-style: solid;
border-color: #ccc;
margin: 20px auto;
padding: 0;
width: 568px;
text-align: center;
}

#container #right #point #in{
border: 0;
margin: 20px auto 0 30px;
padding: 0;
width: 508x;
text-align: left;
}

#container #right #point #blue{
border: 0;
margin: 20px 30px;
padding: 10px 0;
width: 508x;
background: #eef7ff;
text-align: center;
}


/*????*/
#container #right #point #blue #frame{
border: 0;
margin: 0 auto;
padding: 0;
width: 428x;
}

#container #right #frame .left{
width: 118px;
text-align: left;
}

#container #right #frame .right{
width: 310px;
text-align: left;
}

/*???*/
#container #right #button{
border: 0;
margin: 20px 0;
padding: 0;
text-align: center;
}
