/*
 * Copyright © 2000-2006 LOCKON CO.,LTD. All Rights Reserved.
 *
 * http://www.lockon.co.jp/
 */
@charset "euc-jp";
/***新しいお届け先の登録(確認)***/

/***全体***/
#layout{
border: 0;
margin: 0 auto;	/*センター揃え*/
padding: 0;
text-align: center;
}

/***コンテンツ***/
#layout #maintitle{
border: 0;
margin: 15px auto 0 auto;
padding: 0;
width: 600px;
}

#layout #comment{
border: 0;
margin: 15px auto;
padding: 0;
width: 600px;
text-align: left;
}

/*テーブル*/
#layout #frame{
border: 0;
margin: 0 auto;
padding: 0;
width: 600px;
background: #ccc;
}

#layout #frame #left{
background: #ecf5ff;
width: 180px;
text-align: left;
}

#layout #frame #right{
background: #fff;
width: 377px;
text-align: left;
}

/*ボタン*/
#layout #button{
border: 0;
margin: 30px 0 15px 0;
padding: 0;
text-align: center;
}
