<ul class="level1">
    <li id="navi-customer-index"><a href="{{ url('admin_customer') }}"><span>会員マスター</span></a></li>
    <li id="navi-customer-customer"><a href="{{ url('admin_customer_edit') }}"><span>会員登録</span></a></li>
</ul>
