{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% if product.code_min is not empty %}
  <div class="product-code {{class|default('mb-2')}}">
    {{ 'front.product.code'|trans }}:  
    <strong class="product-code-default">
      {{ product.code_min }}{% if product.code_min != product.code_max %} ～ {{ product.code_max }}{% endif %}
    </strong>
  </div>
{% endif %}