{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<ul class="nav nav-tabs {{class|default('')}}" id="productTab" role="tablist">
    {% if product.description_detail %}
        <li class="nav-item">
            <a class="nav-link active" id="description_detail-tab" data-toggle="tab" href="#product-description_detail" role="tab" aria-controls="product-description_detail" aria-selected="true">
                Chi tiết sản phẩm
            </a>
        </li>
    {% endif %}

    {% if product.description_list %}
        <li class="nav-item">
            <a class="nav-link" id="description_list-tab" data-toggle="tab" href="#product-description_list" role="tab" aria-controls="product-description_list" aria-selected="true">
                Thông số kỹ thuật
            </a>
        </li>
    {% endif %}

    {% if product.freearea %}
        <li class="nav-item">
            <a class="nav-link" id="freearea-tab" data-toggle="tab" href="#product-freearea" role="tab" aria-controls="product-freearea" aria-selected="false">
                Khuyến mãi
            </a>
        </li>
    {% endif %}
</ul>
<div class="tab-content {{class|default('')}}" id="productTabContent">
    {% if product.description_detail %}
        <div class="py-3 tab-pane fade show active" id="product-description_detail" role="tabpanel" aria-labelledby="description_detail-tab">
            {# Product Detail #}
            {% include "Components/product/description_detail.twig" with {'product': product} %}
        </div>
    {% endif %}

    {% if product.description_list %}
        <div class="py-3 tab-pane fade" id="product-description_list" role="tabpanel" aria-labelledby="description_list-tab">
            {# Product Description #}
            {% include "Components/product/description_list.twig" with {'product': product} %}
        </div>
    {% endif %}

    {% if product.freearea %}
        <div class="py-3 tab-pane fade" id="product-freearea" role="tabpanel" aria-labelledby="freearea-tab">
            {# Product Freearea #}
            {% include "Components/product/freearea.twig" with {'product': product} %}
        </div>
    {% endif %}
</div>