{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'Components/form/base_input.twig' %}
{% set custom_class = customClass|default('form-group-company') %}

{% block formLabel %}
    {{ form_label(form.company_name, 'common.company_name', { 'label_attr': { 'class': 'col-form-label' }}) }}
{% endblock %}

{% block formContent %}
    <div class="row {{ has_errors(form.company_name) ? 'is-invalid'}}">
        <div class="col-md-6">
            {{ form_widget(form.company_name, { 'attr': { 'class': 'form-control' }}) }}
            {{ form_errors(form.company_name) }}
        </div>
    </div>
{% endblock %}