{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'Components/form/base_input.twig' %}
{% set custom_class = customClass|default('form-group-policy') %}

{% block formLabel %}{% endblock %}

{% block formContent %}
    <div class="row {{ has_errors(form.user_policy_check) ? 'is-invalid'}}">
        <div class="col-12">
            <div class="form-check">
                {{ form_widget(form.user_policy_check, { 'attr': { 'class': 'form-check-input' }}) }}
                <label class="form-check-label" for="entry_user_policy_check">
                    {{ 'front.entry.agree_with_terms'|trans({ '%url%': url('help_agreement') })|raw }}
                </label>
                {{ form_errors(form.user_policy_check) }}
            </div>
        </div>
    </div>
{% endblock %}