@charset "utf-8";
/* ===================================================================
CSS information
file name  :common.css
style info :共通
=================================================================== */
/*-----------------------------------------------
body
----------------------------------------------- */
body {
    background: #FFF;
    font-family: Helvetica, san-serif;
    line-height: 1.5;
    font-size: 14px;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0.50);
}
/*-----------------------------------------------
リンク指定
----------------------------------------------- */
a:link {
    color: #4265AE;
    text-decoration: none;
}
a:visited {
    color: #603E7D;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}

/*右矢印リンクテキスト*/
.arrowRtxt {
    display: inline;
    clear: both;
    margin: 5px auto;
    padding-right: 15px;
    background: url(../img/common/ico_arrowR.png) right center no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .arrowRtxt {
        background: url(../img/common/ico_arrowR2.png) right center no-repeat;
        -webkit-background-size: 10px 15px;
        background-size: 10px 15px;
    }
}
div,
li,
p {
-webkit-tap-highlight-color: rgba(0,0,0,0.50);}
/*-----------------------------------------------
clearfix
----------------------------------------------- */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
ul:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
dl:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
/*-----------------------------------------------
汎用
----------------------------------------------- */
.photoL {
    float: left;
    clear: left;
}
.photoR {
    float: right;
    clear: right;
}
.clear {
    clear: both;
}
.inner {
    padding: 10px;
}
.intro {
    padding: 5px 10px 10px;
    font-weight: bold;
}
.intro p {
    line-height: 1.3;
}
.hidden {
    display: none;
}
.end {
    border-bottom: none!important;
}
.top {
    margin-bottom: 8px!important;
}
.bg_head {
    background: #EEE;
}
.pb {
    padding-bottom: 0!important;
}
/*-----------------------------------------------
font
----------------------------------------------- */
h2 {
    font-size: 20px;
}
h3,
h4,
h5 {
    font-size: 100%;
    font-weight: bold;
}
em {
    font-weight: bold;
}
.attention {
color: #CC0000; }
.mini {
    font-size: 11px;
font-weight:normal; }
.fb {
    font-size: 15px;
    font-weight: bold;
}
.fn {
    font-weight: normal;
}
.price {
    color: #CC0000;
    font-weight: bold;
}
.attentionSt {
    color: #CC0000;
    font-weight: bold;
}
/*-------------------------------------------------
レイアウト
----------------------------------------------- */
.frame_outer {
    overflow: hidden;
    width: 100%;
    background: #FFF;
}
#main-content {
}
/*-----------------------------------------------
タイトル
----------------------------------------------- */
h2.title {
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 45px;
    text-align: center;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
    margin: 0 0 15px 0;
    padding: 0 10px;
    background: #494E57;
    background: -moz-linear-gradient(center top, #6D7481 10%,#505765 80%,#494e57 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, #6D7481),color-stop(0.8, #505765),color-stop(1, #494e57));
    border-top: #868D99 1px solid;
    border-bottom: #C6C2C8 1px solid;
    -webkit-box-shadow: 1px 5px 5px #CCC;
    -moz-box-shadow: 1px 5px 5px #CCC;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    clear: both;
}
/*ボタンで展開するタイトルバー*/
.title_box {
    color: #FFF;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.3);
    line-height: 45px;
    padding: 0 10px;
    margin: 0 0 15px 0;
    background: #494e57;
    background: -moz-linear-gradient(center top, #6D7481 10%,#505765 80%,#494e57 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, #6D7481),color-stop(0.8, #505765),color-stop(1, #494e57));
    border-top: #74828B solid 1px;
    border-bottom: #74828B solid 1px;
    vertical-align: middle;
    clear: both;
}
.title_box h2 {
    font-size: 20px;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
    width: 85%;
    float: left;
    clear: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 45px;
    vertical-align: middle;
}
.title_box h3 {
    width: 85%;
    float: left;
    clear: left;
    font-size: 18px;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    vertical-align: middle;
}
/*サブタイトル*/
h3.subtitle {
    font-size: 18px;
    color: #FFF;
    line-height: 30px;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.3);
    padding: 0 10px;
    margin: 0 0 10px 0;
    background: #84949F;
    background: -moz-linear-gradient(center top, #96A4AF 0%,#84949F 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #96A4AF),color-stop(1, #84949F));
    border-top: #74828B solid 1px;
    border-bottom: #74828B solid 1px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    clear: both;
    -webkit-box-shadow: 1px 0px 1px #FFF;
    -moz-box-shadow: 1px 0px 1px #FFF;
    position: relative;
}
/*ボタンで展開するサブタイトルバー*/
.title_box_sub {
    color: #FFF;
    line-height: 30px;
    padding: 0 10px;
    margin: 0 0 20px 0;
    background: #84949F;
    background: -moz-linear-gradient(center top, #96A4AF 0%,#84949F 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #96A4AF),color-stop(1, #84949F));
    border-top: #74828B solid 1px;
    border-bottom: #74828B solid 1px;
    vertical-align: middle;
    clear: both;
    position: relative;
}
.title_box_sub h2,
.title_box_sub h3 {
    font-size: 18px;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
    width: 85%;
    float: left;
    clear: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    vertical-align: middle;
}
.title_box_sub .b_expand {
    width: 22px;
    height: 21px;
    float: right;
    clear: right;
    position: absolute;
    top: -6px;
    right: 15px;
    z-index: 2;
    padding: 2px;
}
/*----------------------------------------------------
input/select
----------------------------------------------------*/
input {
    margin: 0;
    padding: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
input[type="text"] {
    margin: 5px 0;
}
input[type="number"] {
    padding: 5px 0;
    text-indent: 0;
}
input[type="number"]:first-child {
    margin-right: -2px;
}
input[type="radio"],
input[type="check"] {
    padding: 5px;
    line-height: 1.5;
    margin-right: 0.5em;
}
.text,
.textarea,
.dropdown {
    padding: 0.5em;
    margin: 0;
    border: #4C4C4C solid 1px;
    background: #FFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.textarea {
    width: 97%;
    padding: 0.5em;
    margin: 0 0 10px 0;
}
.cartin_quantity,
.box_point {
    width: 2.5em;
}
.boxLong {
    width: 95%;
}
.boxMedium {
    width: 35%;
}
.boxShort {
    width: 22%;
}
.boxHarf {
    width: 42%;
}
select.boxLong {
    width: 100%;
}
select.boxMedium {
    width: 40%;
}
select.boxShort {
    width: 25%;
}
select.boxHarf {
    width: 46%;
}
/*----------------------------------------------------
header
----------------------------------------------------*/

/* ヘッダーロゴ
------------------------------------------------ */
header {
    width: 100%;
    background: #FFF;
    margin: 0 auto;
    padding: 5px 0 10px 0;
    clear: both;
    min-height: 40px;
}
header h1 {
    width: 47%;
    height: 25px;
    float: left;
    clear: left;
    margin: 2px 0 0 5px;
    padding: 0;
    max-width: 150px;
    position: relative;
}
header h1 a {
    display: block;
    margin: 0;
    padding: 0;
    cursor: pointer;
    vertical-align: middle;
}
header h1 img {
    width: 150px;
    height: 25px;
    margin: -5px 0 0 0;
    padding: 0;
    vertical-align: middle;
}

/* ヘッダーナビ
------------------------------------------------ */
.header_utility {
    width: 47%;
    padding: 0 5px;
    float: right;
}
.header_navi {
    font-size: 11px;
    float: right;
    display: inline;
    text-align: right;
    line-height: 1.2;
    margin-top: 5px;
}
.header_navi ul {
    display: inline;
    float: right;
}
.header_navi li {
    float: left;
    margin: 0;
    padding: 8px 5px;
    border: #A9ABAD solid 1px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #FDFDfD;
    background: -moz-linear-gradient(center top, #FDFDFD 0%,#D7DDE3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FDFDFD),color-stop(1, #D7DDE3));
}
.header_navi li:first-child {
    margin-right: 1em;
}
.header_navi p {
    line-height: 1.3;
}
.header_navi p.guest {
    margin-top: 5px !important;
}
.popup_mypage {
    font-size: small;
    width: auto;
    min-width: 100px;
    padding: 10px;
    display: none;
    position: absolute;
    line-height: 1.2;
    top: 52px;
    z-index: 1;
    background: #FFF;
    background: -moz-linear-gradient(center top, #FDFDFD 0%,#E5E5E5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FDFDFD),color-stop(1, #E5E5E5));
    border: #CCC solid 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.popup_mypage p:first-child {
    line-height: 1.3;
    margin-bottom: 0.5em;
}
.popup_cart {
    font-size: small;
    width: auto;
    min-width: 90px;
    padding: 10px;
    display: none;
    position: absolute;
    top: 52px;
    margin-right: 5px;
    z-index: 1;
    background: #FFF;
    background: -moz-linear-gradient(center top, #FDFDFD 0%,#E5E5E5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FDFDFD),color-stop(1, #E5E5E5));
    border: #CCC solid 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.popup_cart .product_type {
    margin-bottom: 5px;
}
.popup_cart div:last-child {
    margin-bottom: 0;
}
.popup_mypage a,
.popup_cart a {
    text-decoration: underline;
}

.popup_mypage h2,
.popup_cart h2 {
    font-size: 1.2em;
}
.quantity,
.money {
    font-size: 14px;
    font-weight: bold;
}
.popup_cart hr.dashed:last-child {
    display: none;
}
hr.dashed {
    display: block;
    height: 1px;
    border: 0;
    border-top: #CCC dashed 1px;
    margin: 0.2em 0;
    padding: 0;
}
.free_money_area {
    font-size: 11px;
}
.dl_item {
    margin-top: 5px;
}

/*index menu/トップページヘッダー3列ボタン*/
.top_menu {
    width: 100%;
    margin-bottom: 10px;
    -webkit-box-shadow: 1px 5px 5px #ccc;
    -moz-box-shadow: 1px 5px 5px #ccc;
    background: #494E57;
    background: -moz-linear-gradient(center top, #6D7481 10%,#505765 80%,#494E57 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6D7481),color-stop(0.8, #505765),color-stop(1, #494E57));
}
.top_menu ul {
    width: auto;
    margin: 0 auto;
    clear: both;
}
.top_menu ul li {
    width: 33%;
    float: left;
    text-align: center;
    border-left: #747B83 solid 1px;
    border-right: #3D3D3D solid 1px;
    border-bottom: #141517 solid 1px;
    border-top: #A1A7AF solid 2px;
}
.top_menu ul li img {
    margin: 0 auto;
    display: block;
    clear: both;
}
.top_menu ul li a:link,
.top_menu ul li a:visited {
    color: #FFF;
    text-shadow: 0px 1px 1px rgba(0,0,0,1);
    padding: 9px 0 8px 0;
    display: block;
    background: #494E57;
    background: -moz-linear-gradient(center top, #6D7481 10%,#505765 80%,#494E57 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6D7481),color-stop(0.8, #505765),color-stop(1, #494E57));
    -webkit-transition: background-color 0.5s ease-in;
    -moz-transition: background-color 0.5s ease-in;
}
.top_menu ul li a:hover {
    color: #FFF;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    background: #5393C5;
    background: -moz-linear-gradient(center top, #5393C5 10%,#80B6E2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5393C5),color-stop(1, #80B6E2));
    text-decoration: none;
}
.top_menu li:first-child {
    border-left: none;
}
.top_menu li:last-child {
    border-right: none;
}
/*-------------------------------------------------
footer
----------------------------------------------- */
footer.global_footer {
    padding: 0 0 10px 0;
    background: #E6E6E6;
    text-align: center;
}
.footer_utility {
    background: #E6E6E6;
}
/*フッター4列ボタン*/
.footer_navi {
    width: 100%;
    display: block;
    clear: both;
    padding: 0.5em 0;
    -webkit-box-shadow: 1px 1px 1px #FFF;
    -moz-box-shadow: 1px 1px 1px #FFF;
    background: #272a2b;
    background: -moz-linear-gradient(center top, #808080 0%,#272a2b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #808080),color-stop(1, #272a2b));
}
.footer_navi ul {
    width: 100%;
    display: block;
}
.footer_navi:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
}
.footer_navi li {
    width: 23%;
    height: 49px;
    display: block;
    margin: 0 1%;
    padding: 0;
    float: left;
    background: #202223;
    background: -moz-linear-gradient(center top, #282A2A 0%,#202223 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #282A2A),color-stop(1, #202223));
    text-align: center;
    color: #FFF;
    font-size: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2) inset,-3px -3px 3px 3px rgba(0,0,0,0.2) inset;
    -moz-box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2) inset,-3px -3px 3px 3px rgba(0,0,0,0.2) inset;
}
.footer_status_area {
    margin: 0;
    padding: 20px 10px 10px;
    text-align: center;
    background: #E6E6E6;
    border-bottom: #999 solid 1px;
}
.footer_status_area p:last-child {
    margin: 10px auto;
}
.guide_area {
    clear: both;
    margin: 0;
    padding: 10px 0 0 0;
    text-align: center;
    border-top: #fff solid 1px;
}
.guide_area p {
    font-size: 14px;
    font-weight: bold;
    line-height: 2.4;
}
.guide_area a {
    padding: 0.5em 0.3em;
    margin: 0.5em 0.1em;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .guide_area p {
        font-size: 12px;
    }
}
footer.global_footer p.copyright {
    margin: 0;
    text-align: center;
    padding: 10px 0;
}
/*-------------------------------------------------
検索バー
----------------------------------------------- */
#search_area {
    padding: 10px;
    background: #E7E8E9;
    clear: both;
    text-align: center;
}
/*jqm追記*/
#search_area .ui-input-search {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border: #CCC solid 1px;
}
.ui-input-text {
    width: 100% !important;
}
