#monolog:
#    handlers:
#        buffered:
#            type:     buffer
#            handler:  easylog
#            channels: ["!event"]
#            level:    debug
#        easylog:
#            type: service
#            id:   easycorp.easylog.handler
