@charset "utf-8";
/* ===================================================================
CSS information
file name  :mypage.css
style info :マイページ
=================================================================== */
/* -----------------------------------------------
MYページ汎用
----------------------------------------------- */
#mypagecolumn {
    width: 100%;
    padding-bottom: 35px;
}
#mypagecolumn h2.title {
    font-size: 18px;
    border-bottom: #CCC solid 1px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    margin-bottom: 0!important;
}
h3.title_mypage {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 10px;
    padding: 10px 10px 15px 25px;
    background: url(../img/common/bg_tit_bar.png) 10px 12px no-repeat;
    -webkit-box-shadow: 1px 5px 5px #E2E2E2;
    -moz-box-shadow: 1px 5px 5px #E2E2E2;
}
/**イントロダクション*/
#mypagecolumn .information {
    font-size: 12px;
    padding: 10px 10px 0 10px;
    border-bottom: 0;
    font-weight: normal;
}
#mypagecolumn .information p:first-child {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
}
/*-----------------------------------------------
MYページナビ
----------------------------------------------- */
#mypage_nav {
    width: 100%;
    background: #DAE0E5;
    background: -moz-linear-gradient(center top, #FDFDFD 0%,#DAE0E5 90%,#DAE0E5 0%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FDFDFD),color-stop(0.9, #DAE0E5),color-stop(0, #DAE0E5));
    margin-bottom: 15px;
    -webkit-box-shadow: 1px 5px 5px #EEEEEE;
    -moz-box-shadow: 1px 5px 5px #EEEEEE;
}
#mypage_nav ul {
    width: auto;
    clear: both;
    margin: 0 auto;
}
#mypage_nav ul li {
    float: left;
    text-align: center;
    border-left: #FFF solid 1px;
    border-right: #CCC solid 1px;
    border-bottom: #CCC solid 1px;
    white-space: nowrap;
}
#mypage_nav ul li a {
    color: #000;
    padding: 9px 0 8px 0;
    display: block;
    text-shadow: 0px -1px 1px rgba(255,255,255,0.7);
    background-color: #DAE0E5;
    background: -moz-linear-gradient(center top, #EEF0F3 0%,#DAE0E5 90%,#DAE0E5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EEF0F3),color-stop(0.9, #DAE0E5),color-stop(1, #DAE0E5));
}
#mypage_nav ul li a:hover {
    color: #FFF;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
    background: #5393c5;
    background: -moz-linear-gradient(center top, #5393c5 10%,#80b6e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5393c5),color-stop(1, #80b6e2));
}
#mypage_nav ul li.nav_delivadd,
#mypage_nav ul li.nav_change {
    width: 49.7%;
}
#mypage_nav ul li.nav_history,
#mypage_nav ul li.nav_favorite,
#mypage_nav ul li.nav_refusal {
    width: 33%;
}
#mypage_nav li:first-child {
    border-left: none;
}
#mypage_nav li:nth-child(3) {
    border-top: #FFF solid 1px;
    border-left: none;
}
#mypage_nav li:nth-child(4),
#mypage_nav li:nth-child(5) {
    border-top: #FFF solid 1px;
}

#mypage_nav li:last-child,
#mypage_nav li:nth-child(2) {
    border-right: none;
}

/* -----------------------------------------------
購入履歴詳細
----------------------------------------------- */
#mypagecolumn .cartitemBox {
    padding: 10px 0;
}

#historyBox {
    padding: 10px 10px 5px;
    background: #F7F5F0;
    border: #A9ABAD solid 1px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    margin-bottom: 10px;
}
#historyBox p {
    font-size: 12px;
    width: 60%;
    display: inline;
    float: left;
}
#historyBox .btn_reorder {
	width: auto;
    min-width: 3.5em;
    float: right;
    padding: 15px;
    display: inline;
    margin: 0;
}
#mypagecolumn .cartinContents div {
    min-height: 65px;
}

#mypagecolumn .cartinContents ul li.result {
    padding-top: 0!important;
    padding-left: 1em;
}
/*メール履歴詳細*/
#news_area li {
    padding: 10px;
    display: block;
    clear: both;
    line-height: 1.3;
    background-color: #FEFEFE;
    background: -moz-linear-gradient(center top, #FEFEFE 0%,#eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE),color-stop(1, #eeeeee));
    border-top: #FFF solid 1px;
    border-bottom: #CCC solid 1px;
}
/* -----------------------------------------------
お気に入り
----------------------------------------------- */
.favoriteBox {
    padding: 10px;
    border-bottom: #CCC solid 1px;
    clear: both;
    position: relative;
}
.favoriteBox:last-child {
    border-bottom: none;
}
.favoriteBox .photoL {
    width: 80px;
}
.favoriteContents {
    width: 65%;
    float: right;
    display: block;
    position: relative;
}

.favoriteContents h4 {
    margin-right: 30px;
}

.favoriteContents .btn_delete {
    padding: 1px;
    right: 0;
    float: right;
    position: absolute;
    top: 0;
}

/* -----------------------------------------------
会員登録内容変更
----------------------------------------------- */
#mypagecolumn .thankstext {
    padding: 15px 10px 10px 10px;
}
/* -----------------------------------------------
お届け先追加・変更
----------------------------------------------- */
#mypagecolumn .btn_area_top {
    margin-top: 10px;
}
.delivBox {
    padding: 10px 10px 5px 10px;
    border-bottom: #CCC solid 1px;
    clear: both;
    position: relative;
}

.delivBox:last-child {
    border-bottom: none;
}

/* -----------------------------------------------
退会手続き
----------------------------------------------- */
.refusetxt {
    padding: 15px 10px 10px 10px;
}
.refusetxt p:first-child {
    margin-bottom: 10px;
}
.btn_refuse {
    padding: 0;
    margin: 20px auto 0 auto;
}
.btn_refuse li {
    display: inline-block;
    vertical-align: middle;
}
.btn_refuse a.btn,
.btn_refuse input[type="submit"].btn {
    font-size: 13px!important;
    display: inline;
}
.btn_refuse li:first-child {
    margin-right: 1em;
}
