<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <remove segment="app" />
                    <remove segment="src" />
                    <remove segment="vendor" />
                    <remove segment="tests" />
                </hiddenSegments>
            </requestFiltering>    
        </security>
    </system.webServer>
</configuration>