/*
 * Copyright © 2000-2006 LOCKON CO.,LTD. All Rights Reserved.
 *
 * http://www.lockon.co.jp/
 */
@charset "euc-jp";

/***右コンテンツ***/
#container #right #maintitle{
border: 0;
margin: 0 0 15px 0;
padding: 0;
width: 570px;
}

#container #right #comment{
border: 0;
margin: 0 0 15px 0;
padding: 0;
width: 480px;
}

/*テーブル*/
#container #right #frame{
border: 0;
margin: 0;
padding: 0;
width: 570px;
background: #ccc;
}

#container #right #frame #left{
background: #ecf5ff;
width: 170px;
}

#container #right #frame #right{
background: #fff;
width: 357px;
}

/*ボタン*/
#container #right #button{
border: 0;
margin: 30px 0 15px 0;
padding: 0;
text-align: center;
}