<ul class="level1">
    <li id="navi-order-index"><a href="{{ url('admin_order') }}"><span>受注管理</span></a></li>
    <li id="navi-order-add"><a href="{{ url('admin_order_new') }}"><span>受注登録</span></a></li>
    <li id="navi-order-status"><a href="{{ url('admin_order_status_default') }}"><span>対応状況管理</span></a></li>
</ul>
