.ec-navlistRole{
  &__navlist {
    border-color: $gray-300;
    border-style: solid;
    border-width: 1px 0 0 1px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 32px;
    padding: 0;

    @include media-breakpoint-up(md) {
      flex-wrap: nowrap;
    }
  }

  &__item{
    border-color: $gray-300;
    border-style: solid;
    border-width: 0 1px 1px 0;
    text-align: center;
    width: 50%;

    a {
      color: $black;
      display: inline-block;
      padding: 16px;
      width: 100%;

      &:hover{
        background: $gray-100;
      }
    }
  }

  .active {
    a {
      color: $blue;
      font-weight: bold;
    }
  }
}