.accordion {
  > .card {
    border-radius: 0;

    .card-header {
      border-bottom: none;
      margin-bottom: 0;
    }

    &:first-of-type {
      @extend .border-bottom;
      margin-bottom: -$card-border-width;
    }
  }

  .accordion-content {
    border-top: $card-border-width solid $card-border-color;
  }

  button {
    @extend .d-flex;
    align-items: center;
    justify-content: space-between;
    outline: none;
    padding: 0;
    width: 100%;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &.collapsed {
      i::before {
        content: "\f067"; 
      }
    }
  }
}
