.ec-progress {
  display: table;
  list-style: none;
  margin: 0 auto;
  padding: remCalc(8px) 0 remCalc(16px);
  table-layout: fixed;
  width: 100%;

  @include media-breakpoint-up(md) {
    margin-bottom: remCalc(30px);
    margin-top: remCalc(30px);
    padding: 0;
  }

  & &__item{
    @include font-size(14px);
    display:table-cell;
    position: relative;
    text-align: center;
    font-weight: bold;
    z-index: 10;

    &:after {
      @include position(absolute, 1.25em null null 50%, -1);
      @include size(100% 3px);
      background: $gray-700;
      content: '';
      display: block;
    }

    &:last-child:after {
      display: none;
    }
  }
  & &__number{
    @include font-size(12px);
    @include size(30px);
    align-items: center;
    background: $gray-700;
    border-radius: 50%;
    color: $white;
    display: inline-flex;
    justify-content: center;
    margin-bottom: remCalc(5px);

    @include media-breakpoint-up(md) {
      @include font-size(20px);
      @include size(42px);
    }
  }
  & &__label {
    @include font-size(12px);
  }
  .is-complete {
    .ec-progress__number {
      background: $blue;
    }
    .ec-progress__label {
      color: $blue;
    }
  }
}