.eccube-footer {
  background: $black;
  color: $white;

  a {
    color: $white;

    &:hover {
      color: $white;
    }
  }
}

.footer-links {
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    border-bottom: 1px solid $gray-600;
    
    a {
      display: block;
      padding: 15px;
      text-align: center;

      &:hover,
      &:focus {
        opacity: .8;
      }
    }
  }

  @include media-breakpoint-up(md) {
    display: flex;
    padding: 15px 0;

    li {
      border: none;
    }
  }
}

.footer-content {
  padding-bottom: remCalc(60px);
  padding-top: remCalc(40px);
  text-align: center;
}