/* Postal Code */
.page-postalcode {
  @include media-breakpoint-down(sm) {
    .form-group {
      width: 100%;
    }
    
    #keyword,
    button {
      width: 100%;
    }

    input {
      margin-bottom: 10px;
    }
  }
}