img {
  max-width: 100%;
}

.seperate-line {
  background: $black;
  display: block;
  height: 1px;
  margin: 12px auto;
  width: 20%;
}

.ec-vertical-line {
  @include size(1px 16px);
  align-self: center;
  background-color: $black;
  display: inline-flex;
  margin: 0 remCalc(20px);
}

.page-heading {
  @extend .border-bottom;
  margin-bottom: remCalc(15px);
  padding-top: remCalc(15px);
  padding-bottom: remCalc(10px);
}

body.have_curtain {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.clear-margin-label {
  @include media-breakpoint-up(md) {
    label {
      margin-bottom: 0;
    }
  }
}