http_url: ${HTTP_URL}
https_url: ${HTTPS_URL}
auth_magic: ${AUTH_MAGIC}
password_hash_algos: sha256
# duplicated
shop_name: ${SHOP_NAME}
mail_cc:
    - eccube@example.com
ECCUBE_VERSION: 3.0.0-dev
customer_confirm_mail: false
form_country_enable: false
default_password: '******'
target_id_unused: 0
target_id_left: 1
target_id_main_head: 2
target_id_right: 3
target_id_main_foot: 4
target_id_top: 5
target_id_bottom: 6
target_id_head: 7
target_id_head_top: 8
target_id_footer_bottom: 9
target_id_header_internal: 10
