http_url: ${HTTP_URL}
https_url: ${HTTPS_URL}
auth_magic: ${AUTH_MAGIC}
password_hash_algos: sha256
# duplicated
shop_name: ${SHOP_NAME}
mail_cc:
    - eccube@example.com
ECCUBE_VERSION: 3.0.0-dev
customer_confirm_mail: false
form_country_enable: false
default_password: '******'
force_ssl: 0
admin_allow_host: 