admin_home_urlpath: /admin/home.php
admin_id: '1'
admin_log_realfile: /PATH/TO/WEB_ROOT/data/logs/admin.log
admin_login_urlpath: /admin/
admin_logout_urlpath: /admin/logout.php
admin_mode: 0
admin_news_startyear: 2005
admin_order_edit_urlpath: /admin/order/edit.php
admin_order_mail_urlpath: /admin/order/mail.php
admin_order_urlpath: /admin/order/
admin_products_urlpath: /admin/products/
admin_system_urlpath: /admin/system/
admin_title: 'EC-CUBE 管理機能'
amount_len: 6
api_enable_flag: false
auth_type: HMAC
birth_month_point: 0
birth_year: 1901
bloc_dir: frontparts/bloc/
cart_url: 'http://ec-cube.eccube.localhost/cart/'
category_head: '>'
category_max: 1000
cert_string: 7WDhcBTF
char_code: UTF-8
close_day: 31
compile_admin_realdir: /PATH/TO/WEB_ROOT/data/Smarty/templates_c/admin/
compile_realdir: /PATH/TO/WEB_ROOT/data/Smarty/templates_c/default/
cookie_expire: 365
credit_add_year: 10
credit_no_len: 4
csv_line_max: 10000
csv_size: 2000
csv_temp_realdir: /PATH/TO/WEB_ROOT/data/upload/csv/
customer_confirm_mail: false
customer_log_realfile: /PATH/TO/WEB_ROOT/data/logs/customer.log
cv_payment_limit: 14
db_log_realfile: /PATH/TO/WEB_ROOT/data/logs/db.log
debug_log_realfile: ''
debug_mode: false
default_country_id: 392
default_password: '******'
default_product_disp: 2
default_product_down: 1
default_template_name: default
deliv_addr_max: 20
deliv_date_end_max: 21
deliv_free_amount: 0
deliv_urlpath: /shopping/deliv.php
delivfee_max: 47
delivtime_max: 16
device_type_admin: 99
device_type_mobile: 1
device_type_pc: 10
device_type_smartphone: 2
disabled_rgb: '#C9C9C9'
down_save_realdir: /PATH/TO/WEB_ROOT/data/download/save/
down_size: 50000
down_temp_realdir: /PATH/TO/WEB_ROOT/data/download/temp/
download_block: 1024
download_days_len: 3
download_extension: 'zip,lzh,jpg,jpeg,gif,png,mp3,pdf,csv'
downloads_temp_plugin_install_dir: /PATH/TO/WEB_ROOT/data/downloads/tmp/plugin_install/
downloads_temp_plugin_update_dir: /PATH/TO/WEB_ROOT/data/downloads/tmp/plugin_update/
eccube_info: true
eccube_payment: EC-CUBE
entry_limit_hour: 1
entry_url: 'http://ec-cube.eccube.localhost/entry/'
err_color: '#ffe8e8'
error_log_realfile: /PATH/TO/WEB_ROOT/data/logs/error.log
favorite_error: 13
file_name_len: 10
file_size: 10000
forgot_mail: 0
form_country_enable: false
graph_label_max: 40
graph_pie_max: 10
graph_realdir: /PATH/TO/WEB_ROOT/src/Eccube/Repository/Master/upload/graph_image/
graph_urlpath: /upload/graph_image/
hook_point_preprocess: LC_Page_preProcess
hook_point_process: LC_Page_process
http_request_timeout: '5'
id_max_len: 50
id_min_len: 4
image_rename: true
image_save_realdir: /PATH/TO/WEB_ROOT/src/Eccube/Repository/Master/upload/save_image/
image_save_rss_url: 'http://ec-cube.eccube.localhost/upload/save_image/'
image_save_urlpath: /upload/save_image/
image_size: 1000
image_temp_realdir: /PATH/TO/WEB_ROOT/src/Eccube/Repository/Master/upload/temp_image/
image_temp_rss_url: 'http://ec-cube.eccube.localhost/upload/temp_image/'
image_temp_urlpath: /upload/temp_image/
input_deliv_fee: 1
input_zip_urlpath: /input_zip.php
int_len: 9
large_image_height: 500
large_image_width: 500
large_subimage_height: 500
large_subimage_width: 500
category_nest_level: 5
lltext_len: 99999
locale: ja_JP.UTF-8
log_realfile: /PATH/TO/WEB_ROOT/data/logs/site.log
login_frame: login_frame.tpl
login_retry_interval: 0
ltext_len: 3000
main_frame: main_frame.tpl
master_data_realdir: /PATH/TO/WEB_ROOT/data/cache/
max_lifetime: 7200
max_log_quantity: 5
max_log_size: '1000000'
member_pmax: 10
mltext_len: 1000
mobile_cart_urlpath: /cart/
mobile_compile_realdir: /PATH/TO/WEB_ROOT/data/Smarty/templates_c/mobile/
mobile_default_template_name: mobile
mobile_image_realdir: /PATH/TO/WEB_ROOT/src/Eccube/Repository/Master/upload/mobile_image/
mobile_image_urlpath: /upload/mobile_image/
mobile_p_detail_urlpath: '/products/detail.php?product_id='
mobile_session_lifetime: 1800
mobile_shopping_complete_urlpath: /shopping/complete.php
mobile_shopping_confirm_urlpath: /shopping/confirm.php
mobile_shopping_payment_urlpath: /shopping/payment.php
mobile_template_name: mobile
mobile_template_realdir: /PATH/TO/WEB_ROOT/data/template/mobile/
mobile_top_urlpath: /
module_dir: downloads/module/
module_realdir: /PATH/TO/WEB_ROOT/data/downloads/module/
mtext_len: 200
multiple_urlpath: /shopping/multiple.php
mypage_delivaddr_urlpath: /mypage/delivery.php
mypage_order_status_disp_flag: true
navi_pmax: 4
no_image_realfile: /PATH/TO/WEB_ROOT/src/Eccube/Repository/Master/user_data/packages/default/img/picture/img_blank.gif
normal_image_height: 260
normal_image_width: 260
normal_price_title: 通常価格
normal_subimage_height: 200
normal_subimage_width: 200
nostock_hidden: false
option_class_regist: 1
option_deliv_fee: 1
option_favorite_product: 1
option_product_deliv_fee: 0
option_recommend: 1
order_back_order: 4
order_cancel: 3
order_deliv: 5
order_new: 1
order_pay_wait: 2
order_pending: 7
order_pre_end: 6
order_processing: 8
order_status_max: 50
ostore_log_realfile: /PATH/TO/WEB_ROOT/data/logs/ownersstore.log
ostore_sslurl: 'https://www.ec-cube.net/'
ostore_url: 'http://www.ec-cube.net/'
p_detail_urlpath: '/products/detail.php?product_id='
page_display_time_log_min_exec_time: 2
page_display_time_log_mode: 1
password_max_len: 50
password_min_len: 4
pear_db_debug: 0
pear_db_persistent: false
pending_order_cancel_flag: true
pending_order_cancel_time: 900
percentage_len: 3
plugin_activate_flag: true
plugin_dir: plugins/
plugin_extension: 'tar,tar.gz'
plugin_html_realdir: /PATH/TO/WEB_ROOT/src/Eccube/Repository/Master/plugin/
plugin_html_urlpath: /plugin/
plugin_log_realfile: /PATH/TO/WEB_ROOT/data/logs/plugin.log
plugin_realdir: /PATH/TO/WEB_ROOT/src/Eccube/Repository/Master/user_data/plugins/
plugin_temp_realdir: /PATH/TO/WEB_ROOT/src/Eccube/Repository/Master/upload/temp_plugin/
plugin_upload_realdir: /PATH/TO/WEB_ROOT/data/downloads/plugin/
point_rule: 2
point_value: 1
price_len: 8
product_type_download: 2
product_type_normal: 1
products_total_max: 15
productsub_max: 5
recommend_num: 8
recommend_product_max: 6
release_year: 2005
review_allow_url: 0
review_regist_max: 5
rfc_compliant_email_check: false
sale_price_title: 販売価格
sample_address1: '市区町村名 (例：千代田区神田神保町)'
sample_address2: '番地・ビル名 (例：1-3-5)'
search_category_len: 18
search_pmax: 10
select_rgb: '#ffffdf'
sepa_catnavi: ' > '
session_keep_method: useCookie
session_lifetime: 1800
shopping_complete_urlpath: /shopping/complete.php
shopping_confirm_urlpath: /shopping/confirm.php
shopping_module_urlpath: /shopping/load_payment_module.php
shopping_payment_urlpath: /shopping/payment.php
shopping_url: 'http://ec-cube.eccube.localhost/shopping/'
site_frame: site_frame.tpl
sltext_len: 500
small_image_height: 130
small_image_width: 130
smartphone_compile_realdir: /PATH/TO/WEB_ROOT/data/Smarty/templates_c/sphone/
smartphone_default_template_name: sphone
smartphone_template_name: sphone
smartphone_template_realdir: /PATH/TO/WEB_ROOT/data/template/sphone/
smarty_force_compile_mode: false
smarty_templates_realdir: /PATH/TO/WEB_ROOT/data/Smarty/templates/
smtext_len: 100
sql_query_log_min_exec_time: 2
sql_query_log_mode: 1
start_birth_year: 1970
stext_len: 50
tax_rule_priority: 'product_id,product_class_id,pref_id,country_id'
tel_item_len: 6
tel_len: 12
template_admin_realdir: /PATH/TO/WEB_ROOT/data/template/admin/
template_name: default
template_realdir: /PATH/TO/WEB_ROOT/data/template/default/
template_size: 10000
template_temp_realdir: /PATH/TO/WEB_ROOT/src/Eccube/Repository/Master/upload/temp_template/
top_url: 'http://ec-cube.eccube.localhost/'
transaction_id_name: transactionid
update_http: 'http://www.ec-cube.net/info/index.php'
update_send_site_info: false
url_len: 1024
use_mobile: true
use_multiple_shipping: true
use_normalize_hostname: true
use_point: true
use_verbose_log: false
user_def_php_realfile: /PATH/TO/WEB_ROOT/data/__default.php
user_dir: user_data/
user_package_dir: packages/
user_realdir: /PATH/TO/WEB_ROOT/src/Eccube/Repository/Master/user_data/
user_template_realdir: /PATH/TO/WEB_ROOT/src/Eccube/Repository/Master/user_data/packages/
user_url: 'http://ec-cube.eccube.localhost/user_data/'
zip_download_url: 'http://www.post.japanpost.jp/zipcode/dl/kogaki/zip/ken_all.zip'
zip01_len: 3
zip02_len: 4
default_page_count: 10
admin_product_stock_status: 3
enabled: 1
disabled: 0
eccube_info_url: 'https://www.ec-cube.net/info/3/'
customer_reset_expire: 10