database:
    driver: '${DBDRIVER}'
    host: '${DBSERVER}'
    dbname: '${DBNAME}'
    port: '${DBPORT}'
    user: '${DBUSER}'
    password : '${DBPASS}'
    charset: utf8
    defaultTableOptions: { collate: utf8_general_ci }
