# duplicated
root: ${ROOT_URLPATH}/ # root_urlpath
admin_dir: ${ADMIN_ROUTE}/ # admin_route
tpl: ${ROOT_URLPATH}/user_data/packages/default/ # front_urlpath
admin_tpl: ${ROOT_URLPATH}/user_data/packages/admin/ # admin_urlpath
image_path: ${ROOT_URLPATH}/upload/save_image/ # image_save_urlpath

# base valiables
root_dir: ${ROOT_DIR}
root_urlpath: ${ROOT_URLPATH}
template_code: ${TEMPLATE_CODE}

# routing
admin_route: ${ADMIN_ROUTE}
user_data_route: ${USER_DATA_ROUTE}

# realdir::image
image_save_realdir: ${ROOT_DIR}/html/upload/save_image
image_temp_realdir: ${ROOT_DIR}/html/upload/temp_image

# realdir::user_data
user_data_realdir: ${ROOT_DIR}/html/user_data

# realdir::block
block_default_realdir: ${ROOT_DIR}/src/Eccube/Resource/template/default/Block
block_realdir: ${ROOT_DIR}/app/template/${TEMPLATE_CODE}/Block
user_block_realdir: ${ROOT_DIR}/html/user_data/block

# realdir::template
template_default_realdir: ${ROOT_DIR}/src/Eccube/Resource/template/default
template_default_html_realdir: ${ROOT_DIR}/html/template/default
template_admin_realdir: ${ROOT_DIR}/src/Eccube/Resource/template/admin
template_admin_html_realdir: ${ROOT_DIR}/html/template/admin
template_realdir: ${ROOT_DIR}/app/template/${TEMPLATE_CODE}
template_html_realdir: ${ROOT_DIR}/html/template/${TEMPLATE_CODE}
template_temp_realdir: ${ROOT_DIR}/app/cache/eccube/template

# realdir::csv
csv_temp_realdir: ${ROOT_DIR}/app/cache/eccube/csv

# urlpath
admin_urlpath: ${ROOT_URLPATH}/template/admin
front_urlpath: ${ROOT_URLPATH}/template/${TEMPLATE_CODE}
image_save_urlpath: ${ROOT_URLPATH}/upload/save_image
image_temp_urlpath: ${ROOT_URLPATH}/upload/temp_image
user_data_urlpath: ${ROOT_URLPATH}/user_data
