@charset "utf-8";

/* スマートフォン用グラデーションボタン
----------------------------------------------- */
.spbtn {
display: block;
margin: 0.5em auto 0.3em;
padding: 0.4em 0;
font: bold large helvetica;
text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
vertical-align: middle;
text-align:center;
text-decoration: none;
color: #ffffff;
background-color: #666666;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.2)), color-stop(0.5, rgba(255,255,255,0.05)), color-stop(0.51, rgba(0,0,0,0.05)));
border: solid 2px #666666;
-webkit-border-radius: 8px;
-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.7);
}
.spbtn:before {
content: "";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
a.spbtn {
width: 79%;
max-width: 236px;
}
input.spbtn {
width: 80%;
max-width: 240px;
}

/* ボタン大（汎用）
----------------------------------------------- */
.spbtn-normal {
color: #ffffff;
border: solid 2px #666666;
background-color: #666666;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.2)), color-stop(0.5, rgba(255,255,255,0.05)), color-stop(0.51, rgba(0,0,0,0.05)));
}

/* ボタン大（承諾、送信）
----------------------------------------------- */
.spbtn-agree {
color: #ffffff;
border: solid 2px #666666;
background-color: #8DCB66;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.2)), color-stop(0.5, rgba(255,255,255,0.05)), color-stop(0.51, rgba(0,0,0,0.05)));
}

/* ボタン大（キャンセル、退会）
----------------------------------------------- */
.spbtn-cancel {
color: #ffffff;
border: solid 2px #666666;
background-color: #fc4743;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.2)), color-stop(0.5, rgba(255,255,255,0.05)), color-stop(0.51, rgba(0,0,0,0.05)));
}

/* ボタン中（お問い合わせ、友達に教える）
----------------------------------------------- */
.spbtn-medeum {
display: block;
margin: 0.5em auto 0.3em;
font: bold 15px helvetica;
border: solid 1px #666666;
text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
-webkit-border-radius: 6px;
-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.7);
}
a.spbtn-medeum {
width: 59%;
max-width: 178px;
}
input.spbtn-medeum {
width: 60%;
max-width: 180px;
}

/* ボタン小（お気に入りに登録、住所自動入力）
----------------------------------------------- */
.spbtn-small {
display: inline-block;
margin: 0;
padding: 0.2em 0.4em;
color: #ffffff;
text-shadow: 0px -1px 1px rgba(0,0,0,1);
font: bold 13px helvetica;
font-weight: bold;
background-color: #666666;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.2)), color-stop(0.5, rgba(255,255,255,0.05)), color-stop(0.51, rgba(0,0,0,0.05)));
text-align:center;
vertical-align: middle;
text-decoration: none;
border: solid 1px #333333;
-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}


/* ×ボタン (お気に入りから削除)
----------------------------------------------- */
.spbtn-delete {
display: inline-block;
line-height: 1em;
width: 1em;
height: 1em;
margin: 0;
margin-left: 5px;
padding: 0;
color: #ffffff;
text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
font-family: verdana;
font-weight: bold;
background-color: #333333;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.2)), color-stop(0.5, rgba(255,255,255,0.05)), color-stop(0.51, rgba(0,0,0,0.05)));
text-align:center;
vertical-align: middle;
text-decoration: none;
-webkit-border-radius: 4px;
border: solid 1px #666666;
}

/* ログイン・会員登録・マイページボタン
----------------------------------------------- */
#block-login .spbtn{
color:#292929;
text-shadow: 1px 1px 1px #cccccc;
float: left;
font-size: medium;
background-color: #c9c9c9;
background-image: -webkit-gradient(linear, left top, left bottom, from(#c9c9c9), to(#848484), color-stop(0.6, #a1a1a1));
margin: 0;
margin-left: -1px;
border: none;
border-left: 1px solid #818181;
-webkit-border-radius: 0px;
-webkit-box-shadow: none;
}
#block-login .spbtn:first-child{
width: 50%;
border-left: none;
margin-left: 0px;
-webkit-border-top-left-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
}
#block-login .spbtn:last-child{
width: 50%;
-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
}
#block-login .spbtn:only-child{
width: 100%;
max-width: 100%;
-webkit-border-radius: 4px;
}
#block-login .spbtn > a{
}


/* 「TOPへ」ボタン
----------------------------------------------- */
#btn-top {
display:block;
position: absolute;
top: 4px;
right: 0.4em;
font: bold 12px helvetica;
width: 4.3em;
border: 1px solid rgba(0,0,0,0.5);
border-top: 1px solid rgba(0,0,0,0.7);
background-color: rgba(51,51,51,0.2);
background-color: #333332;
background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,0.01)), color-stop(.02,rgba(255,255,255,0.4)),color-stop(.5,rgba(255,255,255,0.3)));
-webkit-box-shadow: 0px 1px 1px rgba(255,255,255,0.3);
vertical-align: middle;
text-align: center;
text-decoration: none;
-webkit-border-radius: 5px;
}
#btn-top > a {
display: block;
margin-top: 0.5em;
margin-bottom: 0.5em;
color: #ffffff;
font: bold 12px helvetica;
text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
vertical-align: middle;
text-decoration: none;
}

/* ショッピング関連ボタン
----------------------------------------------- */
.spbtn-shopping {
display: block;
margin: 0.5em auto 0.3em;
font: bold 15px helvetica;
border: solid 1px #666666;
text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
color: #ffffff;
background-color: #fc4743;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.2)), color-stop(0.5, rgba(255,255,255,0.05)), color-stop(0.51, rgba(0,0,0,0.05)));
-webkit-border-radius: 6px;
-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.7);
}
a.spbtn-shopping {
width: 59%;
max-width: 178px;
}
input.spbtn-shopping {
width: 60%;
max-width: 180px;
}