@charset "utf-8";

/* スマートフォン用グラデーションボタン
----------------------------------------------- */
/*.spbtn {
display: block;
margin: 0.5em auto 0.3em;
padding: 0.4em 0;
font: bold large helvetica;
text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
vertical-align: middle;
text-align:center;
text-decoration: none;
color: #ffffff;
background-color: #666666;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.2)), color-stop(0.5, rgba(255,255,255,0.05)), color-stop(0.51, rgba(0,0,0,0.05)));
border: solid 2px #666666;
-webkit-border-radius: 8px;
-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.7);
}*/
.spbtn:before {
content: "";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
/*a.spbtn {
width: 79%;
max-width: 236px;
}*/
input.spbtn {
width: 100%;
}

/* ボタン大（汎用）
----------------------------------------------- */
.spbtn-normal {
color: #ffffff;
border: solid 2px #666666;
background-color: #666666;
/*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.2)), color-stop(0.5, rgba(255,255,255,0.05)), color-stop(0.51, rgba(0,0,0,0.05)));*/
}

/* ボタン大（承諾、送信）
----------------------------------------------- */
.spbtn-agree {
    background-color: #6dc935;
    border: 1px solid #666666;
    color: #FFFFFF;
    display: block;
    font: bold 120% helvetica;
    margin: 0.5em auto 0.3em;
    padding: 7px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.2)), color-stop(0.5, rgba(255,255,255,0.05)), color-stop(0.51, rgba(0,0,0,0.05)));
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.7);
	text-decoration:none;
}

/* ボタン大（キャンセル、退会）
----------------------------------------------- */
.spbtn-cancel {
color: #ffffff;
border: solid 2px #666666;
background-color: #fc4743;
/*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.2)), color-stop(0.5, rgba(255,255,255,0.05)), color-stop(0.51, rgba(0,0,0,0.05)));*/
}

/* ボタン中（お問い合わせ、友達に教える）
----------------------------------------------- */
.spbtn-medeum {
    background-color: #aaaaaa;
    border: 1px solid #666666;
    color: #FFFFFF;
    display: block;
    font: bold 120% helvetica;
    margin: 0 auto;
    padding: 7px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.2)), color-stop(0.5, rgba(255,255,255,0.05)), color-stop(0.51, rgba(0,0,0,0.05)));
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.7);
/*text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
-webkit-border-radius: 6px;
-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.7);*/
}
a.spbtn-medeum {
width: 95%;
text-decoration:none;
text-align:center;
}
input.spbtn-medeum {
width: 100%;
}

/* ボタン小（お気に入りに登録、住所自動入力）
----------------------------------------------- */
.spbtn-small {
display: inline-block;
margin: 0;
padding: 0.2em 0.4em;
color: #ffffff;
text-shadow: 0px -1px 1px rgba(0,0,0,1);
font: bold 100% helvetica;
font-weight: bold;
background-color: #666666;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.2)), color-stop(0.5, rgba(255,255,255,0.05)), color-stop(0.51, rgba(0,0,0,0.05)));
text-align:center;
vertical-align: middle;
text-decoration: none;
border: solid 1px #333333;
-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}


/* ×ボタン (お気に入りから削除)
----------------------------------------------- */
.spbtn-delete {
display: inline-block;
line-height: 1em;
width: 1em;
height: 1em;
margin: 0;
margin-left: 5px;
padding: 0;
color: #ffffff;
text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
font-family: verdana;
font-weight: bold;
background-color: #333333;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.2)), color-stop(0.5, rgba(255,255,255,0.05)), color-stop(0.51, rgba(0,0,0,0.05)));
text-align:center;
vertical-align: middle;
text-decoration: none;
-webkit-border-radius: 4px;
border: solid 1px #666666;
}

/* ログイン・会員登録・マイページボタン
----------------------------------------------- */

#block-login .spbtn{
    background-color: #666666;
    border-left: 1px solid #666666;
    color: #FFFFFF;
    display: block;
    float: left;
    margin: 5px 0;
    padding: 0.3em 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
    vertical-align: middle;
    width: 49.6%;
text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
background-color: #666666;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.2)), color-stop(0.5, rgba(255,255,255,0.05)), color-stop(0.51, rgba(0,0,0,0.05)));
}

#block-login .spbtn:first-child{
width: 49.6%;
border-left: none;
margin-left: 0px;
-webkit-border-top-left-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
}
#block-login .spbtn:last-child{
width: 49.6%;
-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
margin-left:1px
}
#block-login .spbtn:only-child{
width: 100%;
max-width: 100%;
-webkit-border-radius: 4px;
}
#block-login .spbtn > a{
}

/*ご利用規約はこちら　ボタン
------------------------------------------------*/
.kybtn{
    background-color: #666666;
    border-left: 1px solid #666666;
    color: #FFFFFF;
    display: block;
    float: left;
    margin: 5px 0;
    padding: 0.3em 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
    vertical-align: middle;
    width: 100%;
text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
background-color: #666666;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.2)), color-stop(0.5, rgba(255,255,255,0.05)), color-stop(0.51, rgba(0,0,0,0.05)));
}


/*住所自動入力　ボタン
------------------------------------------------*/
.oubtn{
    background-color: #666666;
    border-left: 1px solid #666666;
    color: #FFFFFF;
    display: block;
    float: left;
    margin: 5px 0;
    padding: 0.3em 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
    vertical-align: middle;
    width: 99%;
text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
background-color: #666666;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.2)), color-stop(0.5, rgba(255,255,255,0.05)), color-stop(0.51, rgba(0,0,0,0.05)));
}


/* 「TOPへ」ボタン
----------------------------------------------- */
#btn-top {
display:block;
position: absolute;
top: 4px;
right: 0.4em;
font: bold 100% helvetica;
width: 4.3em;
border: 1px solid rgba(0,0,0,0.5);
border-top: 1px solid rgba(0,0,0,0.7);
background-color: rgba(51,51,51,0.2);
background-color: #333332;
background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,0.01)), color-stop(.02,rgba(255,255,255,0.4)),color-stop(.5,rgba(255,255,255,0.3)));
-webkit-box-shadow: 0px 1px 1px rgba(255,255,255,0.3);
vertical-align: middle;
text-align: center;
text-decoration: none;
-webkit-border-radius: 5px;
}
#btn-top > a {
display: block;
padding-top: 0.3em;
padding-bottom: 0.4em;
color: #ffffff;
font: bold 100% helvetica;
text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
vertical-align: middle;
text-decoration: none;
}

/* ショッピング関連ボタン
----------------------------------------------- */
.spbtn-shopping {
    background-color: #6dc935;
    border: 1px solid #666666;
    color: #FFFFFF;
    display: block;
    font: bold 120% helvetica;
    margin: 0 auto;
    padding: 7px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.2)), color-stop(0.5, rgba(255,255,255,0.05)), color-stop(0.51, rgba(0,0,0,0.05)));
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.7);

/*display: block;
margin: 0.5em auto 0.3em;
font: bold 100% helvetica;
border: solid 1px #666666;
text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
color: #ffffff;
background-color: #fc4743;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.2)), color-stop(0.5, rgba(255,255,255,0.05)), color-stop(0.51, rgba(0,0,0,0.05)));
-webkit-border-radius: 6px;
-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.7);*/
}
a.spbtn-shopping {
width: 95%;
text-decoration:none;
margin:0;
text-align:center;
}
input.spbtn-shopping {
width: 100%;
margin:0;
}

p.addbtn {
margin-bottom:20px;
}