@charset "utf-8";

@import url("./width.css");

@import url("./common.css");
@import url("./iphone.css");

@import url("./button.css");
@import url("./table.css");

@import url("./wreckage.css");

@import url("./top.css");
@import url("./detail.css");
