@charset "utf-8";


/* カテゴリリスト（アコーディオン）
----------------------------------------------- */
#block-category li{
/*-webkit-transition: margin-top, opacity, height, line-height 0.3s ease-in;*/
-webkit-transition: opacity 0.3s ease-in;
-webkit-transition-delay: 0.2s;
clear: both;
}
#block-category ul li a , #block-category > ul > li > ul > li a{
margin: 0;
padding: 0.25em 0 0.25em 0;
}
#block-category ul li li{
border: none;
padding-bottom:0.5em;
}
.category_number_tag {
width: 2em;
float: right;
text-align: center;
color: #ffffff;
background-color: rgba(0,0,0,0.5);
-webkit-border-radius: 8px;
}

.category_body {
display: inline-block;
width: 70%;
}
.category_body > a {
display: inline-block;
width: 100%;
}

.category_header {
display: inline-block;
width: 1.5em;
background: transparent;
-webkit-border-radius: 8px;
}
.category_header.plus, .category_header.minus{
display: inline-block;
vertical-align: middle;
text-align: center;
line-height: 1em;
width: 1.4em;
background-color: #333333;
-webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.7);
-webkit-border-radius: 2px;
margin-right:1px;
}
.category_header + a{
margin-left: 0;
margin-right: 0;
width: auto;
font-weight: bold;
font-family: verdana;
}
.category_header.plus > a, .category_header.minus > a{
display: inline-block;
margin: 0;
padding: 0;
color:#ffffff;
text-shadow: 0px -1px 0px #888888;
text-decoration: none;
}

/* 検索ボックス
----------------------------------------------- */
#searchbox, #searchbar {
text-align: center;
}
#searchbox form[action*="products/list.php"] > input[type="text"], #searchbar form[action*="products/list.php"] > input[type="text"] {
width: auto;
margin-left: 0;
margin-right: 0;
font-size:100%;
}
#searchbox {
margin: 10px 0px;
padding-top: 8px;
padding-bottom: 8px;
width:100%;
background-color: rgba(51,51,51,0.6);
border: #000000;
-webkit-border-radius: 8px;
}
input, select {
font-size:100%;
}

input.search {
font-size:100%;
width:20%;
}

input.radio_btn {
width:5%;
}

select.birth {
width:30%;
}

select.birthT {
width:20%;
}

select.hint {
width:84%;
}

input#chk_id_1, input#chk_id_2 {
width:100%;
}

input.multi_nu {
    text-align: right;
    width: 50%;
}

input.pointP {
text-align:right;
}

input#pay_1, input#pay_2, input#pay_3, input#pay_4 {
width:30%;
}

/* ログイン
----------------------------------------------- */
.loginarea > p:first-child {
margin: 5px 0;
color:#4D576B;
font: bold 100% helvetica;
text-shadow: 0px 1px 1px #ffffff;
}
.loginbox {
padding: 10px;
background-color: #ffffff;
-webkit-border-radius: 8px;
-webkit-box-shadow: 0px 0px 4px #000000;
}
.loginarea .inputbox {
background-color: #f0f0f0;
padding: 5px;
-webkit-border-radius: 8px;
}
.inputtext {
padding-bottom:5px;
}
.inputtext02 {
font-size: 80%;
padding-bottom:15px;
}

input.box54 {
width:94%;
}