@charset "utf-8";
/* ===================================================================
CSS information
file name  :jqm.css
style info :jqmテーマ
=================================================================== */
/*jqm追記*/
/* F
-----------------------------------------------------------------------------------------------------------*/
.ui-bar-f {
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #74828B solid 1px;
    background: #bbb;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    background-image: -moz-linear-gradient(top, #6D7481, #494e57);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6D7481), color-stop(1, #494e57));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#dddddd', EndColorStr='#bbbbbb')";
}
.ui-bar-f,
.ui-bar-f input,
.ui-bar-f select,
.ui-bar-f textarea,
.ui-bar-f button {
    font-family: Helvetica, Arial, sans-serif;
}
.ui-bar-f .ui-link-inherit {
    color: #333;
}
.ui-bar-f .ui-link {
    color: #4265AE;
    font-weight: bold;
}
.ui-body-f {
    border: 1px solid	#ccc;
    color: #333333;
    text-shadow: none;
    background: #ffffff;
}
.ui-body-f,
.ui-body-f input,
.ui-body-f select,
.ui-body-f button {
    font-family: Helvetica, Arial, sans-serif;
}

.ui-body-f textarea {
    border: #4C4C4C solid 1px;
}

.ui-body-f .ui-link-inherit {
    color: #333333;
}
.ui-body-f .ui-link {
    color: #4265AE;
    font-weight: bold;
}
.ui-btn-up-f {
    border: 1px solid #ccc;
    background: #eee;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    text-shadow: 0 1px 1px #f6f6f6;
}
.ui-btn-up-f a.ui-link-inherit {
    color: #333;
}
.ui-btn-hover-f {
    border: 1px solid	#bbb;
    background: #dadada;
    font-weight: bold;
    color: #101010;
    cursor: pointer;
    text-shadow: 0 1px 1px 	#fff;
    text-decoration: none;
    background-image: -moz-linear-gradient(top, #ededed, #dadada);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ededed), color-stop(1, #dadada));
    -msfilter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ededed', EndColorStr='#dadada')";
}
.ui-btn-hover-f a.ui-link-inherit {
    color: #222;
}
.ui-btn-down-f {
    border: 1px solid	#808080;
    background: #fdfdfd;
    font-weight: bold;
    color: #111;
    text-shadow: 0 1px 1px	#ffffff;
    background-image: -moz-linear-gradient(top, #eeeeee, #fdfdfd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, #fdfdfd));
    -msfilter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#fdfdfd')";
}
.ui-btn-down-f a.ui-link-inherit {
    border: 1px solid	#808080;
    background: #ced0d2;
    font-weight: bold;
    color: #111;
    text-shadow: none;
    background-image: -moz-linear-gradient(top, #cccccc, #eeeeee);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cccccc), color-stop(1, #eeeeee));
    -msfilter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#cccccc', EndColorStr='#eeeeee')";
}
.ui-btn-up-f,
.ui-btn-hover-f,
.ui-btn-down-f {
    font-family: Helvetica, Arial, sans-serif;
}


.ui-link:link {
    color: #4265AE;
}
.ui-link:visited {
    color: #603E7D;
    font-weight: bold;
}


