@charset "utf-8";
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
header,
hgroup,
section,
article,
aside,
hgroup,
footer,
figure,
figcaption,
nav {
    margin: 0;
    padding: 0;
    /*font-size: 100%;*/
}
body {
    line-height: 1.0;
    -webkit-text-size-adjust: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
}
img {
    border: 0;
    vertical-align: bottom;
}
img a {
    border: 0;
    text-decoration: none;
}
ul,
ol {
    list-style: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input,
select {
    font-size: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

