@charset "utf-8";

/* テーブル(リスト)
----------------------------------------------- */
ul {
background: #fff;
border: 1px solid #B4B4B4;
font: bold 17px 'Helvetica-Bold';
padding: 0;   
margin: 10px 0;
text-align: left;
-webkit-border-radius: 8px;
}
ul li {
color: #999999;
border-top: 1px solid #B4B4B4;
list-style-type: none;
padding: 7px 10px 7px 10px;
}
li:first-child {
border-top: 0;
-webkit-border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
}
li:last-child {
-webkit-border-bottom-left-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
}

/* テーブル（リスト）上のリンク
----------------------------------------------- */
ul li a, li.img a + a {
color: #000;
text-decoration: none;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
display: block;
padding: 12px 10px 12px 10px;
margin: -10px;
}
ul li.img a + a {
margin: -10px 10px -20px -5px;
font-size: 17px;
font-weight: bold;
}
ul li.img a + a + a {
font-size: 14px;
font-weight: normal;
margin-left: -10px;
margin-bottom: -10px;
margin-top: 0;
}
ul li.img a + small + a {
margin-left: -5px;
}
ul li.img a + small + a + a {
margin-left: -10px;
margin-top: -20px;
margin-bottom: -10px;
font-size: 14px;
font-weight: normal;
}
ul li.img a + small + a + a + a {
margin-left: 0px !important;
margin-bottom: 0;
}
ul li a + a {
color: #000;
font: 14px 'Helvetica';
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
display: block;
margin: 0;
padding: 0;
}
ul li a + a + a, ul li.img a + a + a + a, ul li.img a + small + a + a + a {
color: #666;
font: 13px 'Helvetica';
margin: 0;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
display: block;
padding: 0;
}

/* table角丸(共通)
----------------------------------------------- */
table {
width: 100%;
max-width: 280px;
margin: 10px 0;
text-align: center;
vertical-align: middle;
border-collapse: collapse;
border-spacing: 0;
-webkit-border-radius: 8px;
-webkit-box-shadow: 0 0 4px #000000;
}
table tr {
border-bottom: solid 1px #cccccc;
-webkit-border-radius: 8px;
}
table > tr:last-child,
table > tbody > tr:last-child {
border-bottom: none;
}
table th, 
table td {
margin: 0;
max-width: 200px;
height: 2em;
background-color: #ffffff;
border: none;
-webkit-border-radius: 0;
}
table th {
background-color: #f0f0f0;
}
table td {
background-color: #ffffff;
}
table tr:first-of-type th:first-child,
table tr:first-of-type td:first-child {
-webkit-border-top-left-radius: inherit;
}
table tr:first-of-type th:last-child,
table tr:first-of-type td:last-child {
-webkit-border-top-right-radius: inherit;
}
table tr:last-of-type th:first-child,
table tr:last-of-type td:first-child {
-webkit-border-bottom-left-radius: inherit;
}
table tr:last-of-type th:last-child,
table tr:last-of-type td:last-child {
-webkit-border-bottom-right-radius: inherit;
}
table > thead tr:last-of-type th:first-child,
table > thead tr:last-of-type td:first-child,
table > thead tr:last-of-type th:last-child,
table > thead tr:last-of-type td:last-child {
-webkit-border-bottom-left-radius: 0;
-webkit-border-bottom-right-radius: 0;
}
table > thead + tbody > tr:first-of-type th:first-child,
table > thead + tbody > tr:first-of-type td:first-child,
table > thead + tbody > tr:first-of-type th:last-child,
table > thead + tbody > tr:first-of-type td:last-child {
-webkit-border-top-left-radius: 0;
-webkit-border-top-right-radius: 0;
}

/* テーブル（div）共通？
----------------------------------------------- */
#block {
width: 100%;
background-color: #ffffff;
-webkit-border-radius: 8px;
-webkit-box-shadow: 0px 0px 4px #000000;
margin: 10px 0;
}
.box-wrap {
display:inline-block;
width: 100%;
border-top: 1px solid #cccccc;
}
.box-wrap:first-child {
border-top: none;
-webkit-border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
}
.box-wrap:last-child {
-webkit-border-bottom-left-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
}
.box-photo {
float:left;
display:block;
margin-left: 10px;
margin-right: 10px;
position: relative;
}
.box-data {
display:block;
margin: 0px 8px;
text-align: left;
}
.box-data h3 {
margin: 0px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
-webkit-text-overflow: ellipsis;
}
.box-data h3 a {
font-size: 18px;
text-decoration: none;
}
.description, .box-comment {
font: bold 14px Osaka;
line-height: 1.5em;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
-webkit-text-overflow: ellipsis;
}
.price, .box-price {
color: #993333;
font: bold 14px Osaka;
line-height: 1.5em;
}

/* テーブル（div）(recomend、関連商品)
----------------------------------------------- */
.recomendblock,
.whoboughtblock{
margin-top: 0;
margin-bottom: 0;
}
.recomendblock > div ,
.whoboughtblock > div {
margin-top: 0;
margin-bottom: 0;
-webkit-border-radius: 0;
}
.recomendblock > div,
.whoboughtblock > div {
width: 100%;
display:inline-block;
background-color: #ffffff;
border-bottom: 1px solid #cccccc;
padding: 0.1em 0;
}
.recomendblock > div > a,
.recomendblock > div > div ,
.whoboughtblock > div > a,
.whoboughtblock > div > div{
float: left;
}
.recomendblock:first-of-type > div:first-of-type ,
.whoboughtblock:first-of-type > div:first-of-type {
-webkit-border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
}
.recomendblock:last-of-type > div:last-of-type ,
.whoboughtblock:last-of-type > div:last-of-type {
border-bottom: none;
-webkit-border-bottom-left-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
}
.recomendrightblock, 
.whoboughtrightblock{
width: 63%;
}
.recomendrightblock > h3,
.recomendrightblock > p,
.whoboughtrightblock > h3,
.whoboughtrightblock > p{
    margin-top: 0;
    margin-bottom: 0;
}
.recomendblock img,
.whoboughtblock img,
.listphoto {
float:left;
display:block;
margin: 3px 10px;
position: relative;
}
.recommend-photo img,
.listphoto img {
width: 80px;
}
.recommend-box h3 {
font-weight: bold;
font-size: 15px;
font-family: helvetica;
margin: 0.4em 0 0;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
-webkit-text-overflow: ellipsis;
}
.recommend-box h3 a {
font-size: 18px;
text-decoration: none;
}
.description,
.recommend-comment {
font-weight: normal;
font-size: 14px;
font-family: Osaka;
line-height: 1.5em;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
-webkit-text-overflow: ellipsis;
margin: 0;
}
.price,
.recommend-price {
color: #993333;
font-weight: bold;
font-size: 17px;
font-family: Osaka;
line-height: 1.5em;
margin-bottom: 0.3em;
}

/* アイテムリスト(div)の処理
----------------------------------------------- */
.listarea {
width: 100%;
background-color: #ffffff;
border-bottom: solid 1px #CCC;
margin: 0;
margin-top: 0;
margin-bottom: 0;
-webkit-border-radius: 0;
-webkit-box-shadow: none;
}
#page_navi_top + .listarea{
margin-bottom: 0;
-webkit-border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
}
.listarea:last-of-type{
border: none;
-webkit-border-bottom-left-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
}
.listrightblock > ul {
    border: none;
    background-color: transparent;
}
.listrightblock > h3,
.listrightblock > p,
.listrightblock > ul {
    margin-top: 0;
    margin-bottom: 0.1em;
}
.listrightblock > h3:first-child,
.listrightblock > p:first-child,
.listrightblock > ul:first-child,
margin-top: 0;
}
.listrightblock > ul > li {
margin: 0;
padding: 0 3px 0 0;
}
.listrightblock > h3:last-child,
.listrightblock > p:last-child {
margin-bottom: 0;
}

.newitem-line-list .newitem-box-wrap-end {
border-bottom: 1px solid #cccccc;
}

/* 商品検索結果
----------------------------------------------- */
#page_navi_top,
#page_navi_bottom {
border: none;
-webkit-box-shadow: none;
clear: both;
width: 100%;
border-spacing: 0 0;
border-collapse: collapse;
}
#page_navi_top tr,
#page_navi_bottom tr {
width: 100%;
}
#page_navi_top td,
#page_navi_bottom td {
text-align: left;
background-color: transparent;
}

.change a,
.change strong {
display: block;
float: left;
margin: 5px 0px;
padding: 0.3em 0;
color: #ffffff;
width: 49.6%;
text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
background-color: #666666;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.2)), color-stop(0.5, rgba(255,255,255,0.05)), color-stop(0.51, rgba(0,0,0,0.05)));
text-align:center;
vertical-align: middle;
text-decoration: none;
border-left: solid 1px #666666;
}
.change > a:first-child,
.change > strong:first-child {
border-left: none;
-webkit-border-top-left-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
}
.change > a:last-child,
.change > strong:last-child{
margin-left: 1px;
-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
}
.change select {
margin-right: 0;
}

/* テーブル・カゴ
----------------------------------------------- */

table[summary="商品情報"]{
	font-size:60%;
}

table[summary="商品情報"] tr:nth-child(even) td{
background-color: #ffffff;
}
table[summary="商品情報"] tr:nth-child(odd) td{
background-color: #f0f0f0;
text-align: left;
}

table[summary="商品情報"] td{

text-align: center;
vertical-align: middle;
max-width: 200px;
}
table[summary="商品情報"] tr:nth-child(even) td:last-child{
width: 15%;
overflow: visible;
}
table[summary="商品情報"] ul,
table[summary="商品情報"] ul li,
table[summary="商品情報"] ul li a {
display: inline;
margin: 0;
padding: 0;
border: none;
}
table[summary="商品情報"] ul li a{
display: inline-block;
margin: 1px;
padding:0;
}
table[summary="商品情報"] tr:nth-last-of-type(1) td,
table[summary="商品情報"] tr:nth-last-of-type(2) td,
table[summary="商品情報"] tr:nth-last-of-type(3) td {
background-color: #ffffff;
text-align: center;
}

/* テーブル・商品詳細
----------------------------------------------- */
#detailrightblock table th {
font-size: 15px;
font-weight: normal;
}

/* お問い合わせ
----------------------------------------------- */
#undercolumn_contact table td {
text-align: left;
}