@charset "utf-8";

/* ヘッダー
----------------------------------------------- */
#topbox {
position: relative;
width: 106.8%;
margin-left: -3.4%;
background-color: #333333;
}

/* ヘッダーロゴ
------------------------------------------------ */
#header {
    background-color: #ffffff;
    height: 95px;
    margin: 0 auto;
}
#header h1 {
margin: 0;
}
#header h1 a {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 301px;
    height: 81px;
    background: url("../img/header/logo.gif") no-repeat;
}
#header em {
    display: none;
}

/* 検索バー
----------------------------------------------- */
#searchbar {
border-top: 1px solid #5c5c5c;
border-bottom: 1px solid #000000;
background-color: #333333;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333333), to(#5C5C5C), color-stop(0.6,#2E2E2E));
width: 100%;
}

/* メンバーメニュー
----------------------------------------------- */
#block-login {
    display: block;
font-size: 100%;
    margin: 10px auto;
    width: 301px;
}

/* ニュース
----------------------------------------------- */
#block-news{
position: relative;
width: 106.8%;
margin-left: -3.4%;
//padding: 10px 0px;
height: 1.8em;
background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(#7A7A7A), to(#CCCCCC), color-stop(.07,#FFFFFF),color-stop(.9,#FFFFFF));
overflow: hidden;
}
.anews{
color: #666666;
font: /*bold*/ 90% Helvetica;
/*text-shadow: 1px 1px 2px rgba(0,0,0,0.3);*/
margin: 0.3em 10px;
/*opacity: 0;
-webkit-transition: all 1.0s ease-in-out;*/
position: absolute;
}
.anews.view{
opacity: 1.0;
left: 0;
width: 100%;
overflow: hidden;
white-space: nowrap; 
text-overflow: ellipsis;
}
.anews.right{
opacity: 0;
left: 2em;
}