@charset "utf-8";

.box60 {
width: 2.2em;
}

.box100 {
width: 3.2em;
}
.box120 {
width: 4.8em;
}

.box200 {
width: 190px;
}

.box300 {
width: 230px;
}
.box380 {
width: 250px;
}
/*
.area380 {
width: 94%;
}
*/