{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{ 'front.tradelaw.title'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    {% for tradelaw in tradelaws|filter(t => t.name and t.description)  %}
                    <dl>
                        <dt>
                            <label class="ec-label">{{ tradelaw.name }}</label>
                        </dt>
                        <dd>{{ tradelaw.description|raw }}</dd>
                    </dl>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
