@import "../library/_variable";
@import "../mixin/_media";

/*
グラフ

トップページに表示されるグラフのコンポーネントです。

Markup:
<div>
  <div class="c-graf--week">
    <div class="c-graf--week__container">
      <div class="c-graf--week__labelVertical">
        <div class="c-graf__label">100,000</div>
        <div class="c-graf__label">90,000</div>
        <div class="c-graf__label">80,000</div>
        <div class="c-graf__label">70,000</div>
        <div class="c-graf__label">60,000</div>
        <div class="c-graf__label">50,000</div>
        <div class="c-graf__label">40,000</div>
        <div class="c-graf__label">30,000</div>
        <div class="c-graf__label">20,000</div>
        <div class="c-graf__label">10,000</div>
        <div class="c-graf__label">0</div>
      </div>
      <div class="c-graf--week__graph">
        <hr style="top: 26px;">
        <hr style="top: 52px;">
        <hr style="top: 78px;">
        <hr style="top: 104px;">
        <hr style="top: 130px;">
        <hr style="top: 156px;">
        <hr style="top: 182px;">
        <hr style="top: 208px;">
        <hr style="top: 234px;">
        <hr style="top: 260px;">
        <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="" style="height: 165px; margin-top: 96px;" data-original-title="Tooltip"></div>
        <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="" style="height: 82px; margin-top: 179px;" data-original-title="Tooltip"></div>
        <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="" style="height: 200px; margin-top: 61px;" data-original-title="Tooltip"></div>
        <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="" style="height: 166px; margin-top: 95px;" data-original-title="Tooltip"></div>
        <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="" style="height: 165px; margin-top: 96px;" data-original-title="Tooltip"></div>
        <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="" style="height: 82px; margin-top: 179px;" data-original-title="Tooltip"></div>
        <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="" style="height: 200px; margin-top: 61px;" data-original-title="Tooltip"></div>
      </div>
    </div>
    <div class="c-graf--week__labelHorizontal">
      <div class="c-graf__label">月</div>
      <div class="c-graf__label">火</div>
      <div class="c-graf__label">水</div>
      <div class="c-graf__label">木</div>
      <div class="c-graf__label">金</div>
      <div class="c-graf__label">土</div>
      <div class="c-graf__label">日</div>
    </div>
  </div>
</div>

Styleguide 10.0
*/


.c-graf--week {
  overflow: hidden;
  width: 100%;
  & &__container {
    display: flex;
    width: 100%;
  }
  & &__labelVertical{
    .c-graf__label{
      font-size: 12px;
      line-height: 26px;
      text-align: right;
      padding-right: 10px;
    }
  }
  & &__graph {
    height: 261px;
    width: 100%;
    border: 1px solid #F0F0F0 ;
    position: relative;
    margin-top: 13px;
  }
  hr {
    border: none;
    position: absolute;
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background: #F0F0F0 ;
  }
  .c-graf__bar {
    float: left;
    text-align: center;
    position: relative;
    margin-left: calc((100% - 200px) / 7);
    width: 25px;
    background-color: #437EC4;
    transition: all .3s ease;
  }
  & &__labelHorizontal {
    margin-left: 60px;
    width: calc( 100% - 60px );
    display: flex;
    .c-graf__label{
      font-size: 12px;
      margin-left: calc((100% - 200px) / 7);
      width: 25px;
      text-align: center;
      padding-top: 6px;
    }
    .c-graf__label:first-of-type{
      //margin-left: 41px;
    }
  }
}
