@charset "euc-jp";
.fs10 {font-size: 62.5%; line-height: 150%;}
.fs12 {font-size: 75%; line-height: 150%;}
.fs14 {font-size: 87.5%; line-height: 150%;}
.fs18 {font-size: 117.5%; line-height: 150%;}
.fs22 {font-size: 137.5%; line-height: 130%;}
.fs24 {font-size: 150%; line-height: 130%;}
.fs30 {font-size: 187.5%; line-height: 125%;}
.fs10n {font-size: 62.5%;}
.fs12n {font-size: 75%;}
.fs14n {font-size: 87.5%;}
.fs18n {font-size: 117.5%;}
.fs22n {font-size: 137.5%;}
.fs24n {font-size: 150%;}
.fs30n {font-size: 187.5%;}
