@charset "euc-jp";

/*FORM*/
.box3 { width: 33px; }	/*W3*/
.box6 { width: 54px; }	/*W6*/
.box10 { width: 82px; }	/*W10*/
.box12 { width: 96px; }	/*W12*/
.box18 { width: 138px; }	/*W18*/
.box19 { width: 145px; }	/*W19*/
.box20 { width: 152px; }	/*W20*/
.box30 { width: 222px; }	/*W30*/
.box33 { width: 243px; }	/*W30*/
.box40 { width: 292px; }	/*W40*/
.box47 { width: 341px; }	/*W47*/
.area40 { width: 302px; height: 134px; }	/*W40?H8*/
.area45 { width: 337px; height: 290px; }	/*W40?H20*/
.area46 { width: 337px; height: 134px; }	/*W40?H8*/
.area50 { width: 372px; height: 290px; }	/*W50?H20*/
.area55 { width: 407px; height: 290px; }	/*W55?H20*/
.area65 { width: 444px; height: 290px; }	/*W65?H20*/
.area68 { width: 498px; height: 134px; }	/*W68?H8*/
.area80 { width: 572px; height: 134px; }	/*W80?H8*/
.area80_2 { width: 572px; height: 420px; }	/*W80?H30*/
.area92 { width: 666px; height: 160px; }	/*W92?H10*/
.area96 { width: 694px; height: 420px; }	/*W80?H30*/
.area96_2 { width: 694px; height: 160px; }	/*W80?H10*/

/*LINK*/
a:link { color: #3a75af; text-decoration: underline; }
a:visited { color: #3a75af; text-decoration: underline; }
a:hover { color: #3a75af; text-decoration: none; }

/*OVER*/
a.over:link{ color:#4a6fa6; text-decoration: none; }
a.over:visited { color:#4a6fa6; text-decoration: none; }
a.over:hover { color:#4a6fa6; text-decoration: underline; }

/*COLOR*/
.white { color: #ffffff; }
.whitest { color: #ffffff; font-weight: bold; }
.red { color: #ec0000; }
.redst { color: #ec0000; font-weight: bold; }
.red10 { color: #cc0000; font-size: 62.5%; line-height: 150%; }
.red12 { color: #cc0000; font-size: 75%; line-height: 150%; }
.red12st { color: #cc0000; font-weight: bold; font-size: 75%; line-height: 150%; }
.redst02 { color: #ff0000; font-weight: bold; }
.blue { color: #3a75af; }
.bluest { color: #3a75af; font-weight: bold; }
.black { color: #000000; }
.blackst { color: #000000; font-weight: bold; }
.orange { color: #ff6600; }
.orangest { color: #ff6600; font-weight: bold; }
.asterisk { color: #cc0000; }

/*PHOTO*/
.picture { 
	border-width: 1px;
	border-style: solid;
	border-color: #cccccc;
}

/*IMG*/
img {
border: 0;
}

/*TEXT*/
.indent12 { margin-left:12px; }
.indent18 { margin-left:18px; }
